span.input_pre {

}

div.card_content_padding {
    padding: 1rem 4rem !important;
}

div.flex_row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
/*.flex_column {*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

.flex_block {
    flex: 1 0 auto;
}
div.flex_row > div.top_header { flex: 1 0 auto; }

div.flex_block._zero {
    flex: 0 0 auto;
}
div.flex_block._half {
    min-width: 450px;
    flex: 0 0 auto !important;
}

div.flex_block.bordered {
    border-left: 1px solid #ccc;
    padding-left: 30px;
}
div.sheet_block_mini {
    flex:  1 0 auto;
    padding: 1rem;
    margin: 1rem;
}
div.sheet_block_mini > h3 {
    color: #535651;
}
div.sheet_block_mini > hr {
    border: none;
    height: 1px;
    background-color: #D3D3D3;
    margin: 0.5rem 0;
}
div.sheet_block_mini > table {
    width: 100%;
    /*margin: 0.5rem 1rem;*/
}
div.sheet_block_mini > table tr > td {
    padding: 0.5rem;
    height: 2.5rem;
}

div.sheet_block_mini > textarea {
    width: 100%;
    margin: 1rem 0;
}

div.tabbed_menu {
    width: 100%;
    /*background-color: #D3D3D3;*/
    padding: 0 0 0 20px;
}

div.tabbed_menu > ul {
    display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;
    list-style: none;
    margin: 0;
}

div.tabbed_menu > ul > li {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
}
div.tabbed_menu > ul > li.active {
    z-index: 100;
}
div.tabbed_menu > ul > li.active > a { background-color: white; }

div.tabbed_menu > ul > li > a {
    color: #4D4D4D;
    display: block;
    min-width: 100px;
    margin: 0  6px 0 0;
    padding: 0.8rem 1rem;
    background-color: #dbdfd9;;
    font-size: 1.3rem;
    text-decoration: none;
    text-align: center;
}

div.sheet_block_tabbed {
    background-color: #ffffff;
    min-height: 100px;
    width: 100%;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
}
div.sheet_block_tabbed h2 { font-size: 2rem;}

div.sheet_switch_menu {}
div.sheet_switch_menu > ul {
    display: flex;
    flex-direction: row;
	justify-content: flex-start;
    list-style: none;
    margin: 1rem 0 2rem;
}
div.sheet_switch_menu > ul > li {
    /*flex: 0 1 120px;*/
    margin: 0;
    padding: 0;
}
div.sheet_switch_menu > ul > li > a {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #9b9b9b;
}
div.sheet_switch_menu > ul > li > a:hover {
    color: #FE659C;
}
div.sheet_switch_menu > ul > li > a.active {
    border-bottom: 3px solid #FE659C;
    color: #4D4D4D;
}
ul.contents {
    padding: 1rem;
    list-style: none;
    margin: 0;
}
ul.contents > li {
    display: block;
    margin: 0;
    padding: 0.5rem 0;
}

ul.contents > li > a {
    padding: 0.5rem;
}

div.empty_block {
    padding: 1rem 2rem;
    /*display: flex;*/
    flex-direction: row;
}
div.empty_block > p {
    display: inline-block;
    flex: 0 0 auto;
    padding: 5px 15px 5px 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #d3d3d3;
    text-shadow: beige;
    /* text-shadow: 0 1px 1px rgba(142, 142, 142, 0.1); */
    text-transform: uppercase;
}

span.errorbox {
    /* display: flex; */
    margin: 0 1rem;
    padding: 0 1rem 1rem 1rem;
    background-color: #FFFFFF;
    border: 1px dotted;
    /* border-radius: 6px; */
    border-color: #D0BDBD;
}
span.errorbox ul {
    list-style: none;
}
p.comment {
    font-weight: normal !important;
    font-size: inherit !important;
    font-style: italic;
}

p.comment:before {
    font-weight: bold;
    font-size: 1.4rem;
    content: "\"";
}
p.comment:after {
    font-weight: bold;
    font-size: 1.4rem;
    content: "\"";
}

div.bunker {
    display: inline-block;
}

div.bunker > div.type {
    display: inline-block;
    /*border-top: 1px solid #9CAEB9;*/
    border-left: 1px solid #9CAEB9;
    /*border-bottom: 1px solid #9CAEB9;*/
    /*border-radius: 6px;*/
    padding: 0px 15px 0px 7px;
    background-color: #EEE;
    color: #999;
}

div.bunker > div.qty {
    display: inline-block;
    /*border-top: 1px solid #9CAEB9;*/
    border-right: 1px solid #9CAEB9;
    /*border-bottom: 1px solid #9CAEB9;*/
    /*border-radius: 6px;*/
    padding: 0px 7px 0px 7px;
    background-color: #FFC;
    margin-left: -10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    text-shadow: 0 1px 1px #aaa;
    font-weight: bold;
}


i.dot {
    font-style: normal;
    font-size: 2.4rem;
    line-height: 1.2rem;
    display: block;
    height: 1rem;;
}
div.checkbox_wrapper {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.colgroup_table {
  	border-collapse:collapse;
	margin-bottom:5px;
}
.colgroup_table caption {
    text-align:left;
    font-size:15px;
    padding-bottom:10px;
}
.colgroup_table td,
.colgroup_table th {
        padding:5px;
        border:1px solid #fff;
        border-width:0 1px 1px 0;
    /*background-color: #fdf3dd;*/
}

.colgroup_table	thead th {
    background: #dae7ec;
}
.colgroup_table thead th.minus {
    background-color: rgb(245, 213, 224);
}
.colgroup_table thead th.plus {
    background-color: #d7e8c2;
}
.colgroup_table	thead th[colspan],
.colgroup_table	thead th[rowspan] {
        background:#D3D3D3;
}

.colgroup_table tbody th,
.colgroup_table tfoot th {
    text-align:left;
    background: #dbdfd9;
}
.colgroup_table tbody td,
.colgroup_table tfoot td {
		text-align:center;
		/*background:#fdf3dd;*/
		}

.salary_check_status {
    padding: 5px 7px;
    border-radius: 8px;
}
.check_status_0 {
    background-color: #E0E0E0;
}
.check_status_1 {
    background-color: #c1d8e6;
}
.check_status_2 {
    background-color: #FFFDE7;
}
.check_status_3 {
    background-color: #43dc44;
}
.check_status_4 {
    background-color: #cbcfc9;
}

.scrolly_150 {
    max-height: 150px;
    display: block;
    /* overflow-x: scroll; */
    overflow-y: scroll
}