{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="/static/js/utils/ajax_list.js"></script>
{% endblock %}
{% block content %}


<script>
    var base_url = '/company';
    var JsonDataUrl = "/dummy/companies/";
    var req_preprocess_result = "0";

    $(document).ready(function() {
        list_data_api();
    });

function list_data_api(Mode,Page) {
    var $datatable = $('tbody#datatable');
    var $js_template = $('#tmpl_table').html(); /* шаблон таблицы */
    var $params_form = $('form#params_form'); /* форма с параметрами JSON запроса */

    function Pager(limit, offset, total_count) {
        this.limit = limit || 15;
        this.offset = offset || 0;
        this.total_count = total_count || 0;
        this.total_pages = Math.ceil(this.total_count / this.limit);
        this.current_page = Math.ceil(this.offset / this.limit) + 1
    };


    /* получаем данные из схемы */
    $.ajax({
        tape: 'POST',
        url:  JsonDataUrl,
        dataType: "json",
        data: $params_form.serialize()
    })
    .done(function(result) {
        /* инициализация */

        /* очищаяем таблицу, если она заполнена */
        $datatable.empty();

        /* if (Page == undefined) { $('input[name="page"]').val(1); }   /* устанавливаем страницу на номер 1*/

        /* предворительная обработка result, функция preprocess_result() декларируется в основном скрипте вида, необходима глобальная req_preprocess_result = 1 */
        if (typeof req_preprocess_result != 'undefined' && req_preprocess_result == "1") {
            preprocess_result(result); /* постобработка вынесена из шаблона в функцию*/
        }

        /* Стандартная постобработка */
        if (result.results && result.results.length > 0) {                              /* Если из схемы получены строки ( data json['data'] не пуста )*/
            for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {   /* проходим по массиву данных из схемы result.data */
                var el = result.results[i];
                var tr = Mustache.to_html($js_template, el);  /* создаем шаблонный объект с данными из элемента массива */
                $datatable.append(tr);                               /* вставляем щаблонный объект (строчку) в таблицу */
            }
        }
        /* Постраничная навигация  */
            var page_limit = $('input[name=limit]').val();
            var page_offset = $('input[name=offset]').val();
            var total_count = result.count;
            var pager = new Pager(page_limit, page_offset, total_count);

            console.log( "[Pager data] Limit: " + pager.limit + " offset: " + pager.offset + " total_count: " + pager.total_count + " total_pages: " + pager.total_pages + " current: " + pager.current_page);

            /* Заполняем пейджинг */
            listing_pager(pager.current_page, pager.total_pages);
            $('span#total_entries > em').html(total_count);
        })
        .fail(function(result) { alert("Error!: "+ result)});
        return false;
}
</script>
{# Шаблон основной таблицы #}
<script type="text/template" id="tmpl_table">{% verbatim %}
    <tr onCLick="card_args(['/company/',{{ id }},'/card']);">
        <td>{{ name }}</td>
        <td>{{ description }}</td>
        <td><a href="http://{{ www }}">{{ www }}</td>
        <td>{{ org_type.val }}
        <td>{{ rel_type }}</td>
        <td class="green">{{ status }}</td>
        <td>{{ date_add }}</td>
        <!-- replace -->
    </tr>
</script>{% endverbatim %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Картотека</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    {# Форма сортировки данных #}
                    <form method="post" name="params_form" id="params_form">
                        {# скрытые фильтры #}
                        <input type="hidden" name="order_by" value="id"/>
                        <input type="hidden" name="offset" value="0"/>
                        <input type="hidden" name="limit" value="20"/>
                        {# отображенные фильтры #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Наименование</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15">
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Контактное лицо</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15">
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Контактное лицо</legend>
                                <div class="input_block">
                                    <select name="status">
                                        <option value="1">любой статус</option>
                                        <option value="2">новый</option>
                                        <option value="3">на оформлении</option>
                                        <option value="4">в работе</option>
                                        <option value="5">заблокирован</option>
                                        <option value="6">архивный</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Тип клиента</legend>
                                <div class="input_block">
                                    <label><input type="radio" name="g1"><p>Любой тип</p></label>
                                    <label><input type="radio" name="g1"><p>Фирма</p></label>
                                    <label><input type="radio" name="g1"><p>Частник</p></label>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <label><input type="checkbox">Показать архивные</label>
                                    <label><input type="checkbox" checked>Показать новые</label>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <a href="#" class="textlink">Сбросить</a>
                                    <a href="#" class="button">Найти</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {# - Форма сортировки данных #}
                </div>
                <div class="data_grid_medium">
                    {# Основная таблица данных #}
                    <table class="listing_grid">
                        <thead class="">
                            <tr>
                                <th><a href="#" rel="">Наименование</a></th>
                                <th><a href="#" rel="" class="sort">Описание</a></th>
                                <th><a href="#" rel="">Ссылка</a></th>
                                <th><a href="#" rel="">Связь preload</a></th>
                                <th><a href="#" rel="">Связь</a></th>
                                <th><a href="#" rel="">Статус</a></th>
                                <th><a href="#" rel="">Дата</a></th>
                            </tr>
                        </thead>
                        <tbody id="datatable" class="">
                        </tbody>
                    </table>
                    {# - Основная таблица данных #}
                    {# Панель управления таблицей #}
                    <div class="table_bottom_bar">
                        <div id="pager_box">
                            <span>Страница</span>
                            <a href="#" class="arrow">←</a><a href="#" class="current">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#" class="arrow">→</a>
                        </div>
                        <div id="rows_box">
                            <span id="total_entries">всего записей<em></em></span>
                            <span>показывать</span>
                            <a href="#" rel="limit" onClick="SetRows(20)"class="current">20</a>
                            <a href="#" rel="limit" onClick="SetRows(50)">50</a>
                            <a href="#" rel="limit" onClick="SetRows(100)">100</a>
                        </div>
                    </div>
                    {# - Панель управления таблицей #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}