{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="{% static  'js/utils/ajax_list.js' %}"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
{% endblock %}
{% block content %}


<script>
    var base_url = '/company';
    var JsonDataUrl = "/dummy/companies/";
    var req_preprocess_result = "0";

    $(document).ready(function() {
        list_data_api();

        {#    Автоподсказка для поля сортировки #}
        input_autocomplite("name_ac", "/ac/", 'dummyapp.Dummycompanies', 'name', '__icontains');
        {#    Виджет datepicker #}
        $('input[name=date_after]').datepicker({'dateFormat':'dd-mm-yy'});
    });


</script>
{# Шаблон основной таблицы #}
<script type="text/template" id="tmpl_table">{% verbatim %}
    <tr onCLick="card_args(['/company/',{{ id }},'/card']);">
        <td>{{ name }}</td>
        <td>{{ description }}</td>
        <td><a href="http://{{ www }}">{{ www }}</td>
        <td>{{ org_type.val }}
        <td>{{ rel_type }}</td>
        <td class="green">{{ status }}</td>
        <td>{{ date_add }}</td>
        <!-- replace -->
    </tr>
</script>{% endverbatim %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Картотека</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    {# Форма сортировки данных #}
                    <form method="post" name="params_form" id="params_form">
                        {# скрытые фильтры #}
                        <input type="hidden" name="order_by" value="id"/>
                        <input type="hidden" name="offset" value="0"/>
                        <input type="hidden" name="limit" value="20"/>
                        {# отображенные фильтры #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Наименование</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" class="loading" name="name_ac">
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Начиная с даты</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" name="date_after">
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Контактное лицо</legend>
                                <div class="input_block">
                                    <select name="status">
                                        <option value="1">любой статус</option>
                                        <option value="2">новый</option>
                                        <option value="3">на оформлении</option>
                                        <option value="4">в работе</option>
                                        <option value="5">заблокирован</option>
                                        <option value="6">архивный</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Тип клиента</legend>
                                <div class="input_block">
                                    <label><input type="radio" name="g1"><p>Любой тип</p></label>
                                    <label><input type="radio" name="g1"><p>Фирма</p></label>
                                    <label><input type="radio" name="g1"><p>Частник</p></label>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <label><input type="checkbox">Показать архивные</label>
                                    <label><input type="checkbox" checked>Показать новые</label>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <a href="#" class="textlink" onclick="ResetFormDefault();">Сбросить</a>
                                    <a href="#" class="button" onclick="list_data_api();">Найти</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {# - Форма сортировки данных #}
                </div>
                <div class="data_grid_medium">
                    {# Основная таблица данных #}
                    <table class="listing_grid">
                        <thead class="">
                            <tr>
                                <th><a href="#" rel="">Наименование</a></th>
                                <th><a href="#" rel="" class="sort">Описание</a></th>
                                <th><a href="#" rel="">Ссылка</a></th>
                                <th><a href="#" rel="">Связь preload</a></th>
                                <th><a href="#" rel="">Связь</a></th>
                                <th><a href="#" rel="">Статус</a></th>
                                <th><a href="#" rel="">Дата</a></th>
                            </tr>
                        </thead>
                        <tbody id="datatable" class="">
                        </tbody>
                    </table>
                    {# - Основная таблица данных #}
                    {# Панель управления таблицей #}
                    {% include 'listing_bottom_navbar.html' %}
                    {# - Панель управления таблицей #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}