    <div class="flex_row">
        <div class="sheet_block_mini _white_bordered">
            <h2>Наличные</h2>
            <hr>
            <table>
                <tr>
                    <td>Входящий остаток</td><td>13265</td>
                </tr>
                <tr>
                    <td>Сверка</td><td>18265</td>
                </tr>
                <tr>
                    <td>Баланс</td><td>5000</td>
                </tr>
            </table>
        </div>
        <div class="sheet_block_mini _white_bordered">
            <h2>Ходки</h2>
            <hr>
            <table>
                <tr>
                    <td>Сегодня</td><td>4,5</td>
                </tr>
                <tr>
                    <td>В этом месяце</td><td>63</td>
                </tr>
            </table>
        </div>
        <div class="sheet_block_mini _white_bordered">
            <h2>Примечание</h2>
            <hr>
            <textarea rows="3">сломался во время работы,  ремонт на нашей базе, установка</textarea>
        </div>
        <div class="sheet_block_mini _white_bordered">
            <h2>Сверка</h2>
            <hr>
            <div class="form_row">
                <div class="input_wrapper">
                    <div class="input_block _inline">
                        <label><input type="radio" name="ch1" ><p>с водителем</p></label>
                        <label><input type="radio" name="ch1" checked><p>день закрыт</p></label>
                    </div>
                </div>
            </div>
        </div>
    </div>