    <!--*********** Values block ***********  -->
    <div class="flex_row marginl10">
        <div class="values_block">
            <span><p>{{ view.car.nick_name }}</p><em>ник машины</em></span>
        </div>
        <div class="values_block">
            <span><p>{{ view.car.reg_num }}</p><em>рег. номер</em></span>
        </div>
        {% if view.driver %}
        <div class="values_block">
            <span><p>{{ view.driver.person.family_name }} {{ view.driver.person.given_name }}</p><em><a href="{% url 'person_card' view.driver.person.pk %}" class="hidden">водитель</a></em></span>
        </div>
        <div class="values_block">
            <span><p>{{ view.driver.person.nick_name }}</p><em>ник</em></span>
        </div>
        {% if view.driver_phones %}
        <div class="values_block">
            <span><p>{{ view.driver_phones.0.phonenumber }}</p><em>контактный номер</em></span>
        </div>
        {% endif %}
        {% else %}
            <div class="values_block">
                <a href="{% url 'car_driver' view.car_pk %}?return_url={{ request.path }}" class="button">Назначить водителя</a>
            </div>
        {% endif %}

    </div>
    <!--*********** End Values block ***********  -->