 {% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="{% static  'js/utils/ajax_list.js' %}"></script>
<!-- DateTime       --><script type="text/javascript" src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>
<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>
{% endblock %}
{% block content %}
{% block jscontent %}
{% endblock %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Рейсы</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
            <!--********************* Sheet *********************  -->
                <!--*********** Data grid medium ***********  -->
                <div class="flex_block fullwidth">
                    {% block cardriver %}{% endblock %}
                    {% block stats %}{% endblock %}
                    {% block tabdata %}{% endblock %}
                </div>
                <!--*********** End Data grid medium ***********  -->
            <!--********************* End Sheet *********************  -->
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}