    <!--*********** Values block ***********  -->
    <div class="flex_row marginl10">
        <div class="values_block">
            <span><p>Сауленко Виктор</p><em>водитель</em></span>
        </div>
        <div class="values_block">
            <span><p>365</p><em>ник</em></span>
        </div>
        <div class="values_block">
            <span><p>365</p><em>машина</em></span>
        </div>
        <div class="values_block">
            <span><p>Ю.З.</p><em>регион</em></span>
        </div>
        <div class="values_block">
            <span><p>Ю.З.</p><em>регион</em></span>
        </div>
        <div class="values_block">
            <span><p>8 926 523 1749</p><em>контактный номер</em></span>
        </div>
    </div>
    <!--*********** End Values block ***********  -->