<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' media="screen" type='text/css' href='ready.css'/>
    <link rel='stylesheet' media="screen" type='text/css' href='forms.css'/>
    <link rel='stylesheet' media="screen" type='text/css' href='main.css'/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="listing.html"><div>&#xf015;<span>Главная</span></div></a></li>
                <li><a href="listing.html"><div>&#xf0b1;<span>Клиенты</span></div></a>
                    <div>
                        <ul>
                            <li><a href="listing.html">Картотека клиентов</a></li>
                            <li><a href="listing.html">Контрагенты</a></li>
                            <li><a href="listing.html">Баланс счетов</a></li>
                            <li><hr></li>
                            <li><a href="listing.html"><i>&#xf067;</i>Новый клиент</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="listing.html"><div>&#xf0c0;<span>Персоны</span></div></a></li>
                <li><a href="listing.html"><div>&#xf11e;<span>Рейсы</span></div></a></li>
                <li><a href="listing.html"><div>&#xf041;<span>Объекты</span></div></a></li>
                <li><a href="listing.html"><div>&#xf0d1;<span>Авто</span></div></a></li>
                <li><a href="listing.html"><div>&#xf145;<span>Талоны</span></div></a></li>
                <li><a href="listing.html"><div>&#xf080;<span>Отчеты</span></div></a></li>
                <li><a href="listing.html"><div>&#xf153;<span>Финансы</span></div></a></li>
                <li><a href="listing.html"><div>&#xf085;<span>Управление</span></div></a></li>
            </ul>
        </nav>
        <div class="sheet_row_headered">
            <div class="block_item">
                <div class="menu_item">
                    <div class="menu_item_header">
                        <span>
                            Фролова Татьяна
                            <p>Диспетчер Группа I</p>
                        </span>
                        <em>&#xf0c9;</em>
                    </div>
                    <ul>
                        <li><a href="listing.html">Настройки </a></li>
                        <li><a href="listing.html">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="breadcrumbs">
            <ul>
                <li><a href="listing.html">Картотека</a></li>
                <li class="active" ><a href="listing.html">Карточка объекта</a></li>
            </ul>
        </div>
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            <div class="sheet">
            <!--********************* Sheet *********************  -->
                <!--*********** Data grid medium ***********  -->
                <div class="flex_block">
                    <!--*********** Values block ***********  -->
                    <div class="flex_row">
                        <div class="values_block">
                            <span><p>Сауленко Виктор</p><em>водитель</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>365</p><em>ник</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>365</p><em>машина</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>Ю.З.</p><em>регион</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>Ю.З.</p><em>регион</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>8 926 523 1749</p><em>контактный номер</em></span>
                        </div>
                    </div>
                    <!--*********** End Values block ***********  -->
                    <div class="flex_row">
                        <div class="sheet_block_mini _white_bordered">
                            <h2>Наличные</h2>
                            <hr>
                            <table>
                                <tr>
                                    <td>Входящий остаток</td><td>13265</td>
                                </tr>
                                <tr>
                                    <td>Сверка</td><td>18265</td>
                                </tr>
                                <tr>
                                    <td>Баланс</td><td>5000</td>
                                </tr>
                            </table>
                        </div>
                        <div class="sheet_block_mini _white_bordered">
                            <h2>Ходки</h2>
                            <hr>
                            <table>
                                <tr>
                                    <td>Сегодня</td><td>4,5</td>
                                </tr>
                                <tr>
                                    <td>В этом месяце</td><td>63</td>
                                </tr>
                            </table>
                        </div>
                        <div class="sheet_block_mini _white_bordered">
                            <h2>Примечание</h2>
                            <hr>
                            <textarea rows="3">сломался во время работы,  ремонт на нашей базе, установка</textarea>
                        </div>
                        <div class="sheet_block_mini _white_bordered">
                            <h2>Сверка</h2>
                            <hr>
                            <div class="form_row">
                                <div class="input_wrapper">
                                    <div class="input_block _inline">
                                        <label><input type="radio" name="ch1" ><p>с водителем</p></label>
                                        <label><input type="radio" name="ch1" checked><p>день закрыт</p></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="tabbed_menu margint10">
                            <ul>
                                <li><a href="listing.html">Рейсы</a></li>
                                <li class="active" ><a href="listing.html">История</a></li>
                                <li><a href="listing.html">Талоны</a></li>
                                <li><a href="listing.html">Заправки</a></li>
                                <li><a href="listing.html">Наличные</a></li>
                                <li><a href="listing.html">Премии</a></li>
                                <li><a href="listing.html">Итоги месяца</a></li>
                                <li><a href="listing.html">Сверка</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="sheet_block_tabbed _white_bordered">
                            <div class="flex_row flex_vcentered">
                                <div class="flex_block">
                                    <h2 class="blue">Рейсы</h2>
                                </div>
                                <div class="flex_block _zero flex flex_vcentered">
                                    <h2 class="blue">Сверка</h2>
                                    <div class="input_wrapper">
                                        <div class="input_block _inline">
                                            <label><input type="checkbox" name="ch1" checked><p>рейсы</p></label>
                                            <label><input type="checkbox" name="ch1" checked><p>бункеры</p></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex_row">
                                <table class="sheet_headered _bordered no_lr_margin" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Клиент</th>
                                            <th>Объект</th>
                                            <th width="70px">Время</th>
                                            <th width="90px">Вид работ</th>
                                            <th width="40px" class="centertext">Ходки</th>
                                            <th width="70px">Оплата</th>
                                            <th width="20px" class="centertext">БН</th>
                                            <th width="20px" class="centertext">О</th>
                                            <th>Полигон</th>
                                            <th width="30px">Т</th>
                                            <th width="40px" class="centertext">Нал</th>
                                            <th width="40px" class="centertext">Доп</th>
                                            <th width="40px" class="centertext">Груз</th>
                                            <th>Рекомендации</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Идеальная защита</td>   <td>Химки - Стройплощадка Лнинградское ш. 4</td>    <td>10:00</td>   <td>постановка</td><td  class="centertext">1</td>   <td>3800</td>    <td><i class="icon" icon="&#xf00c;"></i></td>   <td><i class="icon" icon="&#xf00c;"></i></td><td>Базис СТРОЙКА</td>                       <td>1</td>   <td></td>      <td></td>   <td></td>   <td></td>
                                        </tr>
                                        <tr>
                                            <td>МокКомСбыт</td>         <td>1я Леонова д16 НИИ Герантолии</td>              <td>11:45</td>   <td>вывоз</td>     <td class="centertext">1</td>   <td>3800</td>    <td><i class="icon" icon="&#xf00c;"></i></td>   <td><i class="icon" icon="&#xf00c;"></i></td><td>Веткина вл.2</td>                        <td>1</td>   <td></td>      <td></td>   <td></td>   <td></td>
                                        </tr>
                                        <tr>
                                            <td>Д Групп</td>            <td>Ижорская ул.13</td>                             <td>14:20</td>   <td>замена</td>    <td class="centertext">1</td>   <td>4200</td>    <td><i class="icon" icon="&#xf00c;"></i></td>   <td><i class="icon" icon="&#xf00c;"></i></td><td>Волгоградский проспект 32 стр 14 </td>   <td>1</td>   <td>1300</td>      <td></td>   <td></td>   <td>70дрова</td>
                                        </tr>
                                        <tr>
                                            <td>Новая Концепция</td>    <td>Клязьма ул.Крылова д14</td>                     <td>16:10</td>   <td>постановка</td><td class="centertext">1</td>   <td>4000</td>    <td></td>    <td><i class="icon" icon="&#xf00c;"></i></td><td>Волоколамка</td>                         <td>1</td>   <td></td>      <td></td>   <td></td>   <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex_row flex_vcentered">
                                <div class="flex_block">
                                    <p>Количество бункеров на авто: <b>2</b></p>
                                </div>
                                <div class="flex_block _zero">
                                    <span class="button_block">
                                        <a class="textlink" href="#">Все рейсы</a>
                                        <a class="button" href="#">Новый рейс</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*********** End Data grid medium ***********  -->
            <!--********************* End Sheet *********************  -->
            </div>
            <div class="right_border"><span class="upblock"></span></div>
        </div>
    </div>
    <footer>
        <!--FOOTER-->
    </footer>
</body>
</html>