{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Kladr JS       --><script type="text/javascript" src="{% static 'js/charts/Chart.min.js' %}"></script>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        var month_days_count = {{ month_days_count }};

        var ctx = $("#myChart");
        var data = {
            labels: [{% for el in graph.days_list %}{{ el }},{% endfor %} ],
{#            labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", ],#}
            datasets: [
                {
                    label: "Количество ходок",
                    backgroundColor: 'rgba(67, 114, 144, 1)',
                    borderColor: 'rgba(134, 151, 162, 1)',
                    borderWidth: 1,
                    borderSkipped: 0,
                    data: [{% for el in graph.data %}{{ el }},{% endfor %}],
{#                    data: ["1", "2", "6", "2", "3", "6", "7", "7", "5", "7", "4", "8", "6", "4", "7", "6", "9", "7", "4", "", "3", "1", "6", "8", "7", "9", "6", "4", "7", "9", ]#}
                }
            ]
        };
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            stacked: true,
            options: {
                display: false,
                stacked: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
{#                            beginAtZero:true,#}
{#                            max: 10,#}
{#                            min: 0,#}
{#                            stepSize: 0.5#}
                        }
                    }]
                }
            }
        });
        UpdateFinalSalary();

        /* Мобильная компенсация - изменение суммы*/
        $('input[name="mobile_days_widget"]').on('change', function(){
            UpdateMobileAcr($(this), month_days_count);
        });
        /* Проживание на базе - изменение суммы*/
        $('input[name="basehouse_rent_days_widget"]').on('change', function(){
            UpdateBasehouseRent($(this), month_days_count);
        });
    });

    function UpdateFinalSalary() {
        var $el_block = $('#salary_final');
        var final_salary = 0;
        $('i[rel="summary_el"]').each(function(index,el) {
            var $i = $(el);
            var value = parseInt($i.html());
            var direction = $i.data('direction');
            final_salary += value * direction;
        });
        $('#final_salary_value').html(final_salary);
    }

    function UpdateMobileAcr($obj, month_days_count) {
{#        var $input = obj;#}
        var value = $obj.val();
{#        var value = $input.val();#}
        var tarif = $('#mobile_acr_tarif').html();
        var sum = tarif / month_days_count * value;
        $('#mobile_acr_sum').html(parseInt(sum));
        $('#mobile_acr_final').html(parseInt(sum));
        $('input[name="acr_mobile_days"]').val(value);
        UpdateFinalSalary();
        return false;
    }

    function UpdateBasehouseRent($obj, month_days_count) {
{#        var $input = obj;#}
        var value = $obj.val();
        var tarif = $('#basehouse_rent_tarif').html();
        var sum = tarif / month_days_count * value;
        $('#basehouse_rent_sum').html(parseInt(sum));
        $('#basehouse_rent_final').html(parseInt(sum));
        $('input[name="acr_basehouse_rent_days"]').val(value);
        UpdateFinalSalary();
        return false;
    }

    function save_and_send() {
        $('input[name="check_status"]').val(0);
        $('form#new_object').submit();
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li><a href="{% url 'salary_month_summary_office' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль офис</a></li>
                <li class="active" ><a href="#">Зарплатная карта водителя</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="margin_wrapper_80">
                    <div class="flex_row">
                        <h2>Персональные показатели работы водителя</h2>
                    </div>
                    <div class="flex_row flex_vcentered">
                        <div class="flex_block _zero ">
                            <span class="">Водитель: <a href="{% url 'employee_card' driver.pk %}" class="textlink">{{ driver.fullnamenick }}</a></span>
                        </div>
                        <div class="flex_block _zero marginl30">
                            <div class="flex_row flex_vcentered">
                            {# переключатель месяца отчета #}
                                    <div>Период формирования отчета:</div>
                                    <ul class="linklist flex">
                                        <li><a href="?month={{ view.report_prev_dt.month }}&year={{ view.report_prev_dt.year }}"><i class="icon big" icon="←"></i></a></li>
                                        <li>{{ view.report_month_dt|date:"M"}} {{ view.report_month_dt.year }}</li>
                                        <li><a href="?month={{ view.report_next_dt.month }}&year={{ view.report_next_dt.year }}"><i class="icon big" icon="→"></i></a></li>
                                    </ul>
                            </div>
                            {# - переключатель месяца отчета #}
                        </div>
                    </div>
                    {% if object %}
                    {# График рейсов по дням месяца #}
                    <div class="flex_row">
                        <div class="sheet_block_mini _white_bordered _flex_zero" id="chartblock">
                            <canvas id="myChart" width="750" height="120"></canvas>
                        </div>
                    </div>
                    {# - График рейсов по дням месяца #}
                    {# Статистика по рейсам и машинам #}
                    <div class="flex_row">
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3>Статистика по машинам</h3>
                            <table class="colgroup_table margint10 fullwidth">
                                <caption></caption>
                                <thead>
                                    <th>Авто</th>
                                    <th>Модель</th>
                                    <th>Рег.Номер</th>
                                    <th>Рейсы</th>
                                    <th>Ходки</th>
                                    <th>Заправки</th>
                                    <th>Пробег</th>
                                    <th>КМ на Ходку</th>
                                    <th>Расход весь</th>
                                    <th>Расход на 100км</th>
                                    <th>Норма</th>
                                    <th>Перерасход</th>
                                </thead>
                                <tbody>
                                    {% for row in driver_month_stats %}
                                    <tr>
                                        <td>{{ row.nick_name }}</td>
                                        <td>{{ row.car_model }}</td>
                                        <td>{{ row.reg_num }}</td>
                                        <td>{{ row.races_done|default_if_none:0 }}</td>
                                        <td>{{ row.total_hodkis|default_if_none:0 }}</td>
                                        <td><a href="{% url 'salary_month_summary_refuels_by_car' row.car_id %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">{{ row.total_refuels }}</a></td>
                                        <td>{{ row.total_run|default_if_none:0 }}</td>
                                        <td>{{ row.km_on_hodkis|default_if_none:0 }}</td>
                                        <td>{{ row.total_amount|default_if_none:0 }}</td>
                                        <td class="{% if row.fuel_overuse > 0 %}red{% endif %}">{{ row.lit_on_100|default_if_none:0 }}</td>
                                        <td>{{ row.fuel_norm|default_if_none:0 }}</td>
                                        <td class="{% if row.fuel_overuse > 0 %}red{% endif %}">{% if row.fuel_overuse > 0 %}{{ row.fuel_overuse }}{% else %}нет{% endif %} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# - Статистика по рейсам и машинам #}
                    {#  Суммарные показатели  #}
                    <div class="flex_row margint10">
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3 class="">Суммарные показатели (по всем авто)</h3>
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Ходки</th>
                                    <th>Заправки</th>
                                    <th>Сверки пробега</th>
                                    <th>Пробег</th>
                                    <th>КМ на Ходку</th>
                                    <th>Расход топлива</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ average_and_sum_stats.total_hodkis|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.total_refuels }}</td>
                                        <td>{{ stats_mech_checkups }}</td>
                                        <td>{{ average_and_sum_stats.total_run|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.km_on_hodkis|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.total_amount|default_if_none:0 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3>Оценка механика</h3>
                                <table class="sheet_simple">
                                    <tr><td>Пробег</td><td>{% if object.over_run > 0 %}<span class="red"><b>перепробег</b></span>{% else %}<span class="green"><b>норма</b></span>{% endif %}</td><td><i>{{ object.run_comment }}</i></td></tr>
                                    <tr><td>Расход</td><td>{% if object.over_fuel > 0 %}<span class="red"><b>перепробег</b></span>{% else %}<span class="green"><b>норма</b></span>{% endif %}</td><td><i>{{ object.fuel_comment }}</i></td></tr>
                                </table>
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            {# -  премии и взыскания -  #}
                            <h3>Премии и взыскания за отчетный период</h3>
                            {% if accruals_list_penalty_and_bonus %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Добавлено</th>
                                    <th>Тип начисления</th>
                                    <th>Наименование</th>
                                    <th>Сумма</th>
                                    <th>Автор</th>
                                    <th>Примечание</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_list_penalty_and_bonus %}
                                    <tr>
                                        <td>{{ el.date_add|date:"d-m-y H:i" }}</td>
                                        <td class="{% if el.operation_type == 2 %}red{% elif el.operation_type == 1 %}green{% endif %}">{{ el.operation_type.type }}</td>
                                        <td class="text-left">{{ el.operation_name.name }}</td>
                                        <td>{{ el.sum|floatformat}}</td>
                                        <td></td>
                                        <td class="text-left">{{ el.comment|default_if_none:"" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                        </div>
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3>Сумма премий и штрафов</h3>
                            {% if accruals_summary_list_penalty_and_bonus %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Тип начисления</th>
                                    <th>Сумма</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_summary_list_penalty_and_bonus %}
                                    <tr>
                                        <td class="text-left">{{ el.0 }}</td>
                                        <td>{{ el.1|floatformat }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <th>Итого:</th><th>{{ accruals_sum_penalty_and_bonus|floatformat }}</th>
                                </tfoot>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            {# -  премии и взыскания -  #}
                            <h3>Начисления, компенсации и удержания</h3>
                            {% if accruals_list_all %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Добавлено</th>
                                    <th>Тип начисления</th>
                                    <th>Наименование</th>
                                    <th>Сумма</th>
                                    <th>Автор</th>
                                    <th>Примечание</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_list_all %}
                                    <tr>
                                        <td>{{ el.date_add|date:"d-m-y H:i" }}</td>
                                        <td class="{% if el.operation_type == 2 %}red{% elif el.operation_type == 1 %}green{% endif %}">{{ el.operation_type.type }}</td>
                                        <td class="text-left">{{ el.operation_name.name }}</td>
                                        <td>{{ el.sum|floatformat}}</td>
                                        <td></td>
                                        <td class="text-left">{{ el.comment|default_if_none:"" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                            <span class="button_block">
                                <a class="textlink red" href="{% url 'salary_operation_create'  view.report_month_dt.year  view.report_month_dt.month 3 driver.pk %}?return_url={{ request.path }}">Добавить взыскание</a>
                                <a class="textlink marginl10" href="{% url 'salary_operation_create'  view.report_month_dt.year  view.report_month_dt.month 2 driver.pk %}?return_url={{ request.path }}">Добавить премию</a>
                            </span>
                        </div>
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3>Сводный отчет о начислениях</h3>
                            {% if accruals_summary_list_all %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Тип начисления</th>
                                    <th>Сумма</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_summary_list_all %}
                                    <tr>
                                        <td class="text-left">{{ el.0 }}</td>
                                        <td>{{ el.1|floatformat }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <th>Итого:</th><th>{{ accruals_summmary_all|floatformat }}</th>
                                </tfoot>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                        </div>
                    </div>
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                    <input type="hidden" name="check_status" value="2">
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    <div class="flex_row">
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3>Оплата за ходки</h3>
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Тип ходки</th>
                                    <th>Тип авто</th>
                                    <th>Количество</th>
                                    <th>Тариф</th>
                                    <th>Сумма</th>
                                </thead>
                                <tbody>
                                    {% for el in races_tarif_stats %}
                                        {% if el.salary_tarif == 1 %}
                                            <tr><td class="text-left">Спец.цена</td><td>*</td><td>{{ el.count_races }}</td><td>*</td><td>{{ el.sum|floatformat }}</td></tr>
                                        {% elif el.salary_tarif != 1 %}
                                            <tr><td class="text-left">Стандартые</td><td>{{ el.salary_tarif__name }}</td><td>{{ el.count_races }}</td><td>{{ el.tarif_price|floatformat }}</td><td>{{ el.sum|floatformat }}</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <th colspan="4">Итого</th><th class="text-center">{{ races_salary_sum|floatformat }}</th>
                                </tfoot>
                            </table>
                        </div>
                            {# Компенсация мобильной связи #}
                            <div class="sheet_block_mini _white_bordered _flex_zero">
                                <h3 class="">Компенсация мобильной связи</h3>
                                <div class="form_row bordered flex_justify_center">
                                    {% if driver.acr_mobile_compensation %}
                                    <div class="input_wrapper">
                                        <legend>Дней</legend>
                                        <div class="input_block">
                                            <input name="mobile_days_widget" type="number" value="{% if form.acr_mobile_days.value %}{{ form.acr_mobile_days.value }}{% else %}{{ month_days_count }}{% endif %}" min="0" max="{{ month_days_count }}" style="width: 50px;">
                                        </div>
                                    </div>
                                    <div class="input_wrapper">
                                        <legend>Тариф (мес)</legend>
                                        <div class="input_block">
                                            <span class="large" id="mobile_acr_tarif">500</span>
                                        </div>
                                    </div>
                                    <div class="input_wrapper">
                                        <legend>Сумма</legend>
                                        <div class="input_block">
                                            <span class="large" id="mobile_acr_sum">500</span>
                                        </div>
                                    </div>
                                    {% else %}
                                        <h2 class="text-center">Не начисляется</h2>
                                    {% endif %}
                                </div>
                            </div>
                        {# - Компенсация мобильной связи #}
                        {# проживание на базе #}
                        <div class="sheet_block_mini _white_bordered _flex_zero">
                            <h3 class="">Проживание на базе</h3>
                            <div class="form_row bordered">
                                {% if driver.acr_basehouse_rent %}
                                    <div class="input_wrapper">
                                        <legend>Дней</legend>
                                        <div class="input_block">
                                            <input name="basehouse_rent_days_widget" type="number" value="{% if form.acr_basehouse_rent_days.value %}{{ form.acr_basehouse_rent_days.value }}{% else %}{{ month_days_count }}{% endif %}" min="0" max="{{ month_days_count }}" style="width: 50px;">
                                        </div>
                                    </div>
                                    <div class="input_wrapper">
                                        <legend>Тариф (мес)</legend>
                                        <div class="input_block">
                                            <span class="large" id="basehouse_rent_tarif">4000</span>
                                        </div>
                                    </div>
                                    <div class="input_wrapper">
                                        <legend>Сумма</legend>
                                        <div class="input_block">
                                            <span class="large" id="basehouse_rent_sum">4000</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <h2>Не удерживается</h2>
                                {% endif %}
                            </div>
                        </div>
                        {# - проживание на базе #}
                    </div>
                    </form>
                    {# Расчет зарплаты #}
                    <div class="flex_row">
                        <div class="flex_block marginl10">
                            <h3>Расчет оплаты</h3>
                            <div class="flex_row" id="salary_final">
                                <div class="big_values"><span><p><i rel="summary_el" data-direction="1" >{{ races_salary_sum|floatformat }}</i></p><em>за рейсы</em></span></div>
                                {% if accruals_sum %}
                                <div class="big_values"><span><p><i rel="summary_el" data-direction="1">{{ accruals_sum|floatformat }}</i></p><em>штрафы, премии</em></span></div>
                                {% endif %}
                                {% if acr_mobile_compensation %}
                                <div class="big_values"><span><p>+<i rel="summary_el"  data-direction="1" id="mobile_acr_final">{{ acr_mobile_compensation|floatformat }}</i></p><em>компенсация тел.</em></span></div>
                                {%  endif %}
                                {% if acr_basehouse_rent %}
                                <div class="big_values"><span><p>-<i rel="summary_el" data-direction="-1" id="basehouse_rent_final">{{ acr_basehouse_rent|floatformat }}</i></p><em>проживание на базе</em></span></div>
                                {% endif %}
                                {% if acr_ndfl_sum %}
                                <div class="big_values"><span><p>-<i rel="summary_el" data-direction="-1" >{{ acr_ndfl_sum|floatformat }}</i></p><em>налог НДФЛ (13%)</em></span></div>
                                {% endif %}
                                <div class="big_values"><span><p>=<i id="final_salary_value">{{ final_salary|floatformat }}</i></p><em>итого</em></span></div>
                            </div>
                        </div>
                    </div>
                    {# - Расчет зарплаты #}
                            <div class="flex_row">
                                <div class="flex_block _zero">
                                    <div class="m10">Статус зарплатной карты:
                                        {% if object %}
                                            <span class="salary_check_status check_status_{{ object.check_status }}">
                                                {{ object.get_check_status_display }}
                                            </span>
                                        {% else %}
                                            <span class="salary_check_status">
                                                не софрмирована
                                            </span>
                                        {%  endif %}
                                    </div>
                                </div>
                            </div>
                    {# ошибки формы #}
                    {% include "form_snippets/form_errors.html" with form=form %}
                    {# Кнопки #}
                    {% if object.check_status == 1 %}
                    <div class="form_row">
                        <span class="button_block">
                            <a class="button red_bg"  onclick="save_and_send();">Венуть механику</a>
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить и передать на контроль</a>
                        </span>
                    </div>
                    {% endif %}
                    {# - Кнопки #}
                    {#  Итоги  #}
{#                    <div class="flex_row">#}
{#                        <div class="flex_block m10">#}
{#                            <h3>Итоги</h3>#}
{#                            <table class="colgroup_table margint10">#}
{#                                <tbody>#}
{#                                    <tr><td class="text-left">Остаток пред. периода</td><td>{{ salary_prev_period_remains|floatformat }}</td></tr>#}
{#                                    <tr><td class="text-left">Начисление за текущий период</td><td>{{ report_month_accruals|floatformat }}</td></tr>#}
{#                                    <tr><td class="text-left">Выдан аванс</td><td>{{ report_month_avances|floatformat }}</td></tr>#}
{#                                </tbody>#}
{#                                <tfoot>#}
{#                                    <th>Остаток на руки</th><th>{{ salary_now_remains|floatformat }}</th>#}
{#                                </tfoot>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
                    {#  - Итоги  #}
                {% else %}
                    <div class="flex_row flex_justify_center">
                        <h2 class="m20">Зарлатаная карта за указанный период не сформирована</h2>
                    </div>
                {% endif %}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}
