{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li><a href="{% url 'salary_month_summary_mech' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль механика</a></li>
                <li class="active" ><a href="#">Анализ водителя: {{ driver.fullnamenick }}</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="data_grid_listing">
                    <div class="flex_row flex_justify_center">
                        <div class="width_80">
                            {# переключатель месяца отчета #}
                            <table class="colgroup_table margint10 ">
                                <caption>Полный список заправок за учетный период, включая последнюю из предыдущего периода</caption>
                                <thead>
                                    <th>№</th>
                                    <th>Дата</th>
                                    <th>Водитель</th>
                                    <th>Пробег</th>
                                    <th>Кол-во литров</th>
                                    <th>Сумма</th>
                                    <th>Сверено</th>
                                </thead>
                                <tbody>
                                    {% for row in refuels_on_period_for_car %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ row.date_refuel|date:"d-m-Y H:i" }}</td>
                                        <td width="250px">{{ row.family_name }} {{ row.given_name }} ({{ row.nick_name }})</td>
                                        <td width="120px">{{ row.km|default_if_none:0 }}</td>
                                        <td>{{ row.amount|default_if_none:0 }}</td>
                                        <td width="100px">{{ row.sum }}</td>
                                        <td>{{ row.checked|default_if_none:0 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div>
                                <p>Отчетный период: c {{ view.report_month_dt|date:"d-m-Y" }} по {{ view.report_next_dt|date:"d-m-Y" }}</p>
                            </div>
                            <div>
                                <a class="textlink margint10" href="#" onclick="window.history.back();">Вернуться к отчету</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}