{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Charts JS       --><script type="text/javascript" src="{% static 'js/charts/Chart.min.js' %}"></script>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        var month_days_count = {{ month_days_count }};

        {# Шаблон графика #}
        {% include "salary/driver_stats/chart.html" with graph=graph  %}

        // UpdateFinalSalary();

        /* Мобильная компенсация - изменение суммы*/
        $('input[name="mobile_days_widget"]').on('change', function(){
            UpdateMobileAcr($(this), month_days_count);
        });
        /* Проживание на базе - изменение суммы*/
        $('input[name="basehouse_rent_days_widget"]').on('change', function(){
            UpdateBasehouseRent($(this), month_days_count);
        });
    });

    function UpdateFinalSalary() {
{#        #TODO: Добавить обновление цифры в итогах на руки #}
        var $el_block = $('#salary_final');
        var final_salary = 0;
        var remains = 0; /* остатки на руки */
        $('i[rel="summary_el"]').each(function(index,el) {
            var $i = $(el);
            var value = parseFloat(parseInt($i.html()));
            var direction = $i.data('direction');
            final_salary += value * direction;
            /* console.log("Val: " + value + " dir: " + direction + " Final: " + final_salary);   */
        });
        $('#final_salary_value').html(final_salary);
        $('#itogi_final_summary').html(final_salary);
        $('#itogi_table td[rel="itogi"]').each(function(index,el) {
            var $i = $(el);
            var value = parseInt($i.html());
            remains += value;
        });
        $('#itogi_sum').html(remains);
    }

    function UpdateMobileAcr($obj, month_days_count) {
{#        var $input = obj;#}
        var value = $obj.val();
{#        var value = $input.val();#}
        var tarif = $('#mobile_acr_tarif').html();
        var sum = tarif / month_days_count * value;
        $('#mobile_acr_sum').html(Math.round(sum));
        $('#mobile_acr_final').html(Math.round(sum));
        $('input[name="acr_mobile_days"]').val(value);
        UpdateFinalSalary();
        return false;
    }

    function UpdateBasehouseRent($obj, month_days_count) {
{#        var $input = obj;#}
        var value = $obj.val();
        var tarif = $('#basehouse_rent_tarif').html();
        var sum = tarif / month_days_count * value;
{#        console.log(tarif + " / " + month_days_count + " = " + tarif / month_days_count);#}
{#        console.log(tarif + " / " + month_days_count + " * " + value + " = " + Math.round(sum));#}
        $('#basehouse_rent_sum').html(Math.round(sum));
        $('#basehouse_rent_final').html(Math.round(sum));
        $('input[name="acr_basehouse_rent_days"]').val(value);
        UpdateFinalSalary();
        return false;
    }

    function save_and_send() {
        $('input[name="check_status"]').val(0);
        $('form#new_object').submit();
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><h2>Зарплата водителей</h2></li>
                <li><a href="{% url 'salary_month_summary_mech' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль механик</a></li>
                <li><a href="{% url 'salary_month_summary_office' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль офис</a></li>
                <li><a href="{% url 'salary_month_summary_top' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль руководитель</a></li>
                <li class="active" ><a href="#">Зарплатная карта водителя</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="margin_wrapper_80">
                    {# Шапка отчета #}
                    {% include "salary/driver_stats/analyze_report_header.html" %}
                    {% if object %}
                    {# Шапка отчета #}
                    {# График рейсов по дням месяца #}
                    <div class="flex_row"><div class="sheet_block_mini _white_bordered _flex_zero" id="chartblock"><canvas id="myChart" width="750" height="100"></canvas></div></div>
                    {# - График рейсов по дням месяца #}
                    {# Статистика по рейсам и машинам #}
                    {% include "salary/driver_stats/month_report.html"  %}
                    {# - Статистика по рейсам и машинам #}
                    {# Премии и взыскания  #}
                    {% include "salary/driver_stats/acruals_bonuses_and_pinalties.html" %}
                    {# - Премии и взыскания  #}
                    {# Оплата за ходки #}
                    <div class="flex_row">
                        {% include "salary/driver_stats/races_tarif_stats.html" %}
                    </div>
                    {# - Оплата за ходки #}
                    {# Расчет зарплаты #}
                    {% include "salary/driver_stats/salary_calculate.html" %}
                    {# - Расчет зарплаты #}
                    {# Комментарии #}
                    {% include 'salary/includes/comments_list.html' %}
                    {# - Комментарии #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        <input type="hidden" name="check_status" value="2">
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        {% if form.is_bound or object.check_status == 2 %}
                            {# Текстовый комментарий #}
                            <div class="flex_row">
                                <div class="form_row">
                                    <div class="input_wrapper">
                                        <legend>Комментарий</legend>
                                        <div class="input_block _inline">
                                            <textarea name="salary_comment" rows="1" cols="50" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# - Текстовый комментарий #}
                            {# Кнопки #}
                            <div class="flex_row margint10 ">
                                <div class="flex_block _zero">
                                    <a class="button red_bg"  onclick="save_and_send();">Венуть на проверку офиса</a>
                                    <a class="button"  onclick="$('form#new_object').submit();">Сохранить статистику и выдать ЗП</a>
                                </div>
                            </div>
                            {# - Кнопки #}
                        {% endif %}
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                    </form>
                    <div class="flex_row margint10 ">
                        <div class="flex_block m10 ">
                            Статус зарплатной карты:
                            {% if form.is_bound %}
                            <span class="salary_check_status check_status_1">Контроль офис</span>
                            {% else %}
                            <span class="salary_check_status check_status_{{ object.check_status }}">{{ object.get_check_status_display }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="flex_row flex_justify_center">
                        <h2 class="m20">Зарлатаная карта за указанный период не сформирована</h2>
                    </div>
                {% endif %}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}
