{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>
    $(document).ready(function() {

    });

    function save_and_send() {
        $('input[name="check_status"]').val(2);
        $('form#new_object').submit();
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li><a href="{% url 'salary_month_summary_office' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль офис</a></li>
                <li class="active" ><a href="#">Зарплатная карта водителя</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="margin_wrapper_80">
                    <div class="flex_row">
                        <div class="flex_block _zero">
                            <h2>Персональные показатели работы водителя</h2>
                            <div class="flex_row flex_vcentered">
                            {# переключатель месяца отчета #}
                                    <div>Период формирования отчета:</div>
                                    <ul class="linklist flex">
                                        <li><a href="?month={{ view.report_prev_dt.month }}&year={{ view.report_prev_dt.year }}"><i class="icon big" icon="←"></i></a></li>
                                        <li>{{ view.report_month_dt|date:"M"}} {{ view.report_month_dt.year }}</li>
                                        <li><a href="?month={{ view.report_next_dt.month }}&year={{ view.report_next_dt.year }}"><i class="icon big" icon="→"></i></a></li>
                                    </ul>
                            </div>
                            {# - переключатель месяца отчета #}
                            <span class="">Водитель: <a href="{% url 'person_card' driver.person.pk %}" class="textlink">{{ driver.fullnamenick }}</a></span>
                        </div>
                    </div>
                    {% if object %}
                    <div class="flex_row margint10">
                        <div class="flex_block m10 _zero">
                            <h3 class="">Показатели по рейсам и заправкам - анализ механика</h3>
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Рейсы</th>
                                    <th>Ходки</th>
                                    <th>Пробег</th>
                                    <th>КМ на Ходку</th>
                                    <th>Расход весь</th>
                                    <th>Расход на 100км</th>
                                    <th>Перерасход</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ object.races_done|default_if_none:0 }}</td>
                                        <td>{{ object.total_hodkis|default_if_none:0 }}</td>
                                        <td>{{ object.total_run|default_if_none:0 }}</td>
                                        <td>{{ object.km_on_hodkis|default_if_none:0 }}</td>
                                        <td>{{ object.total_amount|default_if_none:0 }}</td>
                                        <td>{{ object.average_consumption|default_if_none:0 }}</td>
                                        <td>{% if object.fuel_overuse > 0 %}{{ object.fuel_overuse }}{% else %}нет{% endif %} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="flex_block m10">
                            <h3>Оценка механика</h3>
                                <table class="sheet_simple">
                                    <tr><td>Пробег</td><td>{% if object.over_run > 0 %}<span class="red">перепробег</span>{% else %}<span>норма</span>{% endif %}</td></tr>
                                    <tr><td>Расход</td><td>{% if object.over_fuel > 0 %}<span class="red">перепробег</span>{% else %}<span>норма</span>{% endif %}</td></tr>
                                </table>
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="flex_block m10 _zero">
                            {# -  премии и взыскания -  #}
                            <h3>Премии и взыскания за отчетный период</h3>
                            {% if accruals_list %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Добавлено</th>
                                    <th>Тип начисления</th>
                                    <th>Наименование</th>
                                    <th>Сумма</th>
                                    <th>Автор</th>
                                    <th>Примечание</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_list %}
                                    <tr>
                                        <td>{{ el.date_add|date:"d-m-y H:i" }}</td>
                                        <td class="{% if el.operation_type == 2 %}red{% elif el.operation_type == 1 %}green{% endif %}">{{ el.operation_type.type }}</td>
                                        <td class="text-left">{{ el.operation_name.name }}</td>
                                        <td>{{ el.sum}}</td>
                                        <td></td>
                                        <td class="text-left">{{ el.comment|default_if_none:"" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                        </div>
                        <div class="flex_block m10">
                            <h3>Сводный отчет о начислениях</h3>
                            {% if accruals_summary %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Тип начисления</th>
                                    <th>Сумма</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_summary %}
                                    <tr>
                                        <td class="text-left">{{ el.0 }}</td>
                                        <td>{{ el.1 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <th>Итого:</th><th>{{ accruals_sum }}</th>
                                </tfoot>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="flex_block">
                            <h3>Расчет оплаты</h3>
                            <div class="flex_row">
                                <div class="big_values">
                                    <span><p>{{ races_salary }}</p><em>за рейсы</em></span>
                                </div>
                                <div class="big_values">
                                    <span><p>{{ accruals_sum }}</p><em>доп.расходы</em></span>
                                </div>
                                <div class="big_values">
                                    <span><p>= {{ total_salary }}</p><em>итого</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="flex_block">
                            {# -------------------------------------------------------------------------------- #}
                            <div class="form_row"><hr></div>
                            <h3>Данные для занесения в зарплатный лист</h3>
                            {% if object %}
                                <span class="notice"><i class="icon" icon=""></i> Данные в форме получены из ранее сохраненных параметров</span>
                            {% endif %}
                            <form action="" method="POST" id="new_object">{% csrf_token %}
                                {# Скрытые поля #}
                                <input type="hidden" name="check_status" value="">
                                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                <div class="form_row">
                                    {% include "form_snippets/textinput.html" with field=form.races_done  %}
                                    {% include "form_snippets/textinput.html" with field=form.total_hodkis  %}
                                    {% include "form_snippets/textinput.html" with field=form.total_run  %}
                                    {% include "form_snippets/textinput.html" with field=form.km_on_hodkis  %}
                                    {% include "form_snippets/textinput.html" with field=form.total_amount  %}
                                    {% include "form_snippets/textinput.html" with field=form.average_consumption  %}
                                </div>
                                <div class="form_row">
                                    {% include "form_snippets/radio.html" with field=form.over_run_status  %}
                                    {% include "form_snippets/radio.html" with field=form.over_fuel_status  %}
                                </div>
                                {# ошибки формы #}
                                {% include "form_snippets/form_errors.html" with form=form %}
                                {# Кнопки #}
                                {% if object.check_status < 2 %}
                                <div class="form_row">
                                    <span class="button_block">
                                        <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                        <a class="button"  onclick="save_and_send();">Сохранить и передать на контроль</a>
                                    </span>
                                </div>
                                {% endif %}
                                {# - Кнопки #}
                            </form>
                            {# - Форма объекта #}
                        </div>
                    </div>
                {% else %}
                    <div class="flex_row flex_justify_center">
                        <h2 class="m20">Зарлатаная карта за указанный период не сформирована</h2>
                    </div>
                {% endif %}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}
