{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Charts JS       --><script type="text/javascript" src="{% static 'js/charts/Chart.min.js' %}"></script>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        var month_days_count = {{ month_days_count }};

        {# Шаблон графика #}
        {% include "salary/driver_stats/chart.html" with graph=graph  %}

        // UpdateFinalSalary();

        /* Мобильная компенсация - изменение суммы*/
        $('input[name="mobile_days_widget"]').on('change', function(){
            UpdateMobileAcr($(this), month_days_count);
        });
        /* Проживание на базе - изменение суммы*/
        $('input[name="basehouse_rent_days_widget"]').on('change', function(){
            UpdateBasehouseRent($(this), month_days_count);
        });
    });

    function UpdateFinalSalary() {
{#        #TODO: Добавить обновление цифры в итогах на руки #}
        var $el_block = $('#salary_final');
        var final_salary = 0;
        var remains = 0; /* остатки на руки */
        $('i[rel="summary_el"]').each(function(index,el) {
            var $i = $(el);
            var value = parseFloat(parseInt($i.html()));
            var direction = $i.data('direction');
            final_salary += value * direction;
            /* console.log("Val: " + value + " dir: " + direction + " Final: " + final_salary);   */
        });
        $('#final_salary_value').html(final_salary);
        $('#itogi_final_summary').html(final_salary);
        $('#itogi_table td[rel="itogi"]').each(function(index,el) {
            var $i = $(el);
            var value = parseInt($i.html());
            remains += value;
        });
        $('#itogi_sum').html(remains);
    }

    function UpdateMobileAcr($obj, month_days_count) {
{#        var $input = obj;#}
        var value = $obj.val();
{#        var value = $input.val();#}
        var tarif = $('#mobile_acr_tarif').html();
        var sum = tarif / month_days_count * value;
        $('#mobile_acr_sum').html(Math.round(sum));
        $('#mobile_acr_final').html(Math.round(sum));
        $('input[name="acr_mobile_days"]').val(value);
        UpdateFinalSalary();
        return false;
    }

    function UpdateBasehouseRent($obj, month_days_count) {
{#        var $input = obj;#}
        var value = $obj.val();
        var tarif = $('#basehouse_rent_tarif').html();
        var sum = tarif / month_days_count * value;
{#        console.log(tarif + " / " + month_days_count + " = " + tarif / month_days_count);#}
{#        console.log(tarif + " / " + month_days_count + " * " + value + " = " + Math.round(sum));#}
        $('#basehouse_rent_sum').html(Math.round(sum));
        $('#basehouse_rent_final').html(Math.round(sum));
        $('input[name="acr_basehouse_rent_days"]').val(value);
        UpdateFinalSalary();
        return false;
    }

    function save_and_send() {
        $('input[name="check_status"]').val(0);
        $('form#new_object').submit();
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li><a href="{% url 'salary_month_summary_office' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль офис</a></li>
                <li><a href="{% url 'salary_month_summary_top' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль руководитель</a></li>
                <li class="active" ><a href="#">Зарплатная карта водителя</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="margin_wrapper_80">
                    {# Шапка отчета #}
                    {% include "salary/driver_stats/analyze_report_header.html" %}
                    {% if object %}
                    {# Шапка отчета #}
                    {# График рейсов по дням месяца #}
                    <div class="flex_row"><div class="sheet_block_mini _white_bordered _flex_zero" id="chartblock"><canvas id="myChart" width="750" height="100"></canvas></div></div>
                    {# - График рейсов по дням месяца #}                    {# Статистика по рейсам и машинам #}
                    {% include "salary/driver_stats/month_report.html"  %}
                    {# - Статистика по рейсам и машинам #}
                    {# Премии и взыскания  #}
                    {% include "salary/driver_stats/acruals_bonuses_and_pinalties.html" %}
                    {# - Премии и взыскания  #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        <input type="hidden" name="check_status" value="2">
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="flex_row">
                            {# Оплата за ходки #}
                            {% include "salary/driver_stats/races_tarif_stats.html" %}
                            {# - Оплата за ходки #}
                            {# Компенсация мобильной связи #}
                            <div class="sheet_block_mini _white_bordered _flex_zero">
                                <h3 class="">Компенсация мобильной связи</h3>
                                <div class="form_row bordered flex_justify_center">
                                    {% if driver.acr_mobile_compensation %}
                                    <div class="input_wrapper">
                                        <legend>Дней</legend>
                                        <div class="input_block">
                                            <input name="mobile_days_widget" type="number" value="{% if form.acr_mobile_days.value %}{{ form.acr_mobile_days.value }}{% else %}{{ month_days_count }}{% endif %}" min="0" max="{{ month_days_count }}" style="width: 50px;">
                                        </div>
                                    </div>
                                    <div class="input_wrapper">
                                        <legend>Тариф (мес)</legend>
                                        <div class="input_block">
                                            <span class="large" id="mobile_acr_tarif">{{ acr_mobile_compensation_tarif }}</span>
                                        </div>
                                    </div>
                                    <div class="input_wrapper">
                                        <legend>Сумма</legend>
                                        <div class="input_block">
                                            <span class="large" id="mobile_acr_sum">{{ acr_mobile_compensation_sum|floatformat }}</span>
                                        </div>
                                    </div>
                                    {% else %}
                                        <h2 class="text-center">Не начисляется</h2>
                                    {% endif %}
                                </div>
                            </div>
                            {# - Компенсация мобильной связи #}
                            {# проживание на базе #}
                            <div class="sheet_block_mini _white_bordered _flex_zero">
                                <h3 class="">Проживание на базе</h3>
                                <div class="form_row bordered">
                                    {% if driver.acr_basehouse_rent %}
                                        <div class="input_wrapper">
                                            <legend>Дней</legend>
                                            <div class="input_block">
                                                <input name="basehouse_rent_days_widget" type="number" value="{% if form.acr_basehouse_rent_days.value %}{{ form.acr_basehouse_rent_days.value }}{% else %}{{ month_days_count }}{% endif %}" min="0" max="{{ month_days_count }}" style="width: 50px;">
                                            </div>
                                        </div>
                                        <div class="input_wrapper">
                                            <legend>Тариф (мес)</legend>
                                            <div class="input_block">
                                                <span class="large" id="basehouse_rent_tarif">{{ acr_basehouse_rent_tarif }}</span>
                                            </div>
                                        </div>
                                        <div class="input_wrapper">
                                            <legend>Сумма</legend>
                                            <div class="input_block">
                                                <span class="large" id="basehouse_rent_sum">{{ acr_basehouse_rent_sum|floatformat }}</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <h2>Не удерживается</h2>
                                    {% endif %}
                                </div>
                            </div>
                            {# - проживание на базе #}
                        </div>
                        {# Расчет зарплаты #}
                        {% include "salary/driver_stats/salary_calculate.html" %}
                        {# - Расчет зарплаты #}
                        <div class="form_row"><h3>Данные для занесения в зарплатный лист</h3></div>
                       {# Комментарии #}
                        {% if object.top_comment %}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline"><span><i class="icon" icon=""></i><b>руководитель: </b><i>{{ object.top_comment }}</i></span></div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form_row">
                            {% include "form_snippets/radio.html" with field=form.over_run_status  %}
                            {% include "form_snippets/textinput.html" with field=form.run_comment  %}
                        </div>
                        <div class="form_row">
                            {% include "form_snippets/radio.html" with field=form.office_comment  %}
                        </div>
                       {# - Комментарии #}
                    </form>
                    {# ошибки формы #}
                    {% include "form_snippets/form_errors.html" with form=form %}
                    {# Кнопки #}
                    {% if form.instance or object.check_status == 1 %}
                    <div class="flex_row margint10 ">
                        <div class="flex_block _zero">
                            <a class="button red_bg"  onclick="save_and_send();">Венуть механику</a>
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить и передать на контроль</a>
                        </div>
                        <div class="flex_block m10 ">
                            Статус зарплатной карты:
                            <span class="salary_check_status check_status_{{ object.check_status }}">{{ object.get_check_status_display }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {# - Кнопки #}
                {% else %}
                    <div class="flex_row flex_justify_center">
                        <h2 class="m20">Зарлатаная карта за указанный период не сформирована</h2>
                    </div>
                {% endif %}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}
