{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li class="active" ><a href="#">Зарплата водителей</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="data_grid_listing">
                    {# переключатель месяца отчета #}
                    <div class="form_row">
                        <div class="">
                            <ul class="linklist flex">
                                <li><a href="?month={{ view.report_prev_dt.month }}&year={{ view.report_prev_dt.year }}"><i class="icon big" icon="←"></i></a></li>
                                <li>{{ view.report_month_dt|date:"M"}} {{ view.report_month_dt.year }}</li>
                                <li><a href="?month={{ view.report_next_dt.month }}&year={{ view.report_next_dt.year }}"><i class="icon big" icon="→"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    {# - переключатель месяца отчета #}
                    <div class="form_row">
                        <div class="flex_block m10">
                            {# Информационный блок #}
                                {% if summary_list %}
                                    <table class="colgroup_table">
                                        <caption>Месячные показатели работы водителей</caption>
                                        <col>
                                        <colgroup span="4"></colgroup>
                                        <colgroup span="3"></colgroup>
                                        <colgroup span="2"></colgroup>
                                        <col>
                                        <thead>
                                            <tr>
                                                <th rowspan="2" colspan="">Сотрудник</th>
                                                <th colspan="4" scope="colgroup">Статистика</th>
                                                <th colspan="3" scope="colgroup">Оценка</th>
                                                <th colspan="2" scope="colgroup">Штрафы</th>
                                                <th rowspan="2">Статус</th>
                                            </tr>
                                            <tr>
                                                <th scope="col" class="">Рейсы</th>
                                                <th scope="col" class="">Ходки</th>
                                                <th scope="col" class="">Пробег</th>
                                                <th scope="col" class="">Расход на 100км</th>
                                                <th scope="col">Пробег</th>
                                                <th scope="col" class="">Расход</th>
                                                <th scope="col" class="">Примечание</th>
                                                <th scope="col" class="minus">Перепробег</th>
                                                <th scope="col" class="minus">Перерасход</th>
                                            </tr>
                                        </thead>
                                        {% for row in summary_list %}
                                        <tr>
                                            <th scope="row">{{ row.employee.person.fio_and_nick }}</th>
                                            <td>{{ row.races_done|default_if_none:"0"}}</td>
                                            <td>{{ row.fuel_penalty|default_if_none:"0"}}</td>
                                            <td>{{ row.run_penalty|default_if_none:"0"}}</td>
                                            <td>{{ row.misc_penalty|default_if_none:"0"}}</td>
                                            <td>{{ row.deductions_amount|default_if_none:"0"}}</td>
                                            <td>{{ row.compensation_amount|default_if_none:"0"}}</td>
                                            <td>{{ row.bonus_amount|default_if_none:"0"}}</td>
                                            <td>{{ row.summary_salary_amount|default_if_none:"0"}}</td>
                                            <td>{{ row.paid_sum|default_if_none:"0"}}</td>
                                            <td>{{ row.remain_sum|default_if_none:"0"}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tfoot>
                                            <th scope="row">Итого:</th>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td colspan="3"></td>
                                        </tfoot>
                                    </table>
                                {% endif %}
                            {# - Информационный блок #}
                        </div>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}