{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Charts JS       --><script type="text/javascript" src="{% static 'js/charts/Chart.min.js' %}"></script>
{% endblock %}
{% block content %}
{% load date_compare %}
<script>
    $(document).ready(function() {
        var month_days_count = {{ month_days_count }};

        {# Шаблон графика #}
        {% include "salary/driver_stats/chart.html" with graph=graph  %}

    });

    function save_and_send() {
        $('input[name="check_status"]').val(1);
        $('form#new_object').submit();
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li><a href="{% url 'salary_month_summary_mech' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль механика</a></li>
                <li class="active" ><a href="#">Анализ водителя: {{ driver.fullnamenick }}</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="margin_wrapper_80">
                    {# Шапка отчета #}
                    {% include "salary/driver_stats/analyze_report_header.html" %}
                    {% if object %}
                        {# Шапка отчета #}
                        {# График рейсов по дням месяца #}
                        <div class="flex_row"><div class="sheet_block_mini _white_bordered _flex_zero" id="chartblock"><canvas id="myChart" width="750" height="100"></canvas></div></div>
                        {# - График рейсов по дням месяца #}
                        {# Статистика по рейсам и машинам #}
                        {% include "salary/driver_stats/month_report.html"   %}
                        {# - Статистика по рейсам и машинам #}
                        {# Премии и взыскания  #}
                        {% include "salary/driver_stats/acruals_bonuses_and_pinalties.html" %}
                        {# - Премии и взыскания  #}
                        {# -------------------------------------------------------------------------------- #}
                        <div class="form_row">
                            <h3>Данные для занесения в зарплатный лист</h3>
                        </div>
                        {# Комментарии #}
                        {% if object.office_comment %}
                            <div class="form_row">
                                <div class="input_wrapper">
                                    <div class="input_block _inline"><span><i class="icon" icon=""></i><b>офис: </b><i>{{ object.office_comment }}</i></span></div>
                                </div>
                            </div>
                        {% endif %}
                        {# - Комментарии #}
                        <form action="" method="POST" id="new_object">{% csrf_token %}
                            {# Скрытые поля #}
                            <input type="hidden" name="check_status" value="">
                            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                            <div class="flex_row">
                                <div class="flex_block _zero">
                                    <div class="form_row">
                                        {% include "form_snippets/radio.html" with field=form.over_fuel_status  %}
                                        {% include "form_snippets/textinput.html" with field=form.fuel_comment  %}
                                    </div>
                                </div>
                            </div>
                            {# ошибки формы #}
                            {% include "form_snippets/form_errors.html" with form=form %}
                            {# Кнопки #}
                            <div class="flex_row margint10 ">
                                {% if object.check_status < 1 %}
                                <div class="flex_block _zero">
                                    <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                    <a class="button"  onclick="save_and_send();">Сохранить и передать на контроль</a>
                                </div>
                                {% endif %}
                                <div class="flex_block m10 ">
                                    Статус зарплатной карты:
                                    {% if object %}
                                        <span class="salary_check_status check_status_{{ object.check_status }}">
                                            {{ object.get_check_status_display }}
                                        </span>
                                    {% else %}
                                        <span class="salary_check_status">
                                            не софрмирована
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            {# - Кнопки #}
                        </form>
                        {# - Форма объекта #}
                    {% else %}
                        <h2 class="m10">за указанный период нет данных о выполненных рейсах</h2>
                    {% endif %}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}
