{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>
    $(document).ready(function() {

    });

    function save_and_send() {
        $('input[name="check_status"]').val(2);
        $('form#new_object').submit();
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li><a href="{% url 'salary_month_summary_mech' %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">Контроль механика</a></li>
                <li class="active" ><a href="#">Анализ водителя: {{ driver.fullnamenick }}</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="data_grid_listing">
                    <div class="flex_row flex_justify_center">
                        <div class="width_min80">
                            <h2>Персональные показатели работы водителя</h2>
                            {# переключатель месяца отчета #}
                            <div class="flex_row flex_vcentered">
                                    <div>Период формирования отчета:</div>
                                    <ul class="linklist flex">
                                        <li><a href="?month={{ view.report_prev_dt.month }}&year={{ view.report_prev_dt.year }}"><i class="icon big" icon="←"></i></a></li>
                                        <li>{{ view.report_month_dt|date:"M"}} {{ view.report_month_dt.year }}</li>
                                        <li><a href="?month={{ view.report_next_dt.month }}&year={{ view.report_next_dt.year }}"><i class="icon big" icon="→"></i></a></li>
                                    </ul>
                            </div>
                            {# - переключатель месяца отчета #}
                            <table class="colgroup_table">
                                <tr>
                                    <td>Водитель:</td>
                                    <td><a href="{% url 'person_card' driver.person.pk %}" class="textlink">{{ driver.fullnamenick }}</a></td>
                                    <td>Сверки с механиком:</td>
                                    <td><b>{{ stats_mech_checkups }}</b></td>
                                    <td>Выполненео рейсов:</td>
                                    <td><b>{{ stats_races }}</b></td>
                                    <td>Засчитано ходок:</td>
                                    <td><b>{{ stats_hodkis|default_if_none:0 }}</b> {{ average_stats.a_km_on_100 }}</td>
                                </tr>
                            </table>
                            {% if driver_month_stats %}
                            <h3>Статистика по машинам</h3>
                            <table class="colgroup_table margint10 fullwidth">
                                <caption></caption>
                                <thead>
                                    <th>Авто</th>
                                    <th>Рег.Номер</th>
                                    <th>Рейсы</th>
                                    <th>Ходки</th>
                                    <th>Заправки</th>
                                    <th>Пробег</th>
                                    <th>КМ на Ходку</th>
                                    <th>Расход весь</th>
                                    <th>Расход на 100км</th>
                                    <th>Норма</th>
                                    <th>Перерасход</th>
                                </thead>
                                <tbody>
                                    {% for row in driver_month_stats %}
                                    <tr>
                                        <td>{{ row.nick_name }}</td>
                                        <td>{{ row.reg_num }}</td>
                                        <td>{{ row.races_done|default_if_none:0 }}</td>
                                        <td>{{ row.total_hodkis|default_if_none:0 }}</td>
                                        <td><a href="{% url 'salary_month_summary_refuels_by_car' row.car_id %}?month={{ view.report_month_dt.month }}&year={{ view.report_month_dt.year }}">{{ row.total_refuels }}</a></td>
                                        <td>{{ row.total_run|default_if_none:0 }}</td>
                                        <td>{{ row.km_on_hodkis|default_if_none:0 }}</td>
                                        <td>{{ row.total_amount|default_if_none:0 }}</td>
                                        <td>{{ row.lit_on_100|default_if_none:0 }}</td>
                                        <td>{{ row.fuel_norm|default_if_none:0 }}</td>
                                        <td>{% if row.fuel_overuse > 0 %}{{ row.fuel_overuse }}{% else %}нет{% endif %} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Суммарные и усредненные показатели</h3>
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Рейсы</th>
                                    <th>Ходки</th>
                                    <th>Заправки</th>
                                    <th>Пробег</th>
                                    <th>КМ на Ходку</th>
                                    <th>Расход весь</th>
                                    <th>Расход на 100км</th>
                                    <th>Перерасход</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ average_and_sum_stats.races_done|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.total_hodkis|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.total_refuels }}</td>
                                        <td>{{ average_and_sum_stats.total_run|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.km_on_hodkis|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.total_amount|default_if_none:0 }}</td>
                                        <td>{{ average_and_sum_stats.average_consumption|default_if_none:0 }}</td>
                                        <td>{% if average_and_sum_stats.fuel_overuse > 0 %}{{ average_and_sum_stats.fuel_overuse }}{% else %}нет{% endif %} </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% else %}
                                <h2>за указанный период нет данных о выполненных рейсах</h2>
                            {% endif %}
                            {# -  премии и взыскания -  #}
                            <h3>Премии и взыскания за отчетный период</h3>
                            {% if accruals_list %}
                            <table class="colgroup_table margint10">
                                <thead>
                                    <th>Добавлено</th>
                                    <th>Тип начисления</th>
                                    <th>Сумма</th>
                                    <th>Автор</th>
                                    <th>Примечание</th>
                                </thead>
                                <tbody>
                                    {% for el in accruals_list %}
                                    <tr>
                                        <td>{{ el.date_add|date:"d-m-y H:i" }}</td>
                                        <td class="{% if el.operation_type == 2 %}red{% elif el.operation_type == 1 %}green{% endif %}">{{ el.get_operation_type_display }}</td>
                                        <td>{{ el.sum}}</td>
                                        <td></td>
                                        <td class="text-left">{{ el.comment }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <div class="m10">нет начислений на отчетный период</div>
                            {% endif %}
                            <div class="form_row">
                                <span class="button_block">
                                    <a class="textlink red" href="{% url 'salary_operation_create'  view.report_month_dt.year  view.report_month_dt.month 2 driver.pk %}?return_url={{ request.path }}">Добавить взыскание</a>
                                    <a class="textlink marginl10" href="{% url 'salary_operation_create'  view.report_month_dt.year  view.report_month_dt.month 1 driver.pk %}?return_url={{ request.path }}">Добавить премию</a>
                                </span>
                            </div>
                            {# -------------------------------------------------------------------------------- #}
                            <div class="form_row"><hr></div>
                            <h3>Данные для занесения в зарплатный лист</h3>
                            {% if object %}
                                <span class="notice"><i class="icon" icon=""></i> Данные в форме получены из ранее сохраненных параметров</span>
                            {% endif %}
                            <form action="" method="POST" id="new_object">{% csrf_token %}
                                {# Скрытые поля #}
                                <input type="hidden" name="check_status" value="">
                                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                <div class="form_row">
                                    {% include "form_snippets/textinput.html" with field=form.races_done  %}
                                    {% include "form_snippets/textinput.html" with field=form.total_hodkis  %}
                                    {% include "form_snippets/textinput.html" with field=form.total_run  %}
                                    {% include "form_snippets/textinput.html" with field=form.km_on_hodkis  %}
                                    {% include "form_snippets/textinput.html" with field=form.total_amount  %}
                                    {% include "form_snippets/textinput.html" with field=form.average_consumption  %}
                                </div>
                                <div class="form_row">
                                    {% include "form_snippets/radio.html" with field=form.over_run_status  %}
                                    {% include "form_snippets/radio.html" with field=form.over_fuel_status  %}
                                </div>
                                {# ошибки формы #}
                                {% include "form_snippets/form_errors.html" with form=form %}
                                {# Кнопки #}
                                {% if object.check_status < 2 %}
                                <div class="form_row">
                                    <span class="button_block">
                                        <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                        <a class="button"  onclick="save_and_send();">Сохранить и передать на контроль</a>
                                    </span>
                                </div>
                                {% endif %}
                                {# - Кнопки #}
                            </form>
                            {# - Форма объекта #}
                        </div>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}
