{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>
    $(document).ready(function() {
        {#  Переход на карточу   #}
        var report_month = "{{ view.report_month_dt.month }}";
        var report_year = "{{ view.report_month_dt.year }}";
        $( 'tbody#report_table').on("click", 'tr', function(){
            var id = $(this).data('employee_pk');
            var url = "/salary/month_summary/analyze_office/driver/" + id +"/?month=" + report_month + "&year=" + report_year;
            document.location.href = url;
        });

    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Зарплата водителей</a></li>
                <li class="" ><a href="{% url 'salary_month_summary_mech' %}">Контроль механика</a></li>
                <li class="active" ><a href="#">Контроль офис</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="data_grid_listing">
                    {# переключатель месяца отчета #}
                    <div class="flex_row flex_justify_center ">
                        <div class="width_min80">
                            {# переключатель месяца отчета #}
                            <div class="flex_row flex_vcentered">
                                <div>Период формирования отчета:</div>
                                <ul class="linklist flex">
                                    <li><a href="?month={{ view.report_prev_dt.month }}&year={{ view.report_prev_dt.year }}"><i class="icon big" icon="←"></i></a></li>
                                    <li>{{ view.report_month_dt|date:"M"}} {{ view.report_month_dt.year }}</li>
                                    <li><a href="?month={{ view.report_next_dt.month }}&year={{ view.report_next_dt.year }}"><i class="icon big" icon="→"></i></a></li>
                                </ul>
                            </div>
                            {# - переключатель месяца отчета #}
                            {# Информационный блок #}
                            {% if summary_list %}
                                <table class="colgroup_table pointed fullwidth">
                                    <caption>Месячные показатели работы водителей</caption>
                                    <col>
                                    <col>
                                    <colgroup span="6"></colgroup>
                                    <colgroup span="2"></colgroup>
                                    <colgroup span="2"></colgroup>
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="" width="">Сотрудник</th>
                                            <th rowspan="2">Статус отчета</th>
                                            <th colspan="2" scope="colgroup">Анализ механика</th>
                                            <th colspan="2" scope="colgroup">Анализ офис</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Оценка расхода</th>
                                            <th scope="col" class="">Примечание</th>
                                            <th scope="col" class="">Оценка пробега</th>
                                            <th scope="col" class="">Примечание</th>
                                        </tr>
                                    </thead>
                                    <tbody id="report_table">
                                    {% for row in summary_list %}
                                    <tr data-employee_pk="{{ row.employee_id }}">
                                        <th scope="row">{{ row.employee.person.fio_and_nick }}</th>
                                        {% if row.check_status == None %}
                                            <td colspan="">не сформирован</td>
                                            <td colspan="5"></td>
                                        {% else %}
                                            <td><span class="salary_check_status check_status_{{ row.check_status }}">{{ row.get_check_status_display }}</span></td>
                                            <td>{% if row.over_fuel_status == 0%}<span  class="green">норма</span>{% else %}<span  class="red">перерасход</span>{% endif %}</td>
                                            <td class="text-left">{{ row.fuel_comment|default_if_none:""}}</td>
                                            <td>{% if row.over_run_status == 0 %}<span  class="green">норма</span>{% elif row.over_run_status == 1  %}<span  class="red">перепробег</span>{% endif %}</td>
                                            <td class="text-left">{{ row.fuel_comment|default_if_none:""}}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h2>за указанный период нет сформированных зарплатных карт</h2>
                            {% endif %}
                            {# - Информационный блок #}
                        </div>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}