{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Автомобили</a></li>
                <li class="active" ><a href="#"><b>{{ object.nick_name }}</b> <i> {{ object.reg_num }}</i></a></li>
                <li class=""><a href="{% url 'race_create' object.pk %}"><i class="icon green" icon=""></i>Новый рейс</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "car/car_left_bar.html" with pk=object.pk sel=1 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Ключевые значения #}
                    <div class="flex_row">
                        <div class="values_block">
                            <span><p>{{ object.nick_name }}</p><em>ник авто</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.reg_num }}</p><em>гос номер</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.model.val }}</p><em>модель авто</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.unit_group.description }}</p><em>группа</em></span>
                        </div>
                        {% if object.comment %}
                        <div class="values_block">
                            <span>
                                <p class="comment">{{ object.comment }}</p>
                                <em>примечание</em></span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-row">
                         <span class="m10">Механик <a href="/persons/{{ object.mechanic.person_id }}/card" class="textlink"><b>{{ object.mechanic.person.family_name }} {{ object.mechanic.person.given_name }}</b></a></span>
                         {% if object.driver.pk %}
                                     <span class="m10">Водитель <a href="/persons/{{ object.driver.person_id }}/card" class="textlink"><b>{{ object.driver.person.nick_name }} </b>{{ object.driver.person.family_name }} {{ object.driver.person.given_name }}</a></span>
                                 {% else %}
                                    <span class="m10">Водитель <a href="{% url 'car_driver' object.pk %}" class="textlink red">не назначен</a></span>
                                 {%  endif %}
                    </div>
                    {# - Ключевые значения #}
                    {# Информационный блок - основная информация #}
                    <div class="sheet_row_headered">
                        <h2>Основная информация</h2>
                        <table class="sheet_simple">
                            <tr><td>Бункеры на машине</td>
                                <td>{% if bunkers_onboard %}
                                    {% for b in bunkers_onboard %}
                                        {% if b.qty > 0 %}
                                            <div class="bunker">
                                                <div class="type">{{ b.type.val }}</div><div class="qty">{{ b.qty }}</div>
                                            </div>
                                        {% else %}
                                            нет
                                        {% endif %}
                                    {% endfor %}
                                {% else %}нет{%  endif %}
                                </td></tr>
                            <tr><td>Карточка объекта</td><td><a href="/objects/{{ object.car_object_id }}/card/" class="textlink">{{ object.car_object.name }}</a></td></tr>
                            <tr><td>Тип топлива</td><td>{{ object.fuel_type.val }}</td></tr>
                            <tr><td>Топливная карта</td><td>{{ object.description|default_if_none:"не указано" }}</td></tr>
                            <tr><td>Норма расхода</td><td>{{ object.fuel_norm}}</td></tr>
                        </table>
                    </div>
                    {# - Информационный блок - основная информация #}
                    {# Информационный блок - Документы #}
                    <div class="sheet_row_headered">
                        <h2>Документы</h2>
                        <table class="sheet_simple">
                            <tr><td>Владелец</td><td><b>{{ object.docs.owner.val|default_if_none:"не указан" }}</b></td></tr>
                            <tr>
                                <td>Страховка</td>
                                <td>{% if  object.docs.ins_date_end and object.docs.ins_price%}
                                    до {{ object.docs.ins_date_end|date:"d-m-Y"  }}
                                        {% if object.docs.ins_date_end|check_days_to_now:30 %}
                                            <span class="alert">{{ object.docs.ins_date_end|check_days_to_now:30 }}!</span>
                                        {% endif %}
                                    цена {{ object.docs.ins_price }}р.
                                    {% else %}
                                        <i>данные не заполнены</i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Тех осмотр</td>
                                <td>
                                    {% if object.docs.to_date_end %}
                                    до {{ object.docs.to_date_end|date:"d-m-Y" }}
                                        {% if object.docs.to_date_end|check_days_to_now:30 %}
                                            <span class="alert">{{ object.docs.to_date_end|check_days_to_now:30 }}!</span>
                                        {% endif %}
                                    {% else %}
                                        данные не заполнены
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Договор аренды</td>
                                <td>{% if object.docs.rent_date_end %}
                                до {{ object.docs.rent_date_end|date:"d-m-Y" }}
                                        {% if object.docs.rent_date_end|check_days_to_now:30 %}
                                            <span class="alert">{{ object.docs.rent_date_end|check_days_to_now:30 }}!</span>
                                        {% endif %}
                                {% else %}
                                    данные не заполнены
                                {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {# - Информационный блок - Документы #}
                    {# Информационный блок - контакты #}
                    {% if contacts %}
                    <div class="sheet_row_headered">
                        <h2>Контактные данные</h2>
                        <table class="sheet_headered">
                            <thead>
                                <tr><th>Номер телефона</th><th>Статус</th></tr>
                            </thead>
                            {% for i in contacts %}
                            <tr>
                                <td>+7 {{ i.phonenumber }} </td>
                                <td>{% if i.is_work %}рабочий{% else %}персональный{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                    {# - Информационный блок - контакты #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}