{% extends "main.html" %}
{% block content %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Автомобили</a></li>
                <li><a href="{% url 'car_card' object.pk %}"><b>{{ object.nick_name }}</b> <i> {{ object.reg_num }}</i></a></li>
                <li class="active"><a href="#">Топливная карта</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "car/car_left_bar.html" with pk=object.pk sel=3 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Ключевые значения #}
                    <div class="flex_row">
                        <div class="values_block">
                            <span><p>{{ object.nick_name }}</p><em>ник авто</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.reg_num }}</p><em>гос номер</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.model.val }}</p><em>модель авто</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.unit_group.description }}</p><em>группа</em></span>
                        </div>
                        {% if object.comment %}
                        <div class="values_block">
                            <span>
                                <p class="comment">{{ object.comment }}</p>
                                <em>примечание</em></span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-row">
                         <span class="m10">Механик <a href="/persons/{{ object.mechanic.person_id }}/card" class="textlink"><b>{{ object.mechanic.person.family_name }} {{ object.mechanic.person.given_name }}</b></a></span>
                         {% if object.driver.pk %}
                                     <span class="m10">Водитель <a href="/persons/{{ object.driver.person_id }}/card" class="textlink"><b>{{ object.driver.person.nick_name }} </b>{{ object.driver.person.family_name }} {{ object.driver.person.given_name }}</a></span>
                                 {% else %}
                                    <span class="m10">Водитель <a href="{% url 'car_driver' object.pk  %}" class="textlink red">не назначен</a></span>
                                 {%  endif %}
                    </div>
                    {# - Ключевые значения #}
                    {# Форма объекта #}
                    <div class="form_row">
                        <span class="m10">Текущая топливная карта: <b>{{ object.fuel_card.num|default_if_none:"не привязана" }}</b> {{ object.fuel_card.fuel_company.name }}</span>
                    </div>
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# Скрытые поля #}
                        <input type="hidden" name="id-assigned_card" value="{{ object.fuel_card.pk }}">
                        {# Видимые поля #}
                        {% include "form_snippets/formfields_as_row.html" with form=form %}
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                        {# Кнопки #}
                        <div class="form_row">
                            <span class="button_block">
                                <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                            </span>
                        </div>
                        {# - Кнопки #}
                    </form>
                    {# - Форма объекта #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}