{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {

        {#    Виджет datepicker #}
        $('input[name=ins_date_register]').datepicker({'dateFormat':'dd-mm-yy', 'changeMonth': true,});
        $('input[name=ins_date_end]').datepicker({'dateFormat':'dd-mm-yy', 'changeMonth': true,});
        $('input[name=to_date_end]').datepicker({'dateFormat':'dd-mm-yy', 'changeMonth': true,});
        $('input[name=rent_date_end]').datepicker({'dateFormat':'dd-mm-yy', 'changeMonth': true,});
    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Автомобили</a></li>
                <li class="active" ><a href="#"><b>{{ object.nick_name }}</b> <i> {{ object.reg_num }}</i></a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "car/car_left_bar.html" with pk=object.pk sel=4 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Ключевые значения #}
                    <div class="flex_row">
                        <div class="values_block">
                            <span><p>{{ object.nick_name }}</p><em>ник авто</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.reg_num }}</p><em>гос номер</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.model.val }}</p><em>модель авто</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.unit_group.description }}</p><em>группа</em></span>
                        </div>
                        {% if object.comment %}
                        <div class="values_block">
                            <span>
                                <p class="comment">{{ object.comment }}</p>
                                <em>примечание</em></span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-row">
                         <span class="m10">Механик <a href="/persons/{{ object.mechanic.person_id }}/card" class="textlink"><b>{{ object.mechanic.person.family_name }} {{ object.mechanic.person.given_name }}</b></a></span>
                         {% if object.driver.pk %}
                                     <span class="m10">Водитель <a href="/persons/{{ object.driver.person_id }}/card" class="textlink"><b>{{ object.driver.person.nick_name }} </b>{{ object.driver.person.family_name }} {{ object.driver.person.given_name }}</a></span>
                                 {% else %}
                                    <span class="m10">Водитель <a href="#" class="textlink red">не назначен</a></span>
                                 {%  endif %}
                    </div>
                    {# - Ключевые значения #}
                    {# Форма объекта #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        <div class="form_row"><h2>Регистрационные документы</h2></div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=form.owner  %}</div>
                        <div class="form_row"><h2>Страховка</h2></div>
                        <div class="form_row">
                            {% include "form_snippets/textinput.html" with field=form.ins_number  %}
                            {% include "form_snippets/textinput.html" with field=form.ins_date_register  %}
                            {% include "form_snippets/textinput.html" with field=form.ins_date_end  icon="" %}
                            {% include "form_snippets/textinput.html" with field=form.ins_price  %}
                            {% include "form_snippets/textinput.html" with field=form.ins_comment  %}
                        </div>
                        <div class="form_row"><h2>Технический осмотр</h2></div>
                        <div class="form_row">
                            {% include "form_snippets/textinput.html" with field=form.to_number  %}
                            {% include "form_snippets/textinput.html" with field=form.to_date_end  %}
                        </div>
                        <div class="form_row"><h2>Договор аренды</h2></div>
                        <div class="form_row">
                            {% include "form_snippets/textinput.html" with field=form.rent_date_end  %}
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                        {# Кнопки #}
                        <div class="form_row">
                            <span class="button_block">
                                <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                            </span>
                        </div>
                        {# - Кнопки #}
                    </form>
                    {# - Форма объекта #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}