                <div class="left_bar">
                    <ul>
                        <li><a href="{% url 'car_card' pk %}" class="{% if sel == 1 %}active{% endif %}">Карточка автомобиля</a></li>
                        <li><a href="{% url 'car_driver' pk %}" class="{% if sel == 3 %}active{% endif %}">Водитель</a></li>
                        <li><a href="{% url 'car_docs' pk %}" class="{% if sel == 4 %}active{% endif %}">Документы</a></li>
                        <li><a href="{% url 'car_fuel_card' pk %}" class="{% if sel == 5 %}active{% endif %}">Топливная карта</a></li>
                        <li><a href="{% url 'car_speedometer_change' pk %}" class="{% if sel == 6 %}active{% endif %}">Замена спидометра</a></li>
                    </ul>
                    <hr>
                    <h3>Управление</h3>
                    <ul>
                        <li><a class="{% if sel == 2 %}active{% endif %}" href="{% url 'car_update' pk %}">Информация</a></li>
                    </ul>
                </div>