<div class="flex_row">
    {% for formname, form in forms.items %}
        {% if form.errors %}
            <span class="errorbox">
                <h2 class="m10 red">Форма "{{ formname }}" содержит ошибки!</h2>
                <em class="red">{{ form.non_field_errors }}</em>
                <table>
                {% for field in form %}
                    {% if field.errors %}
                        <tr>
                            <td>{{ field.label }}</td>
                            <td>
                            {% for error in field.errors %}
                            <em class="red">{{ error|escape }}</em>
                            {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </span>
        {% endif %}
    {% endfor %}
</div>
