{% extends "main.html" %}
{% block content %}
        <!--********************* Breadcrumbs *********************  -->
        <div class="breadcrumbs">
            <ul>
                <li class="active" ><a href="listing.html">Песочница</a></li>
            </ul>
        </div>
        <!--********************* ! Breadcrumbs *********************  -->
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            <div class="sheet">
            <!--********************* Sheet *********************  -->
                <!--*********** Card menu ***********  -->
                <div class="left_bar">
                    <ul>
                        <li><a href="/" class="active">Старт</a></li>
                    </ul>
                    <hr>
                    <h3>Песочница</h3>
                    <ul>
                        <li><a href="/pg/card">Карточка</a></li>
                        <li><a href="/pg/list">Листинг</a></li>
                        <li><a href="/pg/forms">Формы</a></li>
                    </ul>
                </div>
                <!--*********** ! Card menu ***********  -->
                <!--*********** Data grid medium ***********  -->
                <div class="data_grid_medium">
                    <!--*********** Header block ***********  -->
                    <div class="sheet_row_headered">
                        <h2>Песочница</h2>
                    </div>
                    <!--*********** ! Header block ***********  -->
                </div>
                <!--*********** ! Data grid medium ***********  -->
            <!--************* ! End Sheet **************  -->
            </div>
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}