 {% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="{% static  'js/utils/ajax_list.js' %}"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
{% endblock %}
{% block content %}


<script>
    var JsonDataUrl = "/bunkers/api/bunker_flow_rest/";
    var req_preprocess_result = "1";

    $(document).ready(function() {
        list_data_api();

        {#    Виджет datepicker #}
        $('input[data-action=datepicker]').datepicker({'dateFormat':'dd-mm-yy'});
        {#    Сортировка по заголовкам столбцов   #}
        $( "table.listing_grid thead a.sortable" ).on("click", function() { SortUpdate(this) });

        {#  Переход на карточу   #}
        $( 'tbody#datatable').on("click", 'tr', function(){
            var id = $(this).data('car_id');
            var url = "/cars/" + id +"/card/";
            document.location.href = url;
        });

    });

        {#  постобработка результата AJAX запроса #}
        function preprocess_result(result) {
            {# подсветка фрагментов текста в соответствии с параметром поиска #}
            var search_string = $('input[name=search]').val();
            result.results = highlight_search_results(result.results, search_string);

            for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {
                {# изменение формата даты #}
                result.results[i].date_add = date_json2hr(result.results[i].date);
                switch (result.results[i].object_in_type) {
                    case 1: result.results[i].object_in_type_icon = ''; break;
                    case 2: result.results[i].object_in_type_icon = ''; break;
                    case 3: result.results[i].object_in_type_icon = ''; break;
                    default: result.results[i].object_in_type_icon = ''; break;
                }
                switch (result.results[i].object_out_type) {
                    case 1: result.results[i].object_out_type_icon = ''; break;
                    case 2: result.results[i].object_out_type_icon = ''; break;
                    case 3: result.results[i].object_out_type_icon = ''; break;
                    default: result.results[i].object_out_type_icon = ''; break;
                }
                console.log("TYpe IN: " + result.results[i].object_in_type + " Icon out: " + result.results[i].object_out_type_icon + " Icon IN: " + result.results[i].object_in_type_icon);
            }
        }
</script>
{# Шаблон основной таблицы #}
    {% verbatim %}
<script type="text/template" id="tmpl_table">
    <tr data-car_id="{{ pk }}">
        <td>{{ date_add.date }}</td>
        <td><i class="icon" icon="{{ object_out_type_icon }}"></i></td>
        {{# object_out.pk }}<td>{{{ object_out.name }}}{{/ object_out.pk }}{{^ object_out.pk }}<td class="blue">не определен {{/ object_out.pk }}</td>
        <td><i class="icon" icon="{{ object_in_type_icon }}"></i></td>
        <td>{{# object_in.pk }}{{{ object_in.name }}}{{/ object_in.pk }}{{^ object_in.pk }}не определен {{/ object_in.pk }}</td>
        <td>{{{ object_in.company.name }}}</td>
        <td>{{{ bunker_type.val }}}</td>
        <td>{{{ qty }}}</td>
        <td>{{{ operation_type.val }}}</td>
        <!-- replace -->
    </tr>
</script>
{% endverbatim %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Картотека</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    {# Форма сортировки данных #}
                    <form method="post" name="params_form" id="params_form">
                        {# скрытые фильтры #}
                        <input type="hidden" name="ordering" value="id"/>
                        <input type="hidden" name="offset" value="0"/>
                        <input type="hidden" name="limit" value="20"/>
                        {# отображенные фильтры #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Поиск</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" class="loading" name="search">
                                </div>
                            </div>
                        </div>
                        {# Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Тип бункера</legend>
                                <div class="input_block">
                                    <select name="bunker_type">
                                        <option value="">любой</option>
                                        {% for opt in bunker_type %}
                                            <option value="{{ opt.id }}">{{ opt.val }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {# Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Операция</legend>
                                <div class="input_block">
                                    <select name="operation_type">
                                        <option value="">любой</option>
                                        {% for opt in operation_type %}
                                            <option value="{{ opt.id }}">{{ opt.val }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {# Дата начиная с Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Начиная с даты</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text"  data-action="datepicker" size="15" name="date_after">
                                </div>
                            </div>
                        </div>
                        {# Дата заканчивая с Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Заканчивая датой</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" data-action="datepicker" size="15" name="date_before">
                                </div>
                            </div>
                        </div>
                        {# блок кнопок #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <a href="#" class="textlink" onclick="ResetFormDefault('params_form');">Сбросить</a>
                                    <a href="#" class="button" onclick="list_data_api();">Найти</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {# - Форма сортировки данных #}
                </div>
                <div class="data_grid_listing">
                    {# Основная таблица данных #}
                    <table class="listing_grid">
                        <thead class="">
                            <tr>
                                <th width="90"><a href="#" class="sortable" rel="date" >Дата</a></th>
                                <th width="30"><a href="#" class="sortable" rel="object_out_type">Тип</a></th>
                                <th><a href="#" class="" rel="">Объект исходный</a></th>
                                <th width="30"><a href="#" class="sortable" rel="object_in_type">Тип</a></th>
                                <th><a href="#" class="" rel="">Объект назначения</a></th>
                                <th><a href="#" class="sortable" rel="object_in__company">Компания</a></th>
                                <th><a href="#" class="sortable" rel="bunker_type">Тип бункера</a></th>
                                <th><a href="#" class="sortable" rel="qty">Количество</a></th>
                                <th><a href="#" class="sortable" rel="operation_type">Операция</a></th>
                            </tr>
                        </thead>
                        <tbody id="datatable" class="">
                        </tbody>
                    </table>
                    {# - Основная таблица данных #}
                    {# Панель управления таблицей #}
                    {% include 'listing_bottom_navbar.html' %}
                    {# - Панель управления таблицей #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}