{% extends "main.html" %}
{% block content %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Cотрудники</a></li>
                <li class="active" ><a href="#"><b>{{ object.person.nick_name }}</b> <i>{{ object.person.given_name }} {{ object.person.family_name}}</i></a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "person/employee_left_bar.html" with object=object sel=1 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Информационный блок - основная информация #}
                    <h1><i class="icon inherit" icon="">{{ object.person.nick_name }} {{ object.person.given_name }} {{ object.person.family_name }}</i></h1>
                    {# Информационный блок - основная информация #}
                    <div class="sheet_row_headered">
                        <h2>Основная информация</h2>
                        <table class="sheet_simple">
                            <tr><td>Статус</td><td>{{ object.status.val }}</td></tr>
                            <tr><td>Должность</td><td>{{ object.role.val }}</td></tr>
                            <tr><td>Тип найма</td><td>{{ object.type.val }}</td></tr>
                            <tr><td>Дата добавления</td><td>{{ object.date_add|date:"d-m-Y" }}</td></tr>
                            <tr><td>Карточка персоны</td><td><a href="{% url 'person_card' object.person.pk %}" class="textlink">{{ object.person.nick_name }} {{ object.person.given_name }} {{ object.person.family_name }}</a> </td></tr>
                            <tr><td>Примечание</td><td>{{ object.comment }}</td></tr>
                        </table>
                    </div>
                    {# - Информационный блок - основная информация #}
                    {# Информационный блок - контакты #}
                    {% if contacts %}
                    <div class="sheet_row_headered">
                        <h2>Контактные данные</h2>
                        <table class="sheet_headered m10">
                            {% for i in contacts %}
                            <tr>
                                <td>+7 {{ i.phonenumber }} </td>
                                <td>{% if i.is_work %}рабочий{% else %}персональный{% endif %}</td>
                                <td>
                                    {% if i.is_main %}
                                         <i rel="main_icon" class="icon gold selected" icon=""></i>
                                    {%  endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                    {# - Информационный блок - контакты #}
                    {# Информационный блок - контакты в клиентах#}
                    {% if client_contacts %}
                    <div class="sheet_row_headered">
                        <h2>Контакты в клиентах</h2>
                        <table class="sheet_headered m10">
                            <thead>
                                <tr><th>Компания</th><th>Должность</th><th>Номер телефона</th><th>Примечание</th><th>Электронная почта</th></tr>
                            </thead>
                            {% for i in client_contacts %}
                            <tr>
                                <td><a href="/company/{{ i.company.pk }}/card" class="textlink"><b>{{ i.company.name }}</b></a></td>
                                <td>{{ i.role }}</td>
                                <td>+7 {{ i.contact.phonenumber }} </td>
                                <td>{{ i.comment }}</td>
                                <td><a class="textlink" href="mailto:{{ i.email }}">{{ i.email }}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                    {# - Информационный блок - контакты в клиентах#}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}