{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Ajax listing   -->
<script type="text/javascript" src="{% static 'js/utils/ajax_list.js' %}" xmlns="http://www.w3.org/1999/html"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
{% endblock %}
{% block content %}


<script>
    var req_preprocess_result = "1";

    $(document).ready(function() {
    });

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Картотека</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    <ul><li><a href="#" class="active">Ноый клиент</a></li></ul>
                    <hr>
                </div>
                <div class="data_grid_medium">
                    {# Форма нового объекта #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# Скрытые поля #}
                        {% for hidden in forms.company.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="form_row">
                            <h2 class="blue">Основная информация {{ some_strange_variable }}</h2>
                        </div>
                        {# Input Text Name #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.company.name.label }}<p>{{ forms.company.name.help_text }}</p></legend>
                                <div class="input_block reuired ">
                                    <input type="text" name="company-name">
                                    {% for error in forms.company.name.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {# Select #}
                        <div class="form_row">
                           <div class="input_wrapper">
                                <legend>Тип клиента</legend>
                                <div class="input_block ">
                                     {{ forms.company.org_type }}
                                </div>
                            </div>
                        </div>
                        {# Input Text Description #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.company.description.label }}<p>{{ forms.company.description.help_text }}</p></legend>
                                <div class="input_block reuired ">
                                    <input type="text" name="company-name">
                                    {% for error in forms.company.name.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {# Кнопки #}
                        <div class="form_row"><span class="button_block"><a class="button"  onclick="$('form#new_object').submit();">Добавить клиента</a></span></div>
                    </form>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}