{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Ajax listing   --><script type="text/javascript" src="{% static 'js/utils/ajax_list.js' %}" xmlns="http://www.w3.org/1999/html"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
{% endblock %}
{% block content %}
<script>
    var req_preprocess_result = "1";

    $(document).ready(function() {
    });

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Картотека</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    <ul><li><a href="#" class="active">Ноый клиент</a></li></ul>
                    <hr>
                </div>
                <div class="data_grid_medium">
                            <div class="sheet_switch_menu">
                                <ul>
                                    <li><a href="#" class="active">Частник</a></li>
                                    <li><a href="#">Фирма</a></li>
                                </ul>
                            </div>
                    {# Форма объекта Company #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# ------------ Company form ------------#}
                        {# Скрытые поля #}
                        <input type="hidden" name="branch-name" value="Основной офис">
                        <h2 class="blue">Основная информация {{ some_strange_variable }}</h2>
                        {# Name Input Text  #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.company.name.label }}<p>{{ forms.company.name.help_text }}</p></legend>
                                <div class="input_block reuired ">
                                    {{ forms.company.name }}
                                    {% for error in forms.company.name.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {# Description Input Text #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.company.description.label }}<p>{{ forms.company.description.help_text }}</p></legend>
                                <div class="input_block reuired ">
                                    {{ forms.company.description }}
                                    {% for error in forms.company.description.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {# Attraction Source Select  #}
                        <div class="form_row">
                           <div class="input_wrapper">
                                <legend>Источник привлечения</legend>
                                <div class="input_block ">
                                     {{ forms.company.attr_source }}
                                </div>
                                    {% for error in forms.company.comment.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                            </div>
                        </div>
                        {# Comment Input Text #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.company.comment.label }}<p>{{ forms.company.comment.help_text }}</p></legend>
                                <div class="input_block">
                                    {{ forms.company.comment }}
                                    {% for error in forms.company.comment.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        {# --------- Branch Address form --------- #}
                        <div class="form_row"><h2 class="blue">Адрес основного от офиса</h2></div>
                        {# Branch Switch #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline">
                                    <label><input type="radio" name="branch_persist"><p>об офисе пока не известно</p></label>
                                    <label><input type="radio" name="branch_persist" checked=""><p>основной офис</p></label>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.address.city.label }}</legend>
                                <div class="input_block reuired">
                                   {{ forms.address.city }}<a class="textlink" href="#">Москва?</a>{% for error in forms.address.city.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                            <div class="input_wrapper">
                                <legend>{{ forms.address.postalcode.label }}</legend>
                                <div class="input_block">
                                    {{ forms.address.postalcode }}{% for error in forms.address.postalcode.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.address.street.label }}</legend>
                                <div class="input_block reuired">
                                    {{ forms.address.street }}{% for error in forms.address.street.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                            <div class="input_wrapper">
                                <legend>{{ forms.address.app.label }}</legend>
                                <div class="input_block reuired">
                                    {{ forms.address.app }}{% for error in forms.address.app.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                            <div class="input_wrapper">
                                <legend>{{ forms.address.app_extra.label }}</legend>
                                <div class="input_block">
                                    {{ forms.address.app_extra }}{% for error in forms.address.app_extra.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.address.comment.label }}</legend>
                                <div class="input_block">
                                    {{ forms.address.comment }}{% for error in forms.address.comment.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        {# --------- Person and Contact form --------- #}
                        {# Contact switch #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline">
                                    <label><input type="radio" name="ch2" checked=""><p>неизвестная ранее персона</p></label>
                                    <label><input type="radio" name="ch2"><p>выбрать персону</p></label>
                                    <label><input type="radio" name="ch2"><p>нет информации о контактном лице</p></label>
                                </div>
                            </div>
                        </div>
                        <div class="form_row"><h2 class="blue">Контактное лицо</h2></div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.person.nick_name.label }}<p>{{ forms.person.nick_name.help_text }}</p></legend>
                                <div class="input_block reuired">
                                    {{ forms.person.nick_name }}{% for error in forms.person.nick_name.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.contact.role.label }}</legend>
                                <div class="input_block">
                                    {{ forms.contact.role }}{% for error in forms.contact.role.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.contact.phonenumber.label }}</legend>
                                <div class="input_block reuired">
                                    {{ forms.contact.phonenumber }}{% for error in forms.contact.phonenumber.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                            <div class="input_wrapper">
                                <legend>{{ forms.contact.comment.label }}</legend>
                                <div class="input_block">
                                    {{ forms.contact.comment }}{% for error in forms.contact.comment.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>{{ forms.contact.email.label }}</legend>
                                <div class="input_block">
                                    {{ forms.contact.email }}{% for error in forms.contact.email.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                </div>
                            </div>
                        </div>
                        {# Кнопки #}
                        <div class="form_row"><span class="button_block"><a class="button"  onclick="$('form#new_object').submit();">Добавить клиента</a></span></div>
                    </form>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}