{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
{% endblock %}
{% block content %}
<script>

    $(document).ready(function() {
        var company_id = '{{ company.pk }}';

        {# Проверки на номер телефона #}
        var $number_input = $('input[name=contact-phonenumber]');
        $number_input.on('change', function() {
            CheckPhoneInput(company_id, this);
        });
    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'company_list_clients' %}">Картотека</a></li>
                <li><a href="{% url 'company_card_client' company.pk %}">Карточка клиента {{ company.name }}</a></li>
                <li class="active"><a href="#">Контакты</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "company/company_left_bar.html" with pk=company.pk sel=2 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Информационный блок - контакты #}
                    {% if contacts %}
                    <div class="sheet_row_headered">
                        <h2>Контакты</h2>
                        <table class="sheet_headered m10" id="contacts_table">
                            <thead>
                                <tr><th>Имя</th><th>Должность</th><th>Телефон</th><th>Примечание</th><th>Электронная почта</th><th></th><th>Управление</th></tr>
                            </thead>
                            <tbody>
                                {% for i in contacts %}
                                <tr>
                                    <td>{% if i.contact.person_id %}<a href="/persons/{{ i.contact.person_id }}/card" class="textlink">{{ i.contact.person.nick_name }}</a>{% else %}без персоны{% endif %}</td>
                                    <td> {{ i.role }} </td>
                                    <td>{{ i.contact.phonenumber }} </td>
                                    <td>{{ i.comment }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{% if i.show_in_card %}<i class="icon " icon=""></i>{% endif %}</td>
                                    <td><a href="{% url 'company_contacts_update' company.pk i.contact.pk %}" class="textlink _icon" icon=""></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="empty_block">
                        <p>контакты не добавлены</p>
                    </div>
                    {% endif %}
                    {# - Информационный блок - контакты #}
                    {# Форма объекта #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# Скрытые поля #}
                        {% for hidden in forms.person.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="form_row">
                            <h2>{% if update_view %}Редактор контакта{% else %}Новый контакт{% endif %}</h2>
                        </div>
                        {# Форма person: nick_name #}
                        {% for field in forms.person.visible_fields %}
                        <div class="form_row">
                           <div class="input_wrapper">
                                <legend>{{ field.label }}<p>{{ field.help_text }}</p></legend>
                                <div class="input_block {% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
                                     {{ field }}
                                    {% for error in field.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {# Форма contact: phonenumber #}
                        {% for field in forms.contact.visible_fields %}
                        <div class="form_row">
                           <div class="input_wrapper">
                                <legend>{{ field.label }}<p>{{ field.help_text }}</p></legend>
                                <div class="input_block {% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
                                     {{ field }}
                                    {% for error in field.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {# Форма companycontact: role, comment, email, show_in_card #}
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.companycontact.role %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.companycontact.comment %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.companycontact.email %}</div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline">
                                    <label><input type="radio" name="companycontact-show_in_card" value="True" {% if forms.companycontact.show_in_card.value %}checked{% endif %}><p>Показывать контакт в карточке клиента</p></label>
                                    <label><input type="radio" name="companycontact-show_in_card" value="False" {% if not forms.companycontact.show_in_card.value %}checked{% endif %}><p>Скрыть контакт</p></label>
                                </div>
                            </div>
                        </div>
                        {# Кнопки #}
                        <div class="form_row">
                            <span class="button_block">
                                <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                            </span>
                        </div>
                        {# - Кнопки #}
                    </form>
                    {# - Форма объекта #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}