{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
{% endblock %}
{% block content %}
<script>

    $(document).ready(function() {
        var company_id = '{{ company.pk }}';
        var $number_input = $('input[name=contact-phonenumber]');
        $number_input.on('change', function(){
            var value = this.value;
            if (value.length == 10) {
                console.log("Value: " + this.value);
                $.ajaxSetup({headers: { "X-CSRFToken": getCookie("csrftoken") }});
                $.ajax({
                    url:  '/persons/get_contact_json/',
                    dataType: "json",
                    data: { 'phonenumber': value}
                })
                .done(function(result) {
                    if (result.count > 0) {
                        var name = result.results[0].person.nick_name;
                        var contact_id = result.results[0].id;
                        var person_id = result.results[0].person.id;
                        var comment = result.results[0].comment;
                        var ErrorString = 'Номер уже есть в контакте <a href="/persons/'+ person_id +'/card/">'+name+'</a>, добавить контакт вместо нового? <a href="#" onClick="add_contact('+company_id+', '+contact_id+');">Да</a>';
                        $('<em>' + ErrorString + '</em>').insertAfter($number_input);
                    }
                })
                .fail(function(result) { console.log("Error! result: "+ result)});
            }
        });

    });

    function add_contact(company_id, contact_id) {
        $.ajax({
            type: 'GET',
            url:  '/persons/create_company_contact_json/',
            dataType: "json",
            data: { 'company_id': company_id, 'contact_id': contact_id}
        })
        .done(function(result){
            if (result.result == "1") {
                location.reload()
            }
            console.log("Result");
        });
        return false;
    };
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'company_list_clients' %}">Картотека</a></li>
                <li><a href="{% url 'company_card_client' company.pk %}">Карточка клиента {{ company.name }}</a></li>
                <li class="active"><a href="#">Контакты</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "company/company_left_bar.html" with pk=company.pk sel=2 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Информационный блок - контакты #}
                    {% if contacts %}
                    <div class="sheet_row_headered">
                        <h2>Контакты</h2>
                        <table class="sheet_headered" id="contacts_table">
                            <thead>
                                <tr><th>Имя</th><th>Должность</th><th>Телефон</th><th>Примечание</th><th></th><th>Управление</th></tr>
                            </thead>
                            <tbody>
                                {% for i in contacts %}
                                <tr>
                                    <td>{% if i.contact.person_id %}<a href="#" class="textlink">{{ i.contact.person.nick_name }}</a>{% else %}без персоны{% endif %}</td>
                                    <td> {{ i.contact.role }} </td>
                                    <td>{{ i.contact.phonenumber }} </td>
                                    <td>{{ i.contact.comment }}</td>
                                    <td>{% if i.contact.show_in_card %}<i class="icon " icon=""></i>{% endif %}</td>
                                    <td><a href="{% url 'company_contacts_update' company.pk i.contact.pk %}">Изм</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="empty_block">
                        <p>контакты не добавлены</p>
                    </div>
                    {% endif %}
                    {# - Информационный блок - контакты #}
                    {# Форма объекта #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# Скрытые поля #}
                        {% for hidden in forms.person.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="form_row">
                            <h2>{% if update_view %}Редактор контакта{% else %}Новый контакт{% endif %}</h2>
                        </div>
                        {# Поля формы #}
                        {% for field in forms.person.visible_fields %}
                        <div class="form_row">
                           <div class="input_wrapper">
                                <legend>{{ field.label }}<p>{{ field.help_text }}</p></legend>
                                <div class="input_block {% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
                                     {{ field }}
                                    {% for error in field.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {# Поля формы #}
                        {% for field in forms.contact.visible_fields %}
                        <div class="form_row">
                           <div class="input_wrapper">
                                <legend>{{ field.label }}<p>{{ field.help_text }}</p></legend>
                                <div class="input_block {% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
                                     {{ field }}
                                    {% for error in field.errors %}
                                    <em>{{ error|escape }}</em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline">
                                    <label><input type="radio" name="contact-show_in_card" value="True" {% if forms.contact.show_in_card.value %}checked{% endif %}><p>Показывать контакт в карточке клиента</p></label>
                                    <label><input type="radio" name="contact-show_in_card" value="False" {% if not forms.contact.show_in_card.value %}checked{% endif %}><p>Скрыть контакт</p></label>
                                </div>
                            </div>
                        </div>
                        {# Кнопки #}
                        <div class="form_row">
                            <span class="button_block">
                                <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                            </span>
                        </div>
                        {# - Кнопки #}
                    </form>
                    {# - Форма объекта #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}