{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
<!-- Kladr JS       --><script type="text/javascript" src="{% static 'js/kladr/jquery.kladr.min.js' %}"></script>
<!-- Kladr CSS      --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/kladr/jquery.kladr.min.css' %}'/>

{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        {# Кладр #}
        var $city = $('input[name=address-city]');
        var $street = $('input[name=address-street]');
        var $building  = $('input[name=address-app]');
        $city.kladr({ token: 'token', key: 'key', type: $.kladr.type.city});
        $street.kladr({ token: 'token', key: 'key', type: $.kladr.type.street, parentInput: $city });
        $building.kladr({ token: 'token', key: 'key', type: $.kladr.type.building, parentInput: $street });

        {# Делаем видимой форму контакта, если был переключен contact_switch #}
        var branch_switch_val = "{{ forms.branch.branch_switch.value }}";
        if (branch_switch_val === "1") {
            $('#branch_form').removeClass('none');
            $('input[type=radio][name=branch_exist]').filter('[value="1"]').attr('checked', true);
        }
        var contact_switch_val = "{{ forms.person.contact_switch.value }}";
        if (contact_switch_val === "1") {
            $('#contact_form').removeClass('none');
            $('input[type=radio][name=contact_exist]').filter('[value="1"]').attr('checked', true);
        }

        {# Переключаем отображение формы, если выбран пункт в радио группе #}
        $('input[type=radio][name=branch_exist]').change(function() {
            if (this.value == '1') {
                {# даем значение в скрытый инпут (элемент формы contact_switch, что бы в случае валидации формы с ошибками значение вернулось #}
                {# и при загрузке страницы скрытая по умолчанию форма была видима #}
                $('input[name=branch-branch_switch]').val(1);
                $('#branch_form em').remove();  {# удаляем ошибки валидации формы #}
                $('#branch_form').fadeIn('fast');
            }
            else if (this.value == '') {
                $('#branch_form').fadeOut('fast');
                $('input[name=branch-branch_switch]').val("");
            }
        });
        $('input[type=radio][name=contact_exist]').change(function() {
            if (this.value == '1') {
                $('input[name=person-contact_switch]').val(1);
                $('#contact_form em').remove();  {# удаляем ошибки валидации формы #}
                $('#contact_form').fadeIn('fast');
            }
            else if (this.value == '') {
                $('input[name=person-contact_switch]').val("");
                $('#contact_form').fadeOut('fast'); }
        });

        {# Проверки на номер телефона #}
        var $number_input = $('input[name=contact-phonenumber]');
        $number_input.on('change', function() {
            CheckPhoneInput(false, this);
        });
    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'company_list_clients' %}">Картотека</a></li>
                <li class="active" ><a href="listing.html">Новый клиент: Фирма</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    <ul><li><a href="#" class="active">Ноый клиент</a></li></ul>
                    <hr>
                </div>
                <div class="data_grid_medium">
                    {# Меню переключения Частник/Фирма #}
                    <div class="sheet_switch_menu">
                        <ul><li><a href="{% url 'company_create_private' %}">Частник</a></li>
                            <li><a href="#" class="active">Фирма</a></li>
                        </ul>
                    </div>
                    {# - Меню переключения Частник/Фирма #}
                    {# Форма объекта Company #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# ------------ Company form ------------#}
                        {# Скрытые поля #}
                        <input type="hidden" name="branch-name" value="Основной">
                        <input type="hidden" name="add_exist_contact" value="">
                        <input type="hidden" name="show_in_card" value="1">
                        <div class="form_row"><h2 class="blue">Основная информация</h2></div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company.name  %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company.description  %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company.attr_source  %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company.comment  %}</div>
                        <div class="form_row"><h2 class="blue">Адрес основного офиса</h2></div>
                        {# Branch Switch #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline">
                                    {{ forms.branch.branch_switch }} {# скрытый параметр формы, регулируется из функции при загрузке #}
                                    <label><input type="radio" name="branch_exist" value="" checked=""><p>об офисе пока не известно</p></label>
                                    <label><input type="radio" name="branch_exist" value="1"><p>основной офис</p></label>
                                </div>
                            </div>
                        </div>
                        <div id="branch_form" {% if forms.branch.branch_switch.value != '1' %}class="none"{% endif %}>
                            <div class="form_row">
                                <div class="input_wrapper">
                                    <legend>{{ forms.address.city.label }}</legend>
                                    <div class="input_block required {% if forms.address.city.errors %}error{% endif %}">
                                       {{ forms.address.city }}<a class="textlink" href="#" onclick="$('input#input_city').val('Москва');return false;">Москва?</a>{% for error in forms.address.city.errors %}<em>{{ error|escape }}</em>{% endfor %}
                                    </div>
                                </div>
                                {% include "form_snippets/textinput.html" with field=forms.address.postalcode  %}
                            </div>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=forms.address.street  %}
                                {% include "form_snippets/textinput.html" with field=forms.address.app  %}
                            </div>
                            <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.address.comment  %}</div>
                        </div>
                        {# --------- Person and Contact form --------- #}
                        {# Contact switch #}
                        <div class="form_row"><h2 class="blue">Контактная информация</h2></div>
                        <div class="form_row">
                            <div class="input_wrapper">
                                <div class="input_block _inline">
                                    {{ forms.person.contact_switch }} {# скрытый параметр формы, регулируется из функции при загрузке #}
                                    <label><input type="radio" name="contact_exist" value="" checked=""><p>нет информации о контактном лице</p></label>
                                    <label><input type="radio" name="contact_exist" value="1"><p>добавить контактное лицо</p></label>
                                </div>
                            </div>
                        </div>
                        <div id="contact_form" {% if forms.person.contact_switch.value != '1' %}class="none"{% endif %}>
                            <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.contact.phonenumber %}</div>
                            <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.person.nick_name %}</div>
                            <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company_contact.role %}</div>
                            <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company_contact.comment %}</div>
                            <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company_contact.email %}</div>
                        </div>
                        {# Кнопки #}
                        <div class="form_row"><span class="button_block"><a class="button"  onclick="$('form#new_object').submit();">Добавить клиента</a></span></div>
                    </form>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}