{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
{% endblock %}
{% block content %}
<script>

    $(document).ready(function() {
        var company_id = '{{ company.pk }}';

    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'company_list_clients' %}">Картотека</a></li>
                <li><a href="{% url 'company_card_client' company.pk %}">Карточка клиента {{ company.name }}</a></li>
                <li class="active"><a href="#">Условия работы</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "company/company_left_bar.html" with pk=company.pk sel=7 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Форма объекта #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# Скрытые поля #}
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="form_row">
                            <h1>Условия работы с клиентом</h1>
                        </div>
                        {# Поля формы #}
                        <div class="form_row"><h2 class="blue">Частота вывозов</h2></div>
                        <div class="form_row">{% include "form_snippets/radio.html" with field=form.request_freq %}</div>
                        <div class="form_row"><h2 class="blue">Специальные требование клиента</h2></div>
                        <div class="form_row">{% include "form_snippets/checkbox.html" with field=form.request_special_sign %}</div>
                        <div class="form_row">{% include "form_snippets/checkbox.html" with field=form.request_tickets %}</div>
                        <div class="form_row"><h2 class="blue">Условия оплаты</h2></div>
                        <div class="form_row">{% include "form_snippets/radio.html" with field=form.pay_condition %}</div>
                        <div class="form_row"><h2 class="blue">Основная форма оплаты</h2></div>
                        <div class="form_row">{% include "form_snippets/radio.html" with field=form.pay_form %}</div>
                        <div class="form_row"><h2 class="blue">Финансовые лимиты</h2></div>
                        <div class="form_row">
                            <div class="input_block _inline">
                                {{ form.credit_limit.label }}{{ form.credit_limit }}
                                {% for error in form.credit_limit.errors %}
                                <em>{{ error|escape }}</em>
                                {% endfor %}
                            </div>
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                        {# Кнопки #}
                        <div class="form_row">
                            <span class="button_block">
                                <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                            </span>
                        </div>
                        {# - Кнопки #}
                    </form>
                    {# - Форма объекта #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}