{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {

        {# Проверки на номер телефона #}
        var $number_input = $('input[name=contact-phonenumber]');
        $number_input.on('change', function() {
            CheckPhoneInput(false, this);
        });
    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'company_list_clients' %}">Картотека</a></li>
                <li class="active" ><a href="listing.html">Новый клиент: Частник</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">Ноый клиент</a></li></ul>
                    <hr>
                </div>
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Меню переключения Частник/Фирма #}
                    <div class="sheet_switch_menu">
                        <ul>
                            <li><a href="#" class="active">Частник</a></li>
                            <li><a href="{% url 'company_create_firm' %}" >Фирма</a></li>
                        </ul>
                    </div>
                    {# - Меню переключения Частник/Фирма #}
                    {# Форма объекта Company #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        {# ------------ Company form ------------#}
                        {# Скрытые поля #}
{#                        <input type="hidden" name="contact_exist" value="1">#}
                        <input type="hidden" name="branch-name" value="Основной офис">
                        <input type="hidden" name="add_exist_contact" value="">
                        <div class="form_row">
                            <h2 class="blue">Основная информация</h2>
                        </div>
                        {# Name Input Text  #}
                        <div class="form_row">
                            <div class="input_wrapper">
                                <legend>Наименование клиента<p>Присваивается автоматически, но может быть изменено</p></legend>
                                <div class="input_block ">
                                    <h1>{{ new_private_company_ID }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company.attr_source  %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company.comment  %}</div>
                        {# --------- Person and Contact form --------- #}
                        {# Contact switch #}
                        <div class="form_row"><h2 class="blue">Контактная информация</h2></div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.contact.phonenumber %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.person.nick_name %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company_contact.role %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company_contact.comment %}</div>
                        <div class="form_row">{% include "form_snippets/textinput.html" with field=forms.company_contact.email %}</div>
                        {# Кнопки #}
                        <div class="form_row"><span class="button_block"><a class="button"  onclick="$('form#new_object').submit();">Добавить клиента</a></span></div>
                        {# ошибки формы #}
                        {% include "form_snippets/multiform_errors.html" with forms=forms %}
                    </form>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}