{% extends "main.html" %}
{% block content %}
<script>
</script>
        <!--********************* Breadcrumbs *********************  -->
        <div class="breadcrumbs">
            <ul>
                <li class="active" ><a href="listing.html">Песочница</a></li>
            </ul>
        </div>
        <!--********************* ! Breadcrumbs *********************  -->
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            <div class="sheet">
            <!--********************* Sheet *********************  -->
                <!--*********** Card menu ***********  -->
                <div class="left_bar">
                    <ul>
                        <li><a href="/" class="active">Старт</a></li>
                        <li><a href="{% url 'workday_races' %}" class="">Рабочий день</a></li>
                    </ul>
                    <hr>
                    <h3>Верстка</h3>
                    <ul>
                        <li><a href="/pg/card">Карточка</a></li>
                        <li><a href="/pg/listing">Листинг</a></li>
                        <li><a href="/pg/forms">Формы</a></li>
                    </ul>
                    <hr>
                    <h3>Типовые виды</h3>
                    <ul>
{#                        <li><a href="/pg/card">Карточка</a></li>#}
                        <li><a href="/dummy/listing">Листинг</a></li>
{#                        <li><a href="/pg/forms">Формы</a></li>#}
                    </ul>
                </div>
                <!--*********** ! Card menu ***********  -->
                <!--*********** Data grid medium ***********  -->
                <div class="data_grid_medium">
                    <!--*********** Header block ***********  -->
                    <div class="sheet_row_headered">
                        <h2>API</h2>
                        <div class="flex_row">
                            <div class="flex_block _zero">
                                <ul class="contents">
                                    <li><h3>Тестирование</h3></li>
                                    <li><a href="/dummy/api/dummy_flow">Думми - flow </a></li>
                                    <li><h3>Компании</h3></li>
                                    <li><a href="/company/api/">Компании </a></li>
                                    <li><a href="/company/api/clients/">Компании / Клиенты</a></li>
                                    <li><a href="/company/api/company_contacts/">Компании / Контакты</a></li>
                                    <li><h3>Контакты</h3></li>
                                    <li><a href="/persons/api/contacts_search_json/">Персоны / Поиск контактов</a></li>
                                    <li><h3>Контрагенты</h3></li>
                                    <li><a href="/contragents/api/contragents_list/">Контрагенты / Группа клиентов</a></li>
                                    <li><h3>Персоны</h3></li>
                                    <li><a href="/persons/api/employies_rest/">Персоны / Сотрудники</a></li>
                                    <li><h3>Автомобили</h3></li>
                                    <li><a href="/cars/api/cars_rest/">Авто / Картотека</a></li>
                               </ul>
                            </div>
                            <div class="flex_block">
                                <ul class="contents">
                                    <li><h3>Объекты</h3></li>
                                    <li><a href="/objects/api/objects_rest/">Объекты / Картотека</a></li>
                                    <li><a href="/objects/api/objects_contacts_rest/">Объекты / Контакты на объекте</a></li>
                                    <li><h3>Бункеры</h3></li>
                                    <li><a href="/bunkers/api/bunker_flow_rest/">Бункеры / Движение</a></li>
                                    <li><a href="/bunkers/api/bunker_remains/">Бункеры / Остатки</a></li>
                                    <li><h3>Рейсы</h3></li>
                                    <li><a href="/races/api/races_rest/">Рейсы</a></li>
                                    <li><h3>Деньги</h3></li>
                                    <li><a href="/dds/api/dds_accounts_rest/">Счета</a></li>
                                    <li><a href="/dds/api/dds_items_rest/">Статьи</a></li>
                                    <li><a href="/dds/api/dds_flow_rest/">Движение денег</a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--*********** ! Header block ***********  -->
                </div>
                <!--*********** ! Data grid medium ***********  -->
            <!--************* ! End Sheet **************  -->
            </div>
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}