{% extends "main.html" %}
{% block content %}
        <div class="breadcrumbs">
            <ul>
                <li><a href="listing.html">Картотека</a></li>
                <li class="active" ><a href="listing.html">Карточка объекта</a></li>
            </ul>
        </div>
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            <div class="sheet">
            <!--********************* Sheet *********************  -->
                <!--*********** Left Sheet Bar ***********  -->
                <div class="left_bar">
                    <ul>
                        <li><a href="#">Карточка компании</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#" class="active">Цены</a></li>
                        <li><a href="#">Объекты</a></li>
                        <li><a href="#">Движение денег</a></li>
                    </ul>
                    <hr>
                    <h3>Управление</h3>
                    <ul>
                        <li><a href="#">Информация</a></li>
                        <li><a href="#">Условия работы</a></li>
                        <li><a href="#">Сверки</a></li>
                    </ul>
                </div>
                <!--*********** End Left Sheet Bar ***********  -->
                <!--*********** Data grid medium ***********  -->
                <div class="data_grid_medium">
                    <!--*********** Customer header ***********  -->
                    <div class="flex_row">
                        <div class="flex_block">
                            <h1>МокКомСбыт</h1>
                        </div>
                        <div class="flex_block _zero customer_account_detales">
                            <span>
                                <p>БАЛАНС</p><em>7500</em>
                            </span>
                            <span>
                                <p>КРЕДИТ</p><em>7500</em>
                            </span>
                            <span class="customer_status">РАБОЧИЙ</span>
                        </div>
                    </div>
                    <!--*********** End Customer header ***********  -->
                    <!--*********** Values block ***********  -->
                    <div class="flex_row">
                        <div class="values_block">
                            <span><p>фирма</p><em>тип клиента</em></span>
                            <span><p>Группа I</p><em>рабочая группа</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>постоянный</p><em>частота заказов</em></span>
                            <span><p>28-10-15</p><em>дата добавления</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>по постанове</p><em>условия оплаты</em></span>
                            <span><p>предоплата</p><em>тип оплаты</em></span>
                        </div>
                        <div class="values_block">
                            <span>
                                <textarea maxlength="255" cols="50" rows="2">Звонить не надо КЛИЕНТ от Алексея</textarea>
                                <em>примечание</em></span>
                        </div>
                    </div>
                    <!--*********** End Values block ***********  -->
                    <!--*********** Header block ***********  -->
                    <div class="sheet_row_headered">
                        <h2>Основная информация</h2>
                        <table class="sheet_simple">
                            <tr><td>Источник привлечения</td><td>Сайт musorovozoff.ru</td></tr>
                            <tr><td>Описание</td><td>Компания специализируется на выпуске парфюмерных средств на основе семян однолетних цветов семейства лютиковых.</td></tr>
                        </table>
                    </div>
                    <!--*********** End Header block ***********  -->
                    <!--*********** Header block ***********  -->
                    <div class="sheet_row_headered">
                        <h2>Контакты</h2>
                        <table class="sheet_simple">
                            <tr>
                                <td>+7 495 232 0232</td><td>без персоны</td><td>колл-центр</td><td></td>
                            </tr>
                            <tr>
                                <td>+7 499 474 2345</td><td>Анисимов Степан</td><td>+7 499 474 2345</td><td><a href="mailto:anisimov.st@gmail.com">anisimov.st@gmail.com</a></td>
                            </tr>
                        </table>
                    </div>
                    <!--*********** End Header block ***********  -->
                    <!--*********** Header block ***********  -->
                    <div class="sheet_row_headered">
                        <h2>Отделения</h2>
                        <table class="sheet_headered">
                            <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Адрес</th>
                                    <th>Телефон</th>
                                    <th>Персона</th>
                                    <th>Примечание</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Офис</td><td>Москва, Рогожский вал дом 21 стр 5</td><td>+7 499 474 2345</td><td>Костюшкин Игорь Петрович</td><td>офис для доставки документов</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--*********** End Header block ***********  -->
                    <!--*********** Header block ***********  -->
                    <div class="sheet_row_headered">
                        <h2>Контрагенты</h2>
                        <table class="sheet_headered">
                            <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Тип</th>
                                    <th>ИНН</th>
                                    <th>Баланс счета</th>
                                    <th>Примечание</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ООО "АргоПромСтрой база"</td><td>юр.лицо</td><td>7719684579</td><td>5800</td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--*********** End Header block ***********  -->
                </div>
                <!--*********** End Data grid medium ***********  -->
            <!--********************* End Sheet *********************  -->
            </div>
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}