                    <div class="table_bottom_bar">
                        <div id="pager_box">
                            <span>Страница</span>
                        </div>
                        <div id="rows_box">
                            <span id="total_entries">всего записей<em></em></span>
                            <span>показывать</span>
                            <a href="#" rel="limit" onClick="SetRows(20)"class="current">20</a>
                            <a href="#" rel="limit" onClick="SetRows(50)">50</a>
                            <a href="#" rel="limit" onClick="SetRows(100)">100</a>
                        </div>
                    </div>