<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="en-US" xml:lang="en-US">
<head>
    <title>Django Veta</title>
    {% load static from staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>

    <link rel='manifest' href='{% static "manifest.json" %}'/>

    <!-- CSS Styles -->
    <link rel='stylesheet' media="screen" type='text/css' href='{% static "css/ready.css" %}'/>
    <link rel='stylesheet' media="screen" type='text/css' href='{% static "css/main.css" %}'/>
    <link rel='stylesheet' media="screen" type='text/css' href='{% static "css/forms.css" %}'/>
    <!-- Base JS Scripts -->
    <script type="text/javascript" src="/static/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.js"></script>

    <!-- FONTS -->
{#    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700,700italic,900,900italic,400italic,300,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
{#    <link href='{% static "css/fonts/Roboto.woff2" %}'>#}
    <!-- DateJs -->
    <!-- <script type="text/javascript" src="/static/js/datejs/build/date-ru-RU.js"></script> -->
    {% block add_static %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
<body>
    <header>
        {% include "navmenu.html" %}
        <div class="sheet_row_headered">
            <div class="block_item">
                <div class="menu_item">
                    <div class="menu_item_header">
                        <span>
                            Фролова Татьяна
                            <p>Диспетчер Группа</p>
                        </span>
                        <em>&#xf0c9;</em>
                    </div>
                    <ul>
                        <li><a href="#" class="unused">Настройки </a></li>
                        <li><a href="/logout">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
{% block js %}{% endblock %}