<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="en-US" xml:lang="en-US">
<head>
    <title>Django Veta</title>

    {% load static from staticfiles %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#    <link rel="SHORTCUT ICON" href="" type="image/x-icon">#}
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>

    <!-- CSS Styles -->
    <link rel='stylesheet' media="screen" type='text/css' href='{% static "css/ready.css" %}'/>
    <link rel='stylesheet' media="screen" type='text/css' href='{% static "css/main.css" %}'/>
    <link rel='stylesheet' media="screen" type='text/css' href='{% static "css/forms.css" %}'/>
    <!-- Base JS Scripts -->
    <script type="text/javascript" src="/static/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.js"></script>

    <!-- DateJs -->
    <!-- <script type="text/javascript" src="/static/js/datejs/build/date-ru-RU.js"></script> -->
    {% block add_static %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
<body>
    <header>
        {% include "navmenu.html" with selected_menu_id2=selected_menu_id %}
        <div class="sheet_row_headered">
            <div class="block_item">
                <div class="menu_item">
                    <div class="menu_item_header">
                        <span>
                            Фролова Татьяна
                            <p>Диспетчер Группа</p>
                        </span>
                        <em>&#xf0c9;</em>
                    </div>
                    <ul>
                        <li><a href="#" class="unused">Настройки </a></li>
                        <li><a href="/logout">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>