        <nav>
            <ul>
                <li><a href="/"><div>&#xf015;<span>Главная</span></div></a></li>
                <li><a href="{% url 'company_search_contacts' %}"><div>&#xf0b1;<span>Клиенты {{ selected_menu_id2 }}</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'company_list_clients' %}">Картотека клиентов</a></li>
                            <li><a href="{% url 'contragents_list_all' %}">Контрагенты</a></li>
                            <li><a href="listing.html" class="unused">Баланс счетов</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'company_create_private' %}"><i>&#xf067;</i>Новый клиент</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#"><div>&#xf0c0;<span>Персоны</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'employies_list' %}">Сотрудники</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'employee_create' %}"><i>&#xf067;</i>Новый сотрудник</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="listing.html" class="unused"><div>&#xf11e;<span>Рейсы</span></div></a></li>
                <li><a href="listing.html" class="unused"><div>&#xf041;<span>Объекты</span></div></a></li>
                <li><a href="{% url 'car_list' %}"><div>&#xf0d1;<span>Авто</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'car_list' %}">Все автомобили</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'car_create' %}"><i>&#xf067;</i>Новое авто</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="listing.html" class="unused"><div>&#xf145;<span>Талоны</span></div></a></li>
                <li><a href="listing.html" class="unused"><div>&#xf080;<span>Отчеты</span></div></a></li>
                <li><a href="listing.html" class="unused"><div>&#xf153;<span>Финансы</span></div></a></li>
                <li><a href="/admin"><div>&#xf085;<span>Управление</span></div></a></li>
            </ul>
        </nav>