        <nav>
            <ul>
                <li><a href="/"><div>&#xf015;<span>Главная</span></div></a></li>
                <li><a href="{% url 'company_list_clients' %}"><div>&#xf0b1;<span>Клиенты {{ selected_menu_id2 }}</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'company_list_clients' %}">Картотека клиентов</a></li>
                            <li><a href="{% url 'company_search_contacts' %}">Поиск контактов</a></li>
                            <li><a href="{% url 'contragents_list_all' %}">Контрагенты</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'company_create_private' %}"><i>&#xf067;</i>Новый клиент</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#"><div>&#xf0c0;<span>Персоны</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'employies_list' %}">Сотрудники</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'employee_create' %}"><i>&#xf067;</i>Новый сотрудник</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'races_list' %}"><div>&#xf11e;<span>Рейсы</span></div></a></li>
                <li><a href="{% url 'objects_list' %}"><div>&#xf041;<span>Объекты</span></div></a></li>
                <li><a href="{% url 'car_list' %}"><div>&#xf0d1;<span>Авто</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'car_list' %}">Все автомобили</a></li>
                            <li><a href="{% url 'refuels_list' %}">Заправки</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'car_create' %}"><i>&#xf067;</i>Новое авто</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'car_list' %}"><div>&#xf01c;<span>Бункеры</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'bunker_flow' %}">Движение бункеров</a></li>
                            <li><a href="{% url 'bunker_remains_report' %}">Расстановка бункеров</a></li>
                            <li><hr></li>
                            <li><a href="{% url 'bunker_flow_add_op' %}"><i>&#xf067;</i>Новая операция расстановки</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'talons_flow' %}"><div>&#xf145;<span>Талоны</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'talons_flow' %}">Движение талонов</a></li>
                            <li><a href="{% url 'talons_report_by_dump_group' %}">Остатки талонов по группам</a></li>
                            <li><a href="{% url 'talons_move_buy' %}">Приобретение талонов</a></li>
                            <li><a href="{% url 'talons_move_between' %}">Перемещение талонов</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="listing.html"><div>&#xf080;<span>Отчеты</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'refuels_check_report' %}">Заправки по картам</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'dds_flow' %}"><div>&#xf153;<span>Финансы</span></div></a>
                    <div>
                        <ul>
                            <li><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                            <li><a href="{% url 'dds_accounts_balance' %}">Баланс счетов</a></li>
                            <li><a href="{% url 'dds_templates_list' 0 %}">Шаблоны операций</a></li>
                            <li><a href="{% url 'dds_template_create' %}"><i>&#xf067;</i>Новый шаблон</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/admin"><div>&#xf085;<span>Управление</span></div></a></li>
            </ul>
        </nav>