{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Kladr JS       --><script type="text/javascript" src="{% static 'js/kladr/jquery.kladr.min.js' %}"></script>
<!-- Kladr CSS      --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/kladr/jquery.kladr.min.css' %}'/>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        {# Кладр #}
        var $city = $('input[name=address-city]');
        var $street = $('input[name=address-street]');
        var $building  = $('input[name=address-app]');
        $city.kladr({ token: 'token', key: 'key', type: $.kladr.type.city});
        $street.kladr({ token: 'token', key: 'key', type: $.kladr.type.street, parentInput: $city,
        		verify: true,
				select: function (obj) {
                    $input = $(this);
					setLabel($input, obj.type);
                    $input.val(obj.typeShort + " " + obj.name);
				}
        });
        $building.kladr({ token: 'token', key: 'key', type: $.kladr.type.building, parentInput: $street });
    });


    function setLabel($input, text) {
        text = text.charAt(0).toUpperCase() + text.substr(1).toLowerCase();
        $input.parent().parent().find('legend').text(text);
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="">Объекты</a></li>
                <li class="active" ><a href="#">Новый объект</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">Новый объект</a></li></ul><hr>
                </div>
                {# - Левый бар #}
                <div class="data_grid_medium ">
                    {# Форма объекта #}
                    <form action="" method="POST" id="new_object">{% csrf_token %}
                        <div class="form_row"><h2 class="blue">Адрес объекта</h2></div>
                        {% include "form_snippets/formfields_as_row.html" with form=forms.address %}
                        <div class="form_row"><h2 class="blue">Характеристики</h2></div>
                        {% include "form_snippets/formfields_as_row.html" with form=forms.object %}
                        {# Кнопки #}
                        <div class="form_row">
                            <span class="button_block">
                                <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                            </span>
                        </div>
                        {# - Кнопки #}
                    </form>
                    {# - Форма объекта #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}