{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Kladr JS       --><script type="text/javascript" src="{% static 'js/kladr/jquery.kladr.min.js' %}"></script>
<!-- Kladr CSS      --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/kladr/jquery.kladr.min.css' %}'/>
<! -- Yandex Map    --><script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}
{% block content %}
<script>
	var map_created = false;

    ymaps.ready(init);
    var yMap;

    function init(){
        {% if forms.address.instance.lat and forms.address.instance.lng %}
            var lat = $('input[name="address-lat"]').val();
            var lng = $('input[name="address-lng"]').val();
        {% else %}
            lat = 55.75396;
            lng = 37.620393;
        {% endif %}
        var zoom = 12;
        console.log("---got Lat: " + lat + ", " + lng);
        if (lat == 'None' || lng == 'None') {
            lat = 55.75396;
            lng = 37.620393;
        }
        if (map_created) return;
			map_created = true;
        yMap = new ymaps.Map("map", {
            center: [lat, lng],
            zoom: zoom,
            controls: []
        });
        yMap.controls.add('zoomControl', {
            position: {
                right: 10,
                top: 10
            }
        });
        {% if forms.address.instance.lat and forms.address.instance.lng %}
            console.log("-- form instance found!");
            add_main_marker(lat, lng);
            yMap.setCenter([lat, lng], 14);
        {% endif %}
    }

    $(document).ready(function() {
        var $city = $('input[name=address-city]');
        var $street = $('input[name=address-street]');
        var $building  = $('input[name=address-app]');

        function addressUpdate() {
            // получить точный адрес из КЛАДР var address = $.kladr.getAddress($('#new_object'));
            var address = '';
            address = $street.val() + " " + $building.val();
            $('#id_object-name').val(address);
        }
        {# Кладр #}
        $()
            .add($city)
            .add($street)
            .add($building)
            .kladr({ token: 'token', key: 'key',
        		verify: true,
				select: function (obj) {
                    $input = $(this);
					setLabel($input, obj.type);
                    $input.val(obj.typeShort + " " + obj.name);
                    $input.val(obj.name);
				},
				change: function (obj) {
					if (obj) {
						setLabel($(this), obj.type);
					}
					addressUpdate();
					mapUpdate();
                },
                checkBefore: function () {
					var $input = $(this);
					if (!$.trim($input.val())) {
						addressUpdate();
						// mapUpdate();
						return false;
					}
				}
        });
        $city.kladr({ type: $.kladr.type.city });
        $street.kladr({ type: $.kladr.type.street, parentInput: $city });
        $building.kladr({ type: $.kladr.type.building, parentInput: $street, parentType: 'street', parentId: 'id_address-street'});

        // Отключаем проверку введённых данных для строений
		$building.kladr('verify', false);
    });


    function setLabel($input, text) {
        text = text.charAt(0).toUpperCase() + text.substr(1).toLowerCase();
        $input.parent().parent().find('legend').text(text);
    }
    function add_main_marker(lat, lng) {
        var Marker = new ymaps.GeoObject({
            geometry: {
                type: "Point",
                coordinates: [lat, lng]
            },
            properties: { }
        }, {
            iconLayout: 'default#image',
            iconImageHref: '{% static 'img/marker32.gif' %}',
            iconImageSize: [32, 52],
            iconImageOffset: [-16, -55],
            draggable: false
        });
        yMap.geoObjects.add(Marker);
        yMap.setCenter([lat, lng], 14);
    }

    function mapUpdate() {
        var zoom = 4;
        var address = $.kladr.getAddress('#new_object', function (objs) {
            var result = '';
            $.each(objs, function (i, obj) {
                var name = '', type = '';
                if ($.type(obj) === 'object') {
                    name = obj.name;
                    type = ' ' + obj.type;
                    switch (obj.contentType) {
                        case $.kladr.type.region:
                            zoom = 4;
                            break;
                        case $.kladr.type.district:
                            zoom = 7;
                            break;
                        case $.kladr.type.city:
                            zoom = 10;
                            break;
                        case $.kladr.type.street:
                            zoom = 13;
                            break;
                        case $.kladr.type.building:
                            zoom = 16;
                            break;
                    }
                }
                else {
                    name = obj;
                }

                if (result) result += ', ';
                result += type + ' ' + name;
            });
            return result;
        });

        if (address && map_created) {
            var geocode = ymaps.geocode(address);
            geocode.then(function (res) {
                yMap.geoObjects.each(function (geoObject) {
                    yMap.geoObjects.remove(geoObject);
                });
                var position = res.geoObjects.get(0).geometry.getCoordinates();
                        placemark = new ymaps.Placemark(position, {}, {
                                        // Опции.
                                        // Необходимо указать данный тип макета.
                                        iconLayout: 'default#image',
                                        // Своё изображение иконки метки.
                                        iconImageHref: '{% static 'img/marker32.gif' %}',
                                        // Размеры метки.
                                        iconImageSize: [32, 52],
                                        // Смещение левого верхнего угла иконки относительно
                                        // её "ножки" (точки привязки).
                                        iconImageOffset: [-16, -55]
                        });
                yMap.geoObjects.add(placemark);
                yMap.setCenter(position, zoom);
                /* обновляем значение координат в инпутах */
                var $lat = $('input[name="address-lat"]');
                var $lng = $('input[name="address-lng"]');
                $lat.val(position[0]);
                $lng.val(position[1]);
                //console.log("Address: " + address + " position: " + position + " LAT: " + position[0] + " LNG: " + position[1]);
            });
        }
    }
</script>
<style>
{#div.form_wrapper {#}
{#    flex: 0 0 auto;#}
{#}#}
div.map_wrapper {
    flex: 1 0 auto;
    padding: 5px;
    background-color: #FFFFFF;
}
div#map {
    width: 100%;
    height: 350px;
}
</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'company_list_clients' %}">Картотека клиентов</a></li>
                <li><a href="{% url 'company_card_client' company.pk %}">Карточка клиента {{ company.name }}</a></li>
                <li class="active" ><a href="#">Новый объект</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">
                            {% if forms.address.instance %}Основная информация
                            {% else %}Новый объект
                            {% endif %}
                            </a></li></ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <div class="data_grid_medium">
                            <input type="hidden" name="compbined_address" value="{{ forms.address.instance.city }}, {{ forms.address.instance.street }} {{ forms.address.instance.app }} ">
                            <input type="hidden" name="address-lat" value="{{ forms.address.instance.lat }}">
                            <input type="hidden" name="address-lng" value="{{ forms.address.instance.lng }}">
                            <div class="form_row"><h2 class="blue">Адрес объекта</h2></div>
                            {# Поля формы Адреса #}
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=forms.address.city %}
                                {% include "form_snippets/textinput.html" with field=forms.address.street %}
                                {% include "form_snippets/textinput.html" with field=forms.address.app %}
                            </div>
                            <div class="form_row">
                                <div class="map_wrapper">
                                    <div id="map"></div>
                                </div>
                            </div>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=forms.address.comment %}
                            </div>
                            <div class="flex_row">
                                <div class="flex_block _zero">
                                    <div class="form_row"><h2 class="blue">Параметры объекта</h2></div>
                                    {% include "form_snippets/formfields_as_row.html" with form=forms.object %}
                                </div>
                                <div class="flex_block bordered">
                                    <div class="form_row"><h2 class="blue">Контакты</h2></div>
                                    <table class="sheet_simple">
                                        {% for i in company_contacts %}
                                        <tr>
                                            <td>
                                               <input type="checkbox" name="company_contact_id"
                                            {% for oc in object_contacts %}
                                                {% if oc.company_contact.id == i.id %}
                                                    value="{{ i.id }}" checked
                                                {% endif %}
                                            {% endfor %}
                                            value="{{ i.id }}" >
                                            {% if i.contact.person.id %}
                                                <a href="/persons/{{ i.contact.person_id }}/card" class="textlink">{{ i.contact.person.nick_name }}</a></td><td>{{ i.role|default_if_none:"" }}</td>
                                            {% else %}
                                                без персоны</td>
                                            {% endif %}
                                            <td>+7 {{ i.contact.phonenumber }} </td>
                                            <td>{{ i.comment }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="form_row">
                                <span class="button_block">
                                    <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                </span>
                            </div>
                        {# - Форма объекта #}
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=forms.address %}
                        {% include "form_snippets/form_errors.html" with form=forms.object %}
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}