{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Объекты</a></li>
                <li class="active" ><a href="#">{{ object.name }}</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "object/object_left_bar.html" with pk=object.pk sel=1 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    {# Ключевые значения #}
                    <div class="flex_row">
                        <div class="values_block">
                            <span><p>{{ object.name }}</p><em>наименование</em></span>
                        </div>
                        {% if object.company %}
                            <div class="values_block">
                                <span><p>{{ object.company.name }}</p><em>компания</em></span>
                            </div>
                        {% endif %}
                        {% if object.comment %}
                        <div class="values_block">
                            <span>
                                <p class="comment">{{ object.comment }}</p>
                                <em>примечание</em></span>
                        </div>
                        {% endif %}
                    </div>
                    {# - Ключевые значения #}
                    {# Информационный блок - основная информация #}
                    <div class="sheet_row_headered">
                        <h2>Основная информация</h2>
                        <table class="sheet_simple">
                            <tr><td>Бункеры на объекте</td>
                                <td>{% if bunkers_onboard %}
                                    {% for b in bunkers_onboard %}
                                        {% if b.qty > 0 %}
                                            <div class="bunker">
                                                <div class="type">{{ b.type.val }}</div><div class="qty">{{ b.qty }}</div>
                                            </div>
                                        {% else %}
                                            нет
                                        {% endif %}
                                    {% endfor %}
                                {% else %}нет{%  endif %}
                                </td></tr>
                            <tr><td>Адрес объекта</td><td>{{ object.address.city }}, {{ object.address.street }} {{ object.address.app }}</td></tr>
                            <tr><td>Тип объекта</td><td>{{ object.type.val }}</td></tr>
                        </table>
                    </div>
                    {# - Информационный блок - основная информация #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}