{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/i18n/ru.js' %}"></script>
<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
{% endblock %}
{% block content %}
<script>
        $(document).ready(function() {
            $('select#select2_client').select2({
                //   "language": { "noResults": function(){ return "No Resultsrr Found <a href='#' class='btn btn-danger'>Use it anyway</a>"; }},
                "language": "ru",
                placeholder: "объект не указан",
                allowClear: true,
                ajax: {
                    url: "/company/api/clients/",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            search: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data.results, function (item) {
                                {# console.log("Obj: " + item.name + " Type: " + item.type.pk);#}
                                return {
                                    text: item.name,
                                    id: item.pk,
                                    type: item.org_type.pk,
                                    comment: item.comment
                                }
                            })
                        };
                    },
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: formatResults, // omitted for brevity, see the source of this page
{#                templateSelection: formatRepoSelection // omitted for brevity, see the source of this page#}
            });
        });

    function formatResults (result) {
        if (result.loading) return result.text;
        var markup;
        var icon_image = '';
        if (result.type == '1') {
            icon_image = '';
        } else if (result.type == '2') {
            icon_image = '';
        }
        var comment = "<span>" + result.comment + "</span>";
        if (result.comment == '') {
            comment = '';
        }

            markup = "<div class='select2_result_wrapper'> \
                        <legend><i class='icon' icon='"+ icon_image + "'></i>" + result.text + "</legend>" + comment + "</div>";
        return markup;
    }
    function formatRepoSelection (results) {
        return results.name || results.text;
    }

</script>
<style>
select.select2_powered {
    width: 300px;
}
div.select2_result_wrapper {
    font-weight: bold;
    font-size: 1.6rem;
}
div.select2_result_wrapper > span {
{#    display: block;#}
    padding: 0 5px 0 0 ;
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
}
div.select2_result_wrapper > span > i {
    padding-left: 0px;
    font-size: 1.1rem;
    font-style: normal;
    color: lightgrey;
}
</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{#% url 'company_list_clients' %#}">Рейсы</a></li>
                <li class="active" ><a href="#">Новый рейс</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">
                            {% if forms.address.instance %}Основная информация
                            {% else %}Новый объект
                            {% endif %}
                            </a></li></ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <div class="data_grid_medium">
                            <div class="flex_row">
                                <div class="flex_block _zero">
                                    <div class="form_row"><h2 class="blue">Клиент</h2></div>
                                    <div class="form_row">{% include "form_snippets/textinput.html" with field=form.company  %}</div>
                                </div>
                                <div class="flex_block bordered">
                                    <div class="form_row"><h2 class="blue">Контрагент</h2></div>
                                    <div class="form_row">{% include "form_snippets/textinput.html" with field=form.contragent  %}</div>
                                </div>
                            </div>
                            <div class="form_row">
                                <span class="button_block">
                                    <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                </span>
                            </div>
                        {# - Форма объекта #}
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=forms.address %}
                        {% include "form_snippets/form_errors.html" with form=forms.object %}
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}