{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Kladr JS       --><script type="text/javascript" src="{% static 'js/kladr/jquery.kladr.min.js' %}"></script>
<!-- Kladr CSS      --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/kladr/jquery.kladr.min.css' %}'/>
<! -- Yandex Map    --><script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}
{% block content %}
<script>

    $(document).ready(function() {
    });


</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{#% url 'company_list_clients' %#}">Рейсы</a></li>
                <li class="active" ><a href="#">Новый рейс</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">
                            {% if forms.address.instance %}Основная информация
                            {% else %}Новый объект
                            {% endif %}
                            </a></li></ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <div class="data_grid_medium">
                            <input type="hidden" name="compbined_address" value="{{ forms.address.instance.city }}, {{ forms.address.instance.street }} {{ forms.address.instance.app }} ">
                            <input type="hidden" name="address-lat" value="{{ forms.address.instance.lat }}">
                            <input type="hidden" name="address-lng" value="{{ forms.address.instance.lng }}">
                            <div class="form_row"><h2 class="blue">Адрес объекта</h2></div>
                            {# Поля формы Адреса #}
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=forms.address.city %}
                                {% include "form_snippets/textinput.html" with field=forms.address.street %}
                                {% include "form_snippets/textinput.html" with field=forms.address.app %}
                            </div>
                            <div class="form_row">
                                <div class="map_wrapper">
                                    <div id="map"></div>
                                </div>
                            </div>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=forms.address.comment %}
                            </div>
                            <div class="flex_row">
                                <div class="flex_block _zero">
                                    <div class="form_row"><h2 class="blue">Параметры объекта</h2></div>
                                    {% include "form_snippets/formfields_as_row.html" with form=forms.object %}
                                </div>
                                <div class="flex_block bordered">
                                    <div class="form_row"><h2 class="blue">Контакты</h2></div>
                                    <table class="sheet_simple">
                                        {% for i in company_contacts %}
                                        <tr>
                                            <td>
                                               <input type="checkbox" name="company_contact_id"
                                            {% for oc in object_contacts %}
                                                {% if oc.company_contact.id == i.id %}
                                                    value="{{ i.id }}" checked
                                                {% endif %}
                                            {% endfor %}
                                            value="{{ i.id }}" >
                                            {% if i.contact.person.id %}
                                                <a href="/persons/{{ i.contact.person_id }}/card" class="textlink">{{ i.contact.person.nick_name }}</a></td><td>{{ i.role|default_if_none:"" }}</td>
                                            {% else %}
                                                без персоны</td>
                                            {% endif %}
                                            <td>+7 {{ i.contact.phonenumber }} </td>
                                            <td>{{ i.comment }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="form_row">
                                <span class="button_block">
                                    <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                </span>
                            </div>
                        {# - Форма объекта #}
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=forms.address %}
                        {% include "form_snippets/form_errors.html" with form=forms.object %}
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}