{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}

<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
{#<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>#}
{#<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>#}
<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>
{#<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>#}
{#<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>#}

{% endblock %}
{%  block js %}
<!-- Select2 JS    --><script type="text/javascript" src="/static/js/select2/select2.min.js"></script>
<!-- Select2 JS    --><script type="text/javascript" src="/static/js/select2/i18n/ru.js"></script>
<!-- Select2 Bind    --><script type="text/javascript" src="/static/js/select2/bind.js"></script>
<!-- JS Template    --><script type="text/javascript" src="/static/js/mustache/mustache.min.js"></script>
<!-- DateTime       --><script type="text/javascript" src="/static/js/datetime/jquery.datetimepicker.full.min.js"></script>
{% endblock %}
{% block content %}
<script>
    var selected_company = '{{ form.company.value }}';

{#    function set_contragent_options(){#}
{#        var option = {#}
{#            "noResults": function(){ return "Контрагент не создан. <a href='/company/"+ selected_company +"/contragent_create_ul/' class='textlink'>добавить?</a>";}#}
{#        };#}
{#        return option#}
{#    }#}

        $(document).ready(function() {
            var selected_contragent;
            var selected_object = '{{ form.place.value }}';

        {#    Виджет datepicker #}
        $.datetimepicker.setLocale('ru');
        $('input[name=date_race]').datetimepicker({
            format:'d-m-Y',
            timepicker: false,
        });

        {# отключаем селект контрагента, если компания не выбрана #}
        if (!$('select#select2_client').val()) {
            $('select#select2_contragent').prop('disabled', true)
            $('select#select2_object').prop('disabled', true)
        } else {
            $('select#select2_contragent').attr('data-filter_value', "{{ form.company.value }}");
            $('select#select2_object').attr('data-filter_value', "{{ form.company.value }}");

            /* Информация о клиенте */
            get_company_info(selected_company);
        }

            $('#select2_client')
                    .on("change", function(e) {
                        /* изменение */
                        var $this = $(this);
                        var selected_id = $this.val();
                        if (selected_id) {
                            /* установить значение переменной selected_company для фильтра в зависимом селекте (контрагент)*/
                            selected_company = selected_id;
                            console.log("--Chanfed!");
                            /* "включить" селект контрагента */
                            $('select#select2_contragent')
                                    .prop('disabled', false)
                                    .attr('data-filter_value', selected_id)
                                    .val(null).change();

                            /* "включить" селект объекта */
                            $('select#select2_object')
                                    .prop('disabled', false)
                                    .attr('data-filter_value', selected_id)
                                    .val(null).change();
                            /* Информация о клиенте */
                            get_company_info(selected_company);
                        } else {
                            selected_company = null;
                            $('#company_info').empty();
                            $('select#select2_contragent').prop('disabled', true).select2("val", "");
                            $('select#select2_object').prop('disabled', true).select2("val", "");
                        }
                    })
                    .bindselect2(this);

            $.fn.select2.defaults.set("language", { "noResults": function(){ return "Контрагент не создан. <a href='/company/"+ selected_company +"/contragent_create_ul/' class='textlink'>добавить?</a>";}});
            $('#select2_contragent').bindselect2(this);


            $('#select2_object').on("change", function(e) {
                    /* изменение */
                    var $this = $(this);
                    var selected_id = $this.val();
                    /* выводим перечень контактов для объекта*/
                    if (selected_id) {
                        get_object_contacts(selected_id);
                    }
                })
                .bindselect2(this);

            /* получаем список контактов, если объект определен */
            console.log("SElected object: " + selected_object);
            if (selected_object != 'None') {
                 console.log("SElected object  nont None!");
                get_object_contacts(selected_object);
            }

        });

    function get_company_info(selected_company_id) {
                        var $infobox = $('#company_info');
                            $infobox.empty();
                        var $mark_input = $('input[name="is_mark_required"]');
                            $mark_input.val("");
                        $.ajax({
                            tape: 'POST',
                            url:  '/company/api/clients/',
                            dataType: 'json',
                            data: { 'id': selected_company_id }
                        })
                        .done(function(result) {
                            var result_data = result.results[0];
                            var infotable = Mustache.to_html($('#tmpl_company_info_content').html(), result_data );
                            $infobox.append(infotable);
                            $('input[name="is_mark_required"]').val(result_data.client_options.request_special_sign);
                        });

    }
    function get_object_contacts(object_id) {
                        $.ajax({
                            tape: 'POST',
                            url:  '/objects/api/objects_contacts_rest/',
                            dataType: 'json',
                            data: { 'object': object_id }
                        })
                        .done(function(result) {
                             var $table_body = $('#object_contacts_table').empty();
                             if (result.results && result.results.length > 0) {

                                     $table_body.empty();
                                 for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {
                                     var el = result.results[i];
                                     var tr = Mustache.to_html($('#tmpl_contacts_table').html(), el);
                                     $table_body.append(tr);
                                     console.log("Res " + el.company_contact.id);
                                 }
                             }
                        });
    }
</script>
{# Шаблон таблицы информации о клиенте#}
<script type="text/template" id="tmpl_company_info_content">{% verbatim %}
    <span>Статус: <b>{{ status.val }}</b></span>{{#client_options.request_special_sign}}<span>Отметка: <b>требуется!</b></span>{{/client_options.request_special_sign}}<span><a href="/company/{{ pk }}/card/" class="textlink">карточка клиента</a> </span><br>
    <div><i class="icon" icon="">{{ comment }}</i></div>
</script>{% endverbatim %}{#  #}
{# Шаблон таблицы контактов#}
<script type="text/template" id="tmpl_contacts_table">{% verbatim %}
<tr data-id="{{ company_contact.id }}">
    <td></td>
    <td><input type="checkbox" name="object_contact" value="{{ company_contact.id }}" checked=checked>{{ company_contact.contact.person.nick_name }}</td>{% endif %}
    <td>+7 {{ company_contact.contact.phonenumber }} </td>
    <td>{{ company_contact.comment }}</td>
</tr>
</script>{% endverbatim %}
<style>
select.select2_powered {
    width: 300px;
}
div.select2_result_wrapper {
    font-weight: bold;
    font-size: 1.6rem;
}
div.select2_result_wrapper > span {
{#    display: block;#}
    padding: 0 5px 0 0 ;
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
}
div.select2_result_wrapper > span > i {
    padding-left: 0px;
    font-size: 1.1rem;
    font-style: normal;
    color: lightgrey;
}

#company_info span {
    margin: 0.5rem 0.3rem 0.3rem 0.5rem;
}
#company_info div {
    margin: 0.5rem 0 0 1rem;
}
#company_info i {
    display: block;
    width: 430px;
}
</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{#% url 'company_list_clients' %#}">Рейсы</a></li>
                <li class="active" ><a href="#">Новый рейс</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">
                            {% if forms.address.instance %}Основная информация
                            {% else %}Новый объект
                            {% endif %}
                            </a></li></ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <input type="hidden" name="is_mark_required" value="{{ form.is_mark_required.value }}">
                    <div class="data_grid_medium" style="">
                            {# ----------------- КЛИЕНТ ------------------ #}
                            <h2 class="blue">Параметры рейса</h2>
                            <div class="flex_row">
                                <div class="flex_block m10 _half">
{#                                    <h2 class="blue">Клиент</h2>#}
                                    <div class="form_row">{% include "form_snippets/textinput.html" with field=form.company  %}</div>
                                    {#  информация о клиение #}
                                    <div id="company_info" class=""></div>
                                </div>
                                <div class="flex_block m10 bordered">
{#                                    <h2 class="blue">Контрагент</h2>#}
                                    <div class="form_row">{% include "form_snippets/textinput.html" with field=form.contragent  %}</div>
                                </div>
                            </div>
                            {# ----------------- ОБЪЕКТ ------------------- #}
                            <div class="flex_row">
                                <div class="flex_block m10 _half">
{#                                    <h2 class="blue">Объект</h2>#}
                                    <div class="form_row">{% include "form_snippets/textinput.html" with field=form.place  %}</div>
                                </div>
                                <div class="flex_block m10 bordered">
{#                                    <h2 class="blue">Контакты на объекте</h2>#}
                                    <div class="form_row">
                                        <table class="sheet_simple"><tbody id="object_contacts_table"></tbody></table>
                                    </div>
                                </div>
                            </div>
                            {# ----------------- УСЛОВИЯ ------------------- #}
                            <div class="flex_row">
                                <div class="flex_block m10 _half">
{#                                    <h2 class="blue">Состав заявки</h2>#}
                                    <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.bunker_type  %}
                                        {% include "form_snippets/textinput.html" with field=form.bunker_qty  %}
                                        {% include "form_snippets/textinput.html" with field=form.cargo_type  %}
                                    </div>
                                </div>
                                <div class="flex_block m10 bordered">
{#                                    <h2 class="blue">Параметры заявки</h2>#}
                                <div class="form_row">
                                        <div class="input_wrapper">
                                            <legend>Дата рейса</legend>
                                            <div class="input_block _inline _icon" icon="">
                                                <input type="text" size="11" name="date_race" class="" value="{{ form.date_race.value }}">
                                            </div>
                                        </div>
                                        {% include "form_snippets/textinput.html" with field=form.race_type  %}
                                        {% include "form_snippets/textinput.html" with field=form.hodkis  %}
                                    </div>
                                </div>
                            </div>
                            {# ----------------- ОПЛАТА ------------------- #}
                            <div class="flex_row">
                                <div class="flex_block m10 _half">
{#                                    <h2 class="blue">Оплата</h2>#}
                                    <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.sum  %}
                                        {% include "form_snippets/radio.html" with field=form.pay_way  %}
                                    </div>
                                </div>
                                <div class="flex_block m10 bordered">
{#                                    <h2 class="blue">Рекомендации</h2>#}
                                    <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.recommendation  %}
                                    </div>
                                </div>
                            </div>
                            {# ----------------- СБРОС ------------------- #}
                            <h2 class="blue">Сброс</h2>
                            <div class="flex_row">
                                <div class="flex_block m10 _half">
{#                                    <h2 class="blue">Сброс</h2>#}
                                    <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.dump  %}
                                        {% include "form_snippets/radio.html" with field=form.dump_pay_type  %}
                                        {% include "form_snippets/textinput.html" with field=form.dump_cash  %}
                                        {% include "form_snippets/textinput.html" with field=form.dump_cash_extra  %}
                                        {% include "form_snippets/textinput.html" with field=form.dump_cash_comment  %}
                                    </div>
                                    <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.dump_comment  %}
                                    </div>
                                </div>
                            </div>
                            {# --------------------------------------------- #}
                            <div class="form_row">
                                <span class="button_block">
                                    <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                </span>
                            </div>
                        {# - Форма объекта #}
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}