{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
<!-- Select2 Bind    --><script type="text/javascript" src="{% static 'js/select2/bind.js' %}"></script>
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/i18n/ru.js' %}"></script>
<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Utils  --><script type="text/javascript" src="{% static 'js/utils/utils.js ' %}"></script>

{% endblock %}
{% block content %}
<script>

    var selected_company = '{{ form.company.value }}';
    var selected_contragent = '{{ form.contragent.value }}';

    $(document).ready(function() {
        /* очищаем селект выбора статей, т.к. опции будут загружены из Ajax*/
        $('#id_item').empty();

        /* загружаем список опция для селекта статей*/
        load_items_by_group({{ form.item_groups.value }}, '{{ form.item.value }}');

        /* при изменении селекта групп перешружаем список селекта статей */
        $('#id_item_groups').on("change", function (el) {
            var $group_select = $(this);
            var selected_group_id = $group_select.val();
            load_items_by_group(selected_group_id);
        });

        if (selected_company != 'None') {
            load_account_detaild('contragent__company', selected_company);
        }

        {# отключаем селект контрагента, если компания не выбрана #}
        if (parseInt(selected_company)) {
            $('select#select2_contragent').attr('data-filter_value', "{{ form.company.value }}");
        } else {
            $('select#select2_contragent').prop('disabled', true)
        }

        {# Болоки таблицы счета #}
        var $datatable = $('table#account_datatable');
        var $datatable_body = $('tbody', $datatable);

        {# Виджет Компания #}
        $('#select2_company')
                .on("change", function (e) {
                    {# Прячем таблицу счета и ошибку #}
                    $('table#account_datatable').addClass('none');

                    var $this = $(this);
                    var selected_id = $this.val();
                    if (selected_id) {
                        console.log("Value found!");
                        selected_company = selected_id;
                        /* "включить" селект контрагента */
                        load_account_detaild('contragent__company', selected_company);
                    } else {
                        selected_company = null;
                        $('#nodata_error').addClass('none');
                    }
                })
                .bindselect2(this);
    });
    {# дополнительные функции #}
    {% include "dds/account_refill_fucntions.js" %}

</script>
{# Шаблон таблицы счетов#}
<script type="text/template" id="tmpl_account_table">{% verbatim %}
<tr data-id="{{ company_contact.id }}">
    <td>{{#status}}<label><input type="checkbox" name="selected_account" value="{{ pk }}" onclick="SelectAccountFromCheck(this);">Выбрать</label>{{/status}}</td>
    <td>{{ pk }}</td>
    <td>{{ name }}</td>{% endif %}
    <td>{{ contragent.name }}</td>
    <td>{{#status}}Активен{{/status}}{{^status}}<em class="red">Заблокирован</em>{{/status}}</td>
    <td>{{ balance }}</td>
</tr>
</script>{% endverbatim %}
<style>
select.select2_powered {
    width: 300px;
}
</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                <li class="active" ><a href="#">Новая операция</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul>
                        <li><a href="#" class="active">Новая операция</a></li>
                    </ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <input type="hidden" name="account" value="">
                    <div class="data_grid_medium" style="">
                        <div class=" m10">
                            <input type="hidden" name="active_tab" value="{{ form.active_tab.value }}">
                            {# -------- Tabs Menu --------- #}
                            {%  include "dds/account_refill_navbar.html" with sel=5 %}
                            {# -------- End of Tabs Menu --------- #}
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=form.item_groups  %}
                                {% include "form_snippets/textinput.html" with field=form.item  %}
                            </div>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=form.company  %}
                            </div>
                            <div class="form_row" id="datatable_wrapper">
                                <table class="sheet_headered none" id="account_datatable">
                                    <thead>
                                        <tr><th></th><th>ID</th><th>Наименование счета</th><th>Контрагент</th><th>Статус счета</th><th>Баланс</th></tr>
                                    </thead>
                                    <tbody></tbody></table>
                            </div>
                            <div class="form_row margint10">
                                {% include "form_snippets/textinput.html" with field=form.summ  %}
                                {% include "form_snippets/radio.html" with field=form.pay_way  %}
                            </div>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=form.comment  %}
                            </div>
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                    </div>
                    <div class="form_row">
                        <span class="button_block">
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                        </span>
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}