{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
<!-- Select2 Bind    --><script type="text/javascript" src="{% static 'js/select2/bind.js' %}"></script>
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/i18n/ru.js' %}"></script>
<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
{#<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>#}
{#<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>#}
{#<!-- DateTime       --><script type="text/javascript" src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>#}
{#<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>#}
{#<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>#}
{#<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>#}
<!-- Tabs JS    --><script type="text/javascript" src="{% static 'js/tabs/lighttabs.js' %}"></script>
<!-- Utils  --><script type="text/javascript" src="{% static 'js/utils/utils.js ' %}"></script>

{% endblock %}
{% block content %}
<script>

        $(document).ready(function() {
            $(".tabs").lightTabs();


            $('#select2_company')
                    .on("change", function (e) {
                            var selected_value = $(this).val();
                             $('#select2_contragent').attr('data-filter_value', selected_value);
                    })
                    .bindselect2(this);

            $('#select2_contragent').bindselect2(this);


            {# отключаем селект контрагента, если компания не выбрана #}
            if (!$('select#select2_client').val()) {
{#                $('select#select2_contragent').prop('disabled', true)#}
            }

        });

</script>
<style>
select.select2_powered {
    width: 300px;
}
div.select2_result_wrapper {
    font-weight: bold;
    font-size: 1.6rem;
}
div.select2_result_wrapper > span {
{#    display: block;#}
    padding: 0 5px 0 0 ;
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
}
div.select2_result_wrapper > span > i {
    padding-left: 0px;
    font-size: 1.1rem;
    font-style: normal;
    color: lightgrey;
}
.tabs{
	display:inline-block;
}
.tabs > div{
	padding-top:10px;
}
.tabs ul{
	margin:0px;
	padding:0px;
}
.tabs ul:after{
	content:"";
	display:block;
	clear:both;
	height:5px;
	background: #D3D3D3;
}
.tabs ul li{
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	background:#F6F5F3;
	color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background: #D3D3D3;
	color: #666;
}
.tabs ul li:hover{
	background:#d6d6d7;
}

</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{#% url 'company_list_clients' %#}">Рейсы</a></li>
                <li class="active" ><a href="#">Новый рейс</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">
                            {% if forms.address.instance %}Основная информация
                            {% else %}Новый объект
                            {% endif %}
                            </a></li></ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <div class="data_grid_medium" style="">
                        <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.dds_item  %}
                        </div>
                        {# ----------------- КЛИЕНТ ------------------ #}
                        <h2 class="m10">Cчет получателя</h2>

                        <div class="tabs m10">
                            <input type="hidden" name="active_tab" value="{{ form.active_tab.value }}">
                            <ul><li>Наличная касса</li><li>Безналичный счет</li><li>Счет услуг</li><li>Счет сотрудника</li><li>Счет контрагента</li></ul>
                            <div>
                                <div>Первое содержимое</div>
                                <div>Второе содержимое</div>
                                <div>Третье содержимое</div>
                                <div>Третье содержимое4</div>
                                <div>{# TAB 5 #}
                                    <div class="form_row">
                                        {% include "form_snippets/textinput.html" with field=form.company  %}
                                        {% include "form_snippets/textinput.html" with field=form.contragent  %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                    </div>
                    <div class="form_row">
                        <span class="button_block">
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                        </span>
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}