 {% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="{% static  'js/utils/ajax_list.js' %}"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
<!-- DateTime       --><script type="text/javascript" src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>
<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>


{% endblock %}
{% block content %}


<script>
    var JsonDataUrl = "/dds/api/dds_accounts_rest/";
    var req_preprocess_result = "1";

    $(document).ready(function() {
        list_data_api();

        {#  Виджет datepicker #}
        $.datetimepicker.setLocale('ru');
        $('input[rel=datetimepicker]').datetimepicker({
            format:'d-m-Y',
            timepicker: false,
        });

        {#    Сортировка по заголовкам столбцов   #}
        $( "table.listing_grid thead a.sortable" ).on("click", function() { SortUpdate(this) });

        {#  Переход на карточу   #}
        $( 'tbody#datatable').on("click", 'tr', function(){
            var id = $(this).data('object_id');
            var url = "/dds/flow/account/" + id +"/";
            document.location.href = url;
        });

    });

        {#  постобработка результата AJAX запроса #}
        function preprocess_result(result) {
            {# подсветка фрагментов текста в соответствии с параметром поиска #}
            var search_string = $('input[name=search]').val();
            result.results = highlight_search_results(result.results, search_string);

            for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {
{#                 изменение формата даты #}
                result.results[i].date = date_json2hr(result.results[i].date);
            }
        }
</script>
{# Шаблон основной таблицы #}
<script type="text/template" id="tmpl_table">{% verbatim %}
    <tr data-object_id="{{ pk }}">
        <td>{{{ name }}}</td>
        <td>{{{ type.val }}}</td>
        <td width="80">{{{ balance }}}</td>
        <td class="text-center">{{#status}}Активен{{/status}}{{^status}}<p class="red">Заблокирован</p>{{/status}}</td>
        <td>{{{ employee.person.family_name }}} {{{ employee.person.given_name }}}{{#employee.person.nick_name}} [{{{ employee.person.nick_name }}}]{{/employee.person.nick_name}}</td>
        <td>{{{ contragent.name }}}</td>
    </tr>

</script>{% endverbatim %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Рейсы</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    {# Форма сортировки данных #}
                    <form method="post" name="params_form" id="params_form">
                        {# скрытые фильтры #}
                        <input type="hidden" name="ordering" value="id"/>
                        <input type="hidden" name="offset" value="0"/>
                        <input type="hidden" name="limit" value="20"/>
                        {# отображенные фильтры #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Поиск</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" class="loading" name="name_ac">
                                </div>
                            </div>
                        </div>
                        {# Тип счета Radio filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Форма оплаты</legend>
                                <div class="input_block">
                                    <label><input type="radio" name="type" value=""  checked><p>Любой тип</p></label>
                                    {% for i in account_types %}
                                    <label><input type="radio" name="type" value="{{ i.pk }}"><p>{{ i.val }}</p></label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {# Статус Radio filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Форма оплаты</legend>
                                <div class="input_block">
                                    <label><input type="radio" name="status" value=""  checked><p>Любой статус</p></label>
                                    <label><input type="radio" name="status" value="True"><p>Активен</p></label>
                                    <label><input type="radio" name="status" value="False"><p>Заблокирован</p></label>
                                </div>
                            </div>
                        </div>
                        {# блок кнопок #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <a href="#" class="textlink" onclick="ResetFormDefault('params_form');">Сбросить</a>
                                    <a href="#" class="button" onclick="list_data_api();">Найти</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {# - Форма сортировки данных #}
                </div>
                <div class="data_grid_listing">
                    {# Основная таблица данных #}
                    <table class="listing_grid">
                        <thead class="">
                            <tr>
                                <th><a href="#" class="sortable" rel="name">Имя</a></th>
                                <th><a href="#" class="sortable" rel="type">Тип счета</a></th>
                                <th><a href="#" class="sortable" rel="balance">Баланс</a></th>
                                <th><a href="#" class="sortable text-center" rel="balance">Статус</a></th>
                                <th><a href="#" rel="">Сотрудник</a></th>
                                <th><a href="#" class="sortable " rel="contragent">Контрагент</a></th>
                            </tr>
                        </thead>
                        <tbody id="datatable" class="">
                        </tbody>
                    </table>
                    {# - Основная таблица данных #}
                    {# Панель управления таблицей #}
                    {% include 'listing_bottom_navbar.html' %}
                    {# - Панель управления таблицей #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}