{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
<!-- Select2 Bind    --><script type="text/javascript" src="{% static 'js/select2/bind.js' %}"></script>
<!-- Select2 JS    --><script type="text/javascript" src="{% static 'js/select2/i18n/ru.js' %}"></script>
<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
{#<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>#}
{#<!-- Datepicker RU  --><script type="text/javascript" src="{% static 'js/ui/datepicker-ru.js ' %}"></script>#}
{#<!-- DateTime       --><script type="text/javascript" src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>#}
{#<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>#}
{#<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>#}
{#<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>#}
{#<!-- Tabs JS    --><script type="text/javascript" src="{% static 'js/tabs/lighttabs.js' %}"></script>#}
<!-- Utils  --><script type="text/javascript" src="{% static 'js/utils/utils.js ' %}"></script>

{% endblock %}
{% block content %}
<script>

    var selected_company = '{{ form.company.value }}';
    var selected_contragent = '{{ form.contragent.value }}';

    $(document).ready(function() {
        if (selected_contragent) {
            load_account_detaild('contragent', selected_contragent);
        }

        {# отключаем селект контрагента, если компания не выбрана #}
        if (!$('select#select2_client').val()) {
            $('select#select2_contragent').prop('disabled', true)
        } else {
            $('select#select2_contragent').attr('data-filter_value', "{{ form.company.value }}");
        }

        {# Виджет Компания #}
        $('#select2_company')
                .on("change", function (e) {
                    /* изменение */
                    var $this = $(this);
                    var selected_id = $this.val();
                    if (selected_id) {
                        /* установить значение переменной selected_company для фильтра в зависимом селекте (контрагент)*/
                        selected_company = selected_id;
                        /* "включить" селект контрагента */
                        $('select#select2_contragent')
                                .prop('disabled', false)
                                .attr('data-filter_value', selected_id)
                                .val(null).change();
                    } else {
                        selected_company = null;
                        $('select#select2_contragent').prop('disabled', true).select2("val", "");
                    }
                })
                .bindselect2(this);

        {# Виджет Контрагент #}
        $('#select2_contragent')
                .on("change", function (e) {
                    console.log("Contr changed!");
                    var $this = $(this);
                    var selected_id = $this.val();
                    if (selected_id) {
                        console.log("Value found!");
                        selected_contragent = selected_id;
                        /* "включить" селект контрагента */
                        load_account_detaild('contragent', selected_contragent);
                    } else {
                        selected_contragent = null;
                    }
                })
                .bindselect2(this);


    });

    function load_account_detaild(param_name, param_value) {
        console.log("load fired!");
        data = { };
        data[param_name] = param_value;
    /* получаем данные из схемы */
        $.ajax({
            tape: 'POST',
            url:  '/dds/api/dds_accounts_rest/',
            dataType: "json",
            data: data
        })
        .done(function(result){
            var $datatable = $('table#account_datatable');
            var $datatable_body = $('tbody', $datatable);
            var $js_template = $('#tmpl_account_table').html(); /* шаблон таблицы */

            /* очищаяем таблицу, если она заполнена */
            $datatable_body.empty();
            /* Стандартная постобработка */
            if (result.results && result.results.length > 0) {                              /* Если из схемы получены строки ( data json['data'] не пуста )*/
                for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {   /* проходим по массиву данных из схемы result.data */
                    var el = result.results[i];
                    var tr = Mustache.to_html($js_template, el);  /* создаем шаблонный объект с данными из элемента массива */
                    $datatable_body.append(tr);                               /* вставляем щаблонный объект (строчку) в таблицу */
                }
            }
            $datatable.removeClass('none');
        });

    }

</script>
{# Шаблон таблицы счетов#}
<script type="text/template" id="tmpl_account_table">{% verbatim %}
<tr data-id="{{ company_contact.id }}">
    <td>{{ pk }}</td>
    <td><input type="checkbox" name="selected_account" value="{{ pk }}">{{ name }}</td>{% endif %}
    <td>{{ contragent.name }}</td>
    <td>{{ status }}</td>
    <td>{{ balance }}</td>
</tr>
</script>{% endverbatim %}
<style>
select.select2_powered {
    width: 300px;
}
div.select2_result_wrapper {
    font-weight: bold;
    font-size: 1.6rem;
}
div.select2_result_wrapper > span {
{#    display: block;#}
    padding: 0 5px 0 0 ;
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
}
div.select2_result_wrapper > span > i {
    padding-left: 0px;
    font-size: 1.1rem;
    font-style: normal;
    color: lightgrey;
}
.tabs{
	display:inline-block;
}
.tabs > div{
	padding-top:10px;
}
.tabs ul{
	margin:0px;
	padding:0px;
}
.tabs ul:after{
	content:"";
	display:block;
	clear:both;
	height:5px;
	background: #D3D3D3;
}
.tabs ul li{
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	background:#F6F5F3;
	color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background: #D3D3D3;
	color: #666;
}
.tabs ul li:hover{
	background:#d6d6d7;
}

</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{#% url 'company_list_clients' %#}">Рейсы</a></li>
                <li class="active" ><a href="#">Новый рейс</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul><li><a href="#" class="active">
                            {% if forms.address.instance %}Основная информация
                            {% else %}Новый объект
                            {% endif %}
                            </a></li></ul><hr>
                </div>
                {# - Левый бар #}
                        {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <div class="data_grid_medium" style="">
                        {# ----------------- КЛИЕНТ ------------------ #}

                        <div class="tabs m10">
                            <input type="hidden" name="active_tab" value="{{ form.active_tab.value }}">
                            <div class="form_row m10">
                                <ul><li>Наличная касса</li><li>Безналичный счет</li><li>Счет услуг</li><li>Счет сотрудника</li><li class="active">Счет контрагента</li></ul>
                            </div>
                            <h2 class="m10">Параметры операции зачисления</h2>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=form.dds_item  %}
                            </div>
                            <div class="form_row">
                                {% include "form_snippets/textinput.html" with field=form.company  %}
                                {% include "form_snippets/textinput.html" with field=form.contragent  %}
                            </div>
                            <div class="form_row">
                                <table class="sheet_headered none" id="account_datatable">
                                    <thead>
                                        <tr><th>ID</th><th>Наименование счета</th><th>Контрагент</th><th>Статус счета</th><th>Баланс</th></tr>
                                    </thead>
                                    <tbody></tbody></table>
                            </div>
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                    </div>
                    <div class="form_row">
                        <span class="button_block">
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                        </span>
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}