{% extends "main.html" %}
{% block content %}
{% load date_compare %}
<script>

</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                <li class="active" ><a href="#">Операция <b>{{ object.pk }}</b></a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                {%  include "dds/operation_left_bar.html" with pk=object.pk sel=1 %}
                {# - Левый бар #}
                <div class="data_grid_medium">
                    <h2>Параметры операции</h2>
                    {# Ключевые значения #}
                    <div class="flex_row ">
                        <div class="values_block ">
                            <span><p>{{ object.pk }}</p><em>номер</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.date|date:"d-m-Y" }}</p><em>Дата</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.item.item_group.name }}</p><em>Группа статей</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.item.name }}</p><em>Статья</em></span>
                        </div>
                        <div class="values_block">
                            <span><p>{{ object.summ }}</p><em>Сумма</em></span>
                        </div>
                    </div>
                    {# - Ключевые значения #}
                    {# Информационный блок - основная информация #}
                    <div class="sheet_row_headered">
                        <table class="sheet_simple">
                            <tr><td>Тип операции</td><td>{% if object.op_type == True %}<i class="icon inherit green" icon=""></i> приход{% else %}<i class="icon inherit red" icon=""></i> расход{% endif %}</td></tr>
                            <tr><td>Примечание</td><td>{{ object.comment|default_if_none:"не указано" }}</td></tr>
                            <tr><td>Форма оплаты</td><td><b>{% if object.pay_way == True %}Безналичная{% else %}Наличная{% endif %}</b></td></tr>
                            {% if object.account.contragent %}
                            <tr><td>Контрагент</td><td><a href="/company/{{ object.account.contragent.company.pk }}/card/" class="textlink">{{ object.account.contragent.name }}</a></td></tr>
                            {% endif %}
                            {% if object.account.employee %}
                            <tr><td>Сотрудник</td><td>
                                <a href="{% url 'person_card' object.account.employee.person.pk %}" class="textlink">
                                    {{ object.account.employee.person.family_name }}  {{ object.account.employee.person.given_name }} [{{ object.account.employee.person.nick_name }}]
                                </a></td></tr>
                            {% endif %}
                            <tr><td>Счет</td><td>{{ object.account.name }} <a class="textlink" href="{% url 'dds_flow_by_account' object.account.pk %}">история</a></td></tr>
                        </table>
                    </div>
                    {# - Информационный блок - основная информация #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}