{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
{% endblock %}
{% block js %}
<!-- Select2 JS    --><script type="text/javascript" src="/static/js/select2/select2.min.js"></script>
<!-- Select2 Bind    --><script type="text/javascript" src="/static/js/select2/bind.js"></script>
<!-- Select2 JS    --><script type="text/javascript" src="/static/js/select2/i18n/ru.js"></script>
<!-- JS Template    --><script type="text/javascript" src="/static/js/mustache/mustache.min.js"></script>
{% endblock %}
{% block content %}
<script>

    $(document).ready(function() {
        var item_out_id = "{{ form.account_out.value }}";
        var item_in_id = "{{ form.account_in.value }}";

        /* Загружаем счет, если он был выбран ранее*/
        if (item_out_id) {
            load_account_detail('account_out_load', 'id', item_out_id);
        }
        if (item_in_id) {
            load_account_detail('account_in_load', 'id', item_in_id);
        }
        /* Переключатель видимости блока, если блок "требуется" */
        $('input[rel="required_switch"]').on("change", function(el) {
            var value = $(this).val();
            var rel = $(this).attr('name');
            var $hide_block = $('div[rel="'+rel+'"]');
            if (value == "True") {
                $hide_block.removeClass('none');
            } else {
                $hide_block.addClass('none');
            }
        });

        /* загружаем список опция для селекта статей*/
        load_items_by_group('id_item_out', '{{ form.item_groups_out.value }}', '{{ form.item_out.value }}');
        load_items_by_group('id_item_in', '{{ form.item_groups_in.value }}', '{{ form.item_in.value }}');

        /* при изменении селекта групп перешружаем список селекта статей */
        $('select[rel="select_group"]').on("change", function (el) {
            var $group_select = $(this);
            var selected_group_id = $group_select.val();
            load_items_by_group($group_select.data('combined-id'), selected_group_id);
        });

        {# Запуск Select2 Ajax #}
        $('select.select2_ajax').each(function() {
                    $(this).bindselect2(this);
                });
        {# Запуск Select2 с готовым набором данных #}
        $('select.select2_preload').each(function(){
            $(this).select2({
                data: [{id:1, text:'Наличные счета'},{id:2, text:'Безналичные счета'},{id:3, text:'Счета услуг'},],
                language: 'ru',
                placeholder: "Прочие счета",
                allowClear: true,
            })
        });

        {# При изменении виджета Select2 подгружаем таблицу счета #}
        $('select.select2')
                .on("change", function (e) {
                    /* изменение */
                    var $this = $(this);
                    var selected_id = $this.val();
                    {# Прячем таблицу счета и ошибку #}

                    $('table#account_datatable').addClass('none');
                    if (selected_id) {
                        /* установить значение переменной selected_company для фильтра в зависимом селекте (контрагент)*/
                        load_account_detail($this.attr('rel'), $this.data('account-field'), selected_id);
                    }
                });

    });

    {# Функция компоновки текста для значений Select2 Employee #}
    function compose_text_employee(item) {
        if (item) {
            return item.person.family_name + " " + item.person.given_name + " ( " + item.person.nick_name +" )";
        }
    }
    {# дополнительные функции #}
    {% include "dds/account_refill_fucntions2.js" %}

</script>
{# Шаблон таблицы счетов#}
<script type="text/template" id="tmpl_account_table">{% verbatim %}
<tr data-id="{{{ pk }}}" {{#checked}}class="green_bg"{{/checked}}>
   <td>{{#status}}<label><input type="checkbox" name="selected_account" value="{{ pk }}" onclick="SelectAccountFromCheck(this);" {{#checked}}checked{{/checked}}>Выбрать</label>{{/status}}</td>
    <td>{{ pk }}</td>
    <td>{{ name }}</td>
    <td>{{ contragent.name }}</td>
    <td>{{#status}}Активен{{/status}}{{^status}}<em class="red">Заблокирован</em>{{/status}}</td>
    <td>{{ balance }}</td>
</tr>
</script>{% endverbatim %}
{#  #}
<style>
select.select2 {
    width: 200px;
}

</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                <li class="active" ><a href="#">Шаблон операции</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul>
                        <li><a href="#" class="active">Новый шаблон</a></li>
                    </ul><hr>
                </div>
                {# - Левый бар #}
                {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    {{ form.account_out }}
                    {{ form.account_in }}
                    <div class="data_grid_medium" style="">
                        <div class=" m10">
                            <h2 class="blue m10">Операция расхода</h2>
                            <div class="form_row">{% include "form_snippets/radio.html" with field=form.account_out_required  %}</div>
                            <div class="form-row  {% if not form.account_out_required.value == True %}none{% endif %}" rel="account_out_required">
                            {#  --- Item out --- #}
                                <div class="form_row flex">
                                    {% include "form_snippets/select.html" with field=form.item_groups_out  %}
                                    {% include "form_snippets/select.html" with field=form.item_out  %}
                                </div>
                            {# ---  Account Out --- #}
{#                                <div class="form-row">#}
{#                                    {% include "form_snippets/radio.html" with field=form.account_out_visible  %}#}
{#                                </div>#}
                            {# ---  Поиск счета  --- #}
                                <div class="form_row" rel="employee_out">
                                    <div class="input_wrapper">
                                        <select class="select2_ajax select2" rel="account_out_load" data-url="/persons/api/employies_rest/" data-field="person.family_name" data-placeholder="Сотрудник / фамилия" data-minlength="2" data-text_func="compose_text_employee" data-account-field="employee"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select class="select2_ajax select2" rel="account_out_load" data-url="/company/api/clients/" data-field="name" data-placeholder="Клиент" data-minlength="2" data-account-field="contragent__company"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select class="select2_preload select2" rel="account_out_load" data-account-field="type"><option></option></select>
                                    </div>
                                </div>
                                <table class="sheet_headered none" rel="account_out_load">
                                    <thead><tr><th></th><th>ID</th><th>Наименование счета</th><th>Контрагент</th><th>Статус счета</th><th>Баланс</th></tr></thead>
                                    <tbody rel="account_out"></tbody>
                                </table>
                            </div>
                            <h2 class="hr blue m10">Операция прихода</h2>
                            <div class="form_row">{% include "form_snippets/radio.html" with field=form.account_in_required  %}</div>
                            <div class="form-row {% if not form.account_in_required.value  == True  %}none{% endif %}" rel="account_in_required">
                            {# --- Item in --- #}
                                <div class="form_row flex">
                                    {% include "form_snippets/select.html" with field=form.item_groups_in  %}
                                    {% include "form_snippets/select.html" with field=form.item_in  %}
                                </div>
                            {# ---  Account in --- #}
{#                                <div class="form-row">#}
{#                                    {% include "form_snippets/radio.html" with field=form.account_in_visible  %}#}
{#                                </div>#}
                            {# ---  Поиск счета  --- #}
                                <div class="form_row" rel="employee_out">
                                    <div class="input_wrapper">
                                        <select name="account_type4" class="select2_ajax select2" rel="account_in_load" data-url="/persons/api/employies_rest/" data-field="person.family_name" data-placeholder="Сотрудник / фамилия" data-minlength="2" data-text_func="compose_text_employee" data-account-field="employee"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select name="account_type5" class="select2_ajax select2" rel="account_in_load" data-url="/company/api/clients/" data-field="name" data-placeholder="Клиент" data-minlength="2" data-account-field="contragent__company"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select name="account_type123" class="select2_preload select2" rel="account_in_load" data-account-field="type"><option></option></select>
                                    </div>
                                </div>
                                <table class="sheet_headered none" rel="account_in_load">
                                    <thead><tr><th></th><th>ID</th><th>Наименование счета</th><th>Контрагент</th><th>Статус счета</th><th>Баланс</th></tr></thead>
                                    <tbody rel="account_in"></tbody>
                                </table>
                            </div>
                            <h2 class="hr blue m10">Параметры операции</h2>
                            <div class="form_row margint10">
                                {% include "form_snippets/textinput.html" with field=form.summ  %}
                                {% include "form_snippets/radio.html" with field=form.pay_way  %}
                                {% include "form_snippets/textinput.html" with field=form.comment  %}
                            </div>
                            <div class="form_row margint10">{% include "form_snippets/textinput.html" with field=form.name  %}</div>
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/form_errors.html" with form=form %}
                    </div>
                    <div class="form_row">
                        <span class="button_block">
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                        </span>
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}