{% extends "main.html" %}
{% load utils %}
{% load static from staticfiles %}
{% block add_static %}
<!-- Select2 CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/select2/select2.min.css' %}'/>
{% endblock %}
{% block js %}
<!-- Select2 JS    --><script type="text/javascript" src="/static/js/select2/select2.min.js"></script>
<!-- Select2 Bind    --><script type="text/javascript" src="/static/js/select2/bind.js"></script>
<!-- Select2 JS    --><script type="text/javascript" src="/static/js/select2/i18n/ru.js"></script>
<!-- JS Template    --><script type="text/javascript" src="/static/js/mustache/mustache.min.js"></script>
{% endblock %}
{% block content %}
<script>

    $(document).ready(function() {
        var account_out_id = "{{ forms.outop.account.value }}";
        var account_in_id = "{{ forms.inop.account.value }}";
        /* INOP Account value: {{ forms.inop.account.value }}   */

        /* Загружаем счет, если он был выбран ранее*/
        if (parseInt(account_out_id) > 0 ) {
            console.log("---Load for out: " + account_out_id);
            load_account_detail('account_out_load', 'id', account_out_id);
        }
        if (parseInt(account_in_id) > 0 ) {
            console.log("---Load for in: " + account_in_id);
            load_account_detail('account_in_load', 'id', account_in_id);
        }

        /* загружаем список опция для селекта статей*/

        load_items_by_group('outop-id_item', '{{ forms.outop.item_groups.value }}', '{{ forms.outop.item.value }}');
        load_items_by_group('inop-id_item', '{{ forms.inop.item_groups.value }}', '{{ forms.inop.item.value }}');

        /* при изменении селекта групп перегружаем список селекта статей */
        $('select[rel="select_group"]').on("change", function (el) {
            console.log("---Select changed!");
            var $group_select = $(this);
            var selected_group_id = $group_select.val();
            load_items_by_group($group_select.data('combined-id'), selected_group_id);
        });

        {# Запуск Select2 Ajax #}
        $('select.select2_ajax').each(function() {
                    $(this).bindselect2(this);
                });
        {# Запуск Select2 с готовым набором данных #}
        $('select.select2_preload').each(function(){
            $(this).select2({
                data: [{id:1, text:'Наличные счета'},{id:2, text:'Безналичные счета'},{id:3, text:'Счета услуг'},],
                language: 'ru',
                placeholder: "Прочие счета",
                allowClear: true,
            })
        });

        {# При изменении виджета Select2 подгружаем таблицу счета #}
        $('select.select2')
                .on("change", function (e) {
                    var $this = $(this);
                    var selected_id = $this.val();

                    {# Прячем таблицу счета и ошибку #}
                    var $datatable = $('table[rel="'+$this.attr('rel')+'"]');
                    $datatable.addClass('none');

                    if (selected_id) {
                        /* установить значение переменной selected_company для фильтра в зависимом селекте (контрагент)*/
                        load_account_detail($this.attr('rel'), $this.data('account-field'), selected_id);
                    }
                });
    });

    {# Функция компоновки текста для значений Select2 Employee #}
    function compose_text_employee(item) {
        if (item) {
            return item.person.family_name + " " + item.person.given_name + " ( " + item.person.nick_name +" )";
        }
    }
    {# дополнительные функции #}
    {% include "dds/account_refill_fucntions2.js" %}

</script>
{# Шаблон таблицы счетов#}
<script type="text/template" id="tmpl_account_table">{% verbatim %}
<tr data-id="{{{ pk }}}" {{#checked}}class="green_bg"{{/checked}}>
   {{#selected}}<td></td>{{/selected}}{{^selected}}<td>{{#status}}<label><input type="checkbox" name="selected_account" value="{{ pk }}" onclick="SelectAccountFromCheck(this);" {{#checked}}checked{{/checked}}>Выбрать</label>{{/status}}</td>{{/selected}}
    <td>{{ name }}</td>
    <td>{{ contragent.name }}</td>
    <td>{{#status}}Активен{{/status}}{{^status}}<em class="red">Заблокирован</em>{{/status}}</td>
    <td>{{ balance }}</td>
</tr>
</script>{% endverbatim %}
{#  #}
<style>
select.select2 {
    width: 200px;
}

</style>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                <li class="active" ><a href="#">Шаблон операции</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul>
                        <li><a href="#" class="active">Новый шаблон</a></li>
                    </ul><hr>
                </div>
                {# - Левый бар #}
                {# Форма объекта #}
                <form action="" method="POST" id="new_object">{% csrf_token %}
                    <div class="data_grid_medium" style="">
                        <h2>{{ template.name }}</h2>
                        <div class=" m10">
                            {# === Операция расхода === #}
                            {% if template.account_out_required %}
{#                            <h3 class="blue m10">Операция расхода</h3>#}
                            {#  --- Item out --- #}
                            <div class="form_row">
                                {% if not forms.outop.item.value|check_none %}
                                    {% include "form_snippets/select.html" with field=forms.outop.item_groups  %}
                                    {% include "form_snippets/select.html" with field=forms.outop.item  %}
                                {% else %}
                                    <input type="hidden" name="outop-item" value="{{ forms.outop.item.value }}">
                                    <div class="input_wrapper">
                                        <legend>Статья операции расхода</legend>
                                        <div class="input_block">
                                            {{ template.item_out.name }}
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            {# ---  Account Out --- #}
                            <input type="hidden" name="outop-account" value="{{ forms.outop.account.value }}">
                            {# ---  Поиск счета  --- #}
                            <div class="form_row flex_column">
                                <div class="input_wrapper">
                                    <legend>Счет списания</legend>
                                </div>
                                {% if not forms.outop.account.value|check_none %}
                                <div class="form_row" rel="employee_out">
                                    <div class="input_wrapper">
                                        <select class="select2_ajax select2" rel="account_out_load" data-url="/persons/api/employies_rest/" data-field="person.family_name" data-placeholder="Сотрудник / фамилия" data-minlength="2" data-text_func="compose_text_employee" data-account-field="employee"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select class="select2_ajax select2" rel="account_out_load" data-url="/company/api/clients/" data-field="name" data-placeholder="Клиент" data-minlength="2" data-account-field="contragent__company"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select class="select2_preload select2" rel="account_out_load" data-account-field="type"><option></option></select>
                                    </div>
                                </div>
                                {% endif %}
                                <table class="sheet_headered none mhorizont10" rel="account_out_load">
                                    <thead><tr><th></th><th>Наименование счета</th><th>Контрагент</th><th>Статус счета</th><th>Баланс</th></tr></thead>
                                    <tbody rel="outop-account"></tbody>
                                </table>
                            </div>
                            {% endif %}
                            <!--------------------------------------------------------------------------------------------------------------------->
                            {# === Операция Прихода === #}
                            {% if template.account_in_required %}
{#                            <h3 class="hr blue m10">Операция прихода</h3>#}
                            {# --- Item in --- #}
                            <div class="form_row">
                                {% if not forms.inop.item.value|check_none %}
                                    {% include "form_snippets/select.html" with field=forms.inop.item_groups  %}
                                    {% include "form_snippets/select.html" with field=forms.inop.item  %}
                                {% else %}
                                    <input type="hidden" name="inop-item" value="{{ forms.inop.item.value }}">
                                    <div class="input_wrapper">
                                        <legend>Статья операции прихода</legend>
                                        <div class="input_block">
                                            {{ template.item_in.name }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {# ---  Account in --- #}
                            <input type="hidden" name="inop-account" value="{{ forms.inop.account.value }}">
                            {# ---  Поиск счета  --- #}
                            <div class="form_row flex_column">
                                <div class="input_wrapper">
                                    <legend>Счет получения</legend>
                                </div>
                                {% if not forms.inop.account.value|check_none %}
                                <div class="form_row" rel="employee_out">
                                    <div class="input_wrapper">
                                        <select name="account_type4" class="select2_ajax select2" rel="account_in_load" data-url="/persons/api/employies_rest/" data-field="person.family_name" data-placeholder="Сотрудник / фамилия" data-minlength="2" data-text_func="compose_text_employee" data-account-field="employee"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select name="account_type5" class="select2_ajax select2" rel="account_in_load" data-url="/company/api/clients/" data-field="name" data-placeholder="Клиент" data-minlength="2" data-account-field="contragent__company"></select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select name="account_type123" class="select2_preload select2" rel="account_in_load" data-account-field="type"><option></option></select>
                                    </div>
                                </div>
                                {% endif %}
                                <table class="sheet_headered none mhorizont10" rel="account_in_load">
                                    <thead><tr><th></th><th>Наименование счета</th><th>Контрагент</th><th>Статус счета</th><th>Баланс</th></tr></thead>
                                    <tbody rel="inop-account"></tbody>
                                </table>
                            </div>
                            {% endif %}
                            <!--------------------------------------------------------------------------------------------------------------------->
                            <h3 class="hr blue m10">Параметры операции</h3>
                            <div class="form_row margint10">
                                {% include "form_snippets/textinput.html" with field=forms.details.summ  %}
                                {% if template.pay_way == True %}
                                    {% include "form_snippets/empty_field.html" with legend="Форма оплаты" label="Наличная" %}
                                {% elif template.pay_way == False %}
                                    {% include "form_snippets/empty_field.html" with legend="Форма оплаты" label="Безналичная" %}
                                {% else  %}
                                    {% include "form_snippets/radio.html" with field=forms.details.pay_way  %}
                                {% endif %}
                                {% include "form_snippets/textinput.html" with field=forms.details.comment  %}
                            </div>
                        </div>
                        {# ошибки формы #}
                        {% include "form_snippets/multiform_errors.html" with forms=forms %}
                    </div>
                    <div class="form_row">
                        <span class="button_block">
                            <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                        </span>
                    </div>
                </form>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}