 {% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="{% static  'js/utils/ajax_list.js' %}"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
<!-- DateTime       --><script type="text/javascript" src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>
<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>


{% endblock %}
{% block content %}


<script>
    var JsonDataUrl = "/dds/api/dds_flow_rest/";
    var req_preprocess_result = "1";

    $(document).ready(function() {
        list_data_api();

        {#  Виджет datepicker #}
        $.datetimepicker.setLocale('ru');
        $('input[rel=datetimepicker]').datetimepicker({
            format:'d-m-Y',
            timepicker: false,
        });

        {#    Автоподсказка для поля сортировки #}
{#        input_autocomplite("driver_family_name_ac", "/ac/", 'person.Employies', 'person__family_name', '__icontains', 'drivers');#}
{#        input_autocomplite("name_ac", "/ac/", 'contragent.Contragents', 'name', '__icontains');#}
{#        input_autocomplite("name_ac", "/ac/", 'contragent.Contragents', 'name', '__icontains');#}
{#        input_autocomplite("name_ac", "/ac/", 'contragent.Contragents', 'name', '__icontains');#}

        {#    Сортировка по заголовкам столбцов   #}
        $( "table.listing_grid thead a.sortable" ).on("click", function() { SortUpdate(this) });

        {#  Переход на карточу   #}
        $( 'tbody#datatable').on("click", 'tr', function(){
            var id = $(this).data('object_id');
            var url = "/dds/operation/" + id +"/card";
            document.location.href = url;
        });

    });

        {#  постобработка результата AJAX запроса #}
        function preprocess_result(result) {
            {# подсветка фрагментов текста в соответствии с параметром поиска #}
            var search_string = $('input[name=search]').val();
            result.results = highlight_search_results(result.results, search_string);

            for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {
{#                 изменение формата даты #}
                result.results[i].date = date_json2hr(result.results[i].date);
            }
        }
</script>
{# Шаблон основной таблицы #}
<script type="text/template" id="tmpl_table">{% verbatim %}
    <tr data-object_id="{{ pk }}">
        <td width="100">{{{ date.date }}}</td>
        <td>{{{ item.name }}}</td>
        <td width="">{{{ account.name }}}</td>
        <td>{{{ summ }}}</td>
        <td  width="50" class="centertext">{{#pay_way}}<i class="dot">•</i>{{/pay_way}}</td>
        <td>{{{ account.name }}}</td>
        <td>{{{ account.type.val }}}</td>
        <td>{{{ comment }}}</td>
    </tr>

</script>{% endverbatim %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                {% if selected_account %}
                <li class="" ><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                <li class="active" ><a href="{% url 'dds_flow_by_account' selected_account %}">Счет№ {{ selected_account }}</a></li>
                {% else %}
                <li class="active" ><a href="{% url 'dds_flow' %}">Движение денег</a></li>
                {% endif %}
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    {# Форма сортировки данных #}
                    <form method="post" name="params_form" id="params_form">
                        {# скрытые фильтры #}
                        <input type="hidden" name="ordering" value="id"/>
                        <input type="hidden" name="offset" value="0"/>
                        <input type="hidden" name="limit" value="20"/>
                        <input type="hidden" name="account" value="{{ selected_account }}"/>
                        {# отображенные фильтры #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Примечание</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" class="loading" name="name_ac">
                                </div>
                            </div>
                        </div>
                        {# Дата начиная с Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Начиная с даты</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" name="date_after" rel="datetimepicker">
                                </div>
                            </div>
                        </div>
                        {# Дата заканчивая Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>по дату</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" name="date_before" rel="datetimepicker">
                                </div>
                            </div>
                        </div>
                        {# Статус Select filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Группа статей</legend>
                                <div class="input_block">
                                    <select name="item__item_group">
                                        <option value="">Любая</option>
                                        {% for i in item_groups %}
                                            <option value="{{ i.id }}">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {# Форма оплаты Radio filter  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Форма оплаты</legend>
                                <div class="input_block">
                                    <label><input type="radio" name="pay_way" value=""  checked><p>Любой тип</p></label>
                                    <label><input type="radio" name="pay_way" value="False"><p>Наличная</p></label>
                                    <label><input type="radio" name="pay_way" value="True"><p>Безналичная</p></label>
                                </div>
                            </div>
                        </div>
                        {# блок кнопок #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <a href="#" class="textlink" onclick="ResetFormDefault('params_form');">Сбросить</a>
                                    <a href="#" class="button" onclick="list_data_api();">Найти</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {# - Форма сортировки данных #}
                </div>
                <div class="data_grid_listing">
                    {# Основная таблица данных #}
                    <table class="listing_grid">
                        <thead class="">
                            <tr>
                                <th><a href="#" class="sortable" rel="date">Дата</a></th>
                                <th><a href="#" class="sortable" rel="item">Статья учета</a></th>
                                <th><a href="#" class="sortable" rel="account">Счет</a></th>
                                <th><a href="#" class="sortable" rel="summ">Сумма</a></th>
                                <th><a href="#" class="sortable centertext" rel="pay_way">б/н</a></th>
                                <th><a href="#" class="sortable" rel="account__name">Наименование счета</a></th>
                                <th><a href="#" class="sortable" rel="account__type">Тип счета</a></th>
                                <th><a href="#" class="" rel="">Примечание</a></th>
                            </tr>
                        </thead>
                        <tbody id="datatable" class="">
                        </tbody>
                    </table>
                    {# - Основная таблица данных #}
                    {# Панель управления таблицей #}
                    {% include 'listing_bottom_navbar.html' %}
                    {# - Панель управления таблицей #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}