 {% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- JS Template    --><script type="text/javascript" src="{% static 'js/mustache/mustache.min.js' %}"></script>
<!-- Ajax listing   --><script type="text/javascript" src="{% static  'js/utils/ajax_list.js' %}"></script>
<!-- Jquery UI      --><script type="text/javascript" src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.theme.min.css' %}'/>
<!-- Jquery UI CSS  --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/ui/jquery-ui.structure.min.css' %}'/>
<!-- DateTime       --><script type="text/javascript" src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>
<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>

{% endblock %}
{% block content %}


<script>
    var JsonDataUrl = "/refuels/api/refuels_rest/";
    var req_preprocess_result = "1";

    $(document).ready(function() {
        list_data_api();

        {#  Виджет datepicker #}
        $.datetimepicker.setLocale('ru');
        $('input[rel=datetimepicker]').datetimepicker({
            format:'d-m-Y',
            timepicker: false,
        });

        {#    Автоподсказка для поля сортировки #}
        input_autocomplite("driver_family_name_ac", "/ac/", 'person.Employies', 'person__family_name', '__icontains', 'drivers');
{#        input_autocomplite("name_ac", "/ac/", 'contragent.Contragents', 'name', '__icontains');#}
{#        input_autocomplite("name_ac", "/ac/", 'contragent.Contragents', 'name', '__icontains');#}
{#        input_autocomplite("name_ac", "/ac/", 'contragent.Contragents', 'name', '__icontains');#}

        {#    Сортировка по заголовкам столбцов   #}
        $( "table.listing_grid thead a.sortable" ).on("click", function() { SortUpdate(this) });

        {#  Переход на карточу   #}

    });

        {#  постобработка результата AJAX запроса #}
        function preprocess_result(result) {
            {# подсветка фрагментов текста в соответствии с параметром поиска #}
            var search_string = $('input[name=search]').val();
            result.results = highlight_search_results(result.results, search_string);

            for (var i = 0,data_len = result.results.length; i < data_len; i++ ) {
{#                 изменение формата даты #}
                if (result.results[i].date_refuel != result.results[i].date_add) {
                    result.results[i].later_added = 1;
                }
                result.results[i].date_refuel = date_json2hr(result.results[i].date_refuel);

                if (parseInt(result.results[i].type) == 0) {
                    result.results[i].card = 1;
                }
            }
        }
</script>
{# Шаблон основной таблицы #}
<script type="text/template" id="tmpl_table">{% verbatim %}
    <tr data-object_id="{{ pk }}">
        <td width="100" class="centertext">{{{ date_refuel.date }}}</td>
        <td width="20">{{#later_added }}<i class="icon" icon=""></i>{{/later_added }}</td>
        <td width="">{{{ car.nick_name }}}</td>
        <td width="">{{{ car.reg_num }}}</td>
        <td>{{{ driver.person.family_name}}} {{ driver.person.given_name }} [{{{ driver.person.nick_name }}}]</td>
        <td width="80" class="centertext">{{#card}}<i class="icon" icon=""></i>{{/card}}</td>
        <td>{{{ km }}}</td>
        <td>{{{ amount }}}</td>
        <td  width=""  class="centertext">{{{ sum }}}</td>
        <td>{{{ comment }}}</td>
    </tr>
</script>{% endverbatim %}
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul><li class="active" ><a href="listing.html">Картотека</a></li></ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                <div class="left_bar">
                    {# Форма сортировки данных #}
                    <form method="post" name="params_form" id="params_form">
                        {# скрытые фильтры #}
                        <input type="hidden" name="ordering" value="id"/>
                        <input type="hidden" name="offset" value="0"/>
                        <input type="hidden" name="limit" value="20"/>
                        {# отображенные фильтры #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Примечание</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" class="loading" name="search">
                                </div>
                            </div>
                        </div>
                        {# Интервал времени  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Начиная с даты</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" name="date_after" id="" rel="datetimepicker">
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Заканчивая датой</legend>
                                <div class="input_block _icon" icon="">
                                    <input type="text" size="15" name="date_before" id="" rel="datetimepicker">
                                </div>
                            </div>
                        </div>
                        {# Водитель #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Водитель<p>фамилия</p></legend>
                                <div class="input_block">
                                    <input type="text" size="15" name="driver_family_name_ac" id="" class="">
                                </div>
                            </div>
                        </div>
                        {# Авто #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Автомобиль<p>ник</p></legend>
                                <div class="input_block">
                                    <input type="text" size="15" name="car_name" id="" class="">
                                </div>
                            </div>
                        </div>
                        {# Тип заправки  #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <legend>Тип заправки</legend>
                                <div class="input_block">
                                    <label><input type="radio" name="type" value=""  checked><p>Любой тип</p></label>
                                    <label><input type="radio" name="type" value="0"><p>Карта</p></label>
                                    <label><input type="radio" name="type" value="1"><p>Наличные</p></label>
                                    <label><input type="radio" name="type" value="2"><p>Талон</p></label>
                                    <label><input type="radio" name="type" value="3"><p>База ДТ</p></label>
                                </div>
                            </div>
                        </div>
                        {# блок кнопок #}
                        <div class="form_row">
                            <div class="input_wrapper nomargin">
                                <div class="input_block">
                                    <a href="#" class="textlink" onclick="ResetFormDefault('params_form');">Сбросить</a>
                                    <a href="#" class="button" onclick="list_data_api();">Найти</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {# - Форма сортировки данных #}
                </div>
                <div class="data_grid_listing">
                    {# Основная таблица данных #}
                    <table class="listing_grid">
                        <thead class="">
                            <tr>
                                <th colspan="2"><a href="#" class="" rel="">Дата</a></th>
                                <th><a href="#" class="" rel="">Машина</a></th>
                                <th><a href="#" class="" rel="">Рег. номер</a></th>
                                <th><a href="#" class="" rel="">Водитель</a></th>
                                <th><a href="#" class="centertext" rel="">Тип</a></th>
                                <th><a href="#" class="" rel="">Километраж</a></th>
                                <th><a href="#" class="" rel="">Литров</a></th>
                                <th><a href="#" class="centertext" rel="sum">Сумма</a></th>
                                <th><a href="#" class="" rel="">Примечание</a></th>
                            </tr>
                        </thead>
                        <tbody id="datatable" class="">
                        </tbody>
                    </table>
                    {# - Основная таблица данных #}
                    {# Панель управления таблицей #}
                    {% include 'listing_bottom_navbar.html' %}
                    {# - Панель управления таблицей #}
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}