{% extends "main.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        {#  Отметка чекбокса   #}
        $( 'tbody#datatable').on("click", 'tr', function() {
            var $chb = $('input', $(this));
            console.log("Val: " + $chb.val());
            if ($chb.prop('checked') == true) {
                $chb.prop('checked', false);
            } else {
                $chb.prop('checked', true);
            }
        });
    });

    function MarkSelected() {
        var selected_ops = [];
        var unselected_ops = [];
        $('input[rel="ops"]').each(function() {
            if ($(this).prop('checked')==true) {
                selected_ops.push($(this).val());
            }
            if ($(this).prop('checked')==false) {
                unselected_ops.push($(this).val());
            }
        });
        $.ajax({
            type: "POST",
            url: '{% url 'refuels_check_update_selected_ajax' %}',
            dataType: 'JSON',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'selected_ops[]': selected_ops, 'unselected_ops[]': unselected_ops}
        })
        .done(function(result){
            location.reload();
        });
        return false;
    }

    function SelectChb()  {
        var $switch = $('input[name="checked_ops"]');
            if ($switch.prop('checked')==false) {
                $('input[rel="ops"]').each(function() {
                    $(this).prop('checked', false);
                });
            } else {
                $('input[rel="ops"]').each(function() {
                    $(this).prop('checked', true);
                });
            }
        return false;
    }
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Заправки</a></li>
                <li><a href="{% url 'refuels_check_report' %}?month={{ report_dt.month }}&year={{ report_dt.year }}">Заправки по картам</a></li>
                <li class="active"><a href="#">Заправки авто <b>{{ car.nick_name }}</b></a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul>
                        <li><a href="#" class="active">Сверка заправок по операциям</a></li>
                    </ul><hr>
                </div>
                {# - Левый бар #}
                <div class="data_grid_medium">
                        <div class="margint10">Заправки для автомобиля <a class="textlink" href="{% url 'car_card' car.pk %}"><b>{{ car.nick_name }}</b> {{ car.reg_num }}</a> за <b>{{ report_dt|date:"F Y" }}</b></div>
                        <div class="margint10">Топливная карта: <b>{{ card.num }}</b> топливная компания: {{ card.fuel_company.name }}</div>
                    <div class="form_row margint10">
                            <h4>Все заправки за период</h4>
                    </div>
                    <div class="form_row">
                        <div class="flex_block">
                            <table class="sheet_headered marginr10 pointed" width="">
                                <thead>
                                <tr>
                                    <th width="120px">Дата / время</th>
                                    <th>Водитель</th>
                                    <th class="centertext">Кол-во литров</th>
                                    <th>Километраж</th>
                                    <th>Сверено</th>
                                    <th><div class="checkbox_wrapper"><input type="checkbox" name="checked_ops" onclick="SelectChb();"></div></th>
                                </tr>
                                </thead>
                                <tbody id="datatable">
                                    {% for l in refuels %}
                                    <tr>
                                        <td>{{ l.date|date:"d-m-y H:i"}}</td>
                                        <td>{{ l.driver.person.family_name}} {{ l.driver.person.given_name}} {{ l.driver.person.nick_name}}</td>
                                        <td class="centertext">{{ l.amount }}</td>
                                        <td class="centertext">{{ l.km }}</td>
                                        <td class="centertext">{% if l.checked %}<i class="icon green" icon=""></i> {% endif %}</td>
                                        <td class="centertext"><input type="checkbox" rel="ops" name="checked_ops[]" value="{{ l.pk }}" {% if l.checked %}checked{% endif %}></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form_row">
                        <a class="button" href="#" onclick="MarkSelected();"><i class="icon pt2" icon=""></i>Отметить / Снять отметку с выбранных</a>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}