{% extends "main.html" %}
{% load static from staticfiles %}
{% block add_static %}
<!-- DateTime CSS   --><link rel='stylesheet' media="screen" type='text/css' href='{% static 'js/datetime/jquery.datetimepicker.css' %}'/>
{% endblock %}
{%  block js %}
<!-- DateTime       --><script type="text/javascript" src="/static/js/datetime/jquery.datetimepicker.full.min.js"></script>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {

        {% if not form.date_refuel.is_hidden %}
        {#    Виджет datepicker #}
        $.datetimepicker.setLocale('ru');
        $('input[name=date_refuel]').datetimepicker({
            format:'d-m-Y H:m:s',
            timepicker: true,
        });
        {% endif %}
    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Заправки</a></li>
                {# Если объект уже создан в базе (редактирование) #}
                {% if form.instance.id %}
                <li class=""><a href="{% url 'car_card' object.pk %}"><b>{{ object.nick_name }}</b> <i> {{ object.reg_num }}</i></a></li>
                <li class="active"><a href="#">Редактор информации</a></li>
                {% else %}
                <li class="active"><a href="#">Новая заправка</a></li>

                {% endif %}
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul>
                        {% if form.instance.id %}
                            <li><a href="#" class="active">Параметры заправки</a></li>
                        {% else %}
                            <li><a href="#" class="active">Новая заправка</a></li>
                        {%  endif %}
                    </ul><hr>
                </div>
                {# - Левый бар #}
                <div class="data_grid_medium">
                    <div class="form_row">
                        <h2>{% if form.instance.id %} Основная инфомрация{% else %}Новая заправка {% endif %}{% if data.type_pk == "1" %}за наличные{% elif data.type_pk == "0" %}по карте{% endif %}</h2>
                    </div>
                    <div class="flex_row">
                        <div class="flex_column marginr10 flex_zero">

                            <div class="flex_row">
                                <table class="sheet_simple">
                                    {% if data.driver %}
                                        <tr><td>Водитель</td><td><b>{{ data.driver.person.given_name }}{{ data.driver.person.family_name }} [{{ data.driver.person.nick_name }}]</b></td></tr>
                                    {% endif %}
                                    {% if data.car %}
                                        <tr><td>Автомобиль</td><td><b>{{ data.car.nick_name }} ({{ data.car.reg_num }})</b>   Модель: {{ data.car.model.val }}</td></tr>
                                    {% endif %}
                                    {% if data.card %}
                                        <tr><td>Топливная карта</td><td><b>{{ data.card.num }}</b> топливная компания: {{ data.card.fuel_company.name }}</td></tr>
                                    {% endif %}
                                </table>
                            </div>
                            {# - Форма объекта #}
                            <form action="" method="POST" id="new_object">{% csrf_token %}
                                {# Скрытые поля #}
                                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                {# --- Водитель --- #}
                                {% if not view.driver_pk %}
                                    <div class="form_row">{% include "form_snippets/select.html" with field=form.driver  %}</div>
                                {% endif %}
                                {# --- Автомобиль --- #}
                                {% if not view.car_pk %}
                                    <div class="form_row">{% include "form_snippets/select.html" with field=form.car %}</div>
                                {% endif %}
                                {% if not form.date_refuel.is_hidden %}
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.date_refuel  %}</div>
                                {% endif %}
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.amount  %}</div>
                                {% if not form.sum.is_hidden %}
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.sum  %}</div>
                                {% endif %}
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.km  %}</div>
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.comment  %}</div>
                                {# ошибки формы #}
                                {% include "form_snippets/form_errors.html" with form=form %}
                                {# Кнопки #}
                                <div class="form_row">
                                    <span class="button_block">
                                        <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                    </span>
                                </div>
                                {# - Кнопки #}
                            </form>
                        </div>
                        <div class="flex_column marginr10">
                            <h3>Последние заправки и сверки пробега</h3>
                            <div class="flex_block">
                                <table class="sheet_headered  margint10 marginr10 " width="">
                                    <thead>
                                    <tr>
                                        <th colspan="2" width="120px" class="centertext">Дата, время</th>
                                        <th>Километраж</th>
                                        <th  class="centertext">Тип</th>
                                        <th width="">Литров</th>
                                        <th width="">Сумма</th>
                                        <th width="180px">Примечатние</th>
                                    </tr>
                                    </thead>
                                    <tbody id="datatable">
                                        {% for l in refuels %}
                                        <tr data-object_id="{{ l.pk }}">
                                            <td>{{ l.date_refuel|date:"d-m-y H:i"}}</td>
                                            <td width="30">{% if l.run_check  %}<i class="icon" icon=""></i>{% endif %}</td>
                                            <td>{{ l.km }}</td>
                                            <td class="centertext">{% if l.type == "0" %}<i class="icon" icon=""></i>{% elif l.type == "1"%}₽{% endif %}</td>
                                            <td>{{ l.amount }}</td>
                                            <td>{{ l.sum }}</td>
                                            <td>{{ l.comment|default_if_none:""}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}