{% extends "main.html" %}
{% block content %}
<script>
    $(document).ready(function() {
    });
</script>
        {# Breadcrumbs #}
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Заправки</a></li>
                <li class="active"><a href="#">Cверка пробега</a></li>
            </ul>
        </div>
        {# - Breadcrumbs #}
        <div class="sheet_wrapper">
            <div class="left_border"><span class="upblock"></span></div>
            {# Рабочий лист #}
            <div class="sheet">
                {# Левый бар - меню карточки  #}
                <div class="left_bar">
                    <ul>
                        <li><a href="#" class="active">Cверка пробега</a></li>
                    </ul><hr>
                </div>
                {# - Левый бар #}
                <div class="data_grid_medium">
                    <div class="form_row">
                        <h2>Сверка показаний о пробеге</h2>
                    </div>
                    <div class="flex_row">
                        <div class="flex_column marginr10 flex_zero">

                            <div class="flex_row">
                                <table class="sheet_simple">
                                    {% if driver %}
                                        <tr><td>Водитель</td><td><b>{{ driver.person.given_name }}{{ driver.person.family_name }} [{{ driver.person.nick_name }}]</b></td></tr>
                                    {% endif %}
                                    {% if car %}
                                        <tr><td>Автомобиль</td><td><b>{{ car.nick_name }} ({{ car.reg_num }})</b>   Модель: {{ car.model.val }}</td></tr>
                                    {% endif %}
                                </table>
                            </div>
                            {# - Форма объекта #}
                            <form action="" method="POST" id="new_object">{% csrf_token %}
                                {# Скрытые поля #}
                                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                {# - Водитель - #}
                                {% if not form.driver.is_hidden %}
                                    <div class="form_row">{% include "form_snippets/select.html" with field=form.driver  %}</div>
                                {% endif %}
                                {# - Автомобиль - #}
                                {% if not form.car.is_hidden %}
                                    <div class="form_row">{% include "form_snippets/select.html" with field=form.car %}</div>
                                {% endif %}
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.km  %}</div>
                                <div class="form_row">{% include "form_snippets/textinput.html" with field=form.comment  %}</div>
                                {# ошибки формы #}
                                {% include "form_snippets/form_errors.html" with form=form %}
                                {# Кнопки #}
                                <div class="form_row">
                                    <span class="button_block">
                                        <a class="button"  onclick="$('form#new_object').submit();">Сохранить</a>
                                    </span>
                                </div>
                                {# - Кнопки #}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# - Рабочий лист #}
            <div class="right_border"><span class="upblock"></span></div>
        </div>
{% endblock %}